Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

endpoint to get agenda items (#509)
  app/data/holidays.py
  app/data/routes.py
  app/schemas.py
  tests/ami/data/test_all.py
  tests/ami/data/test_public_holidays.py
  tests/ami/data/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

add elections data (#509)
  app/data/internal.py
  app/data/routes.py
  app/schemas.py
  tests/ami/data/test_all.py
  tests/ami/data/test_internal.py
Due: no-vanilla-httpx-usage, pyright

catalog entries filtering (#542)
  app/data/routes.py
  app/schemas.py
  tests/ami/data/test_all.py
Due: no-vanilla-httpx-usage, pyright

harmonize catalog fuctions with positional arguments (#542)
  app/data/holidays.py
  app/data/internal.py
  app/data/routes.py
  tests/ami/data/test_all.py
  tests/ami/data/test_internal.py
  tests/ami/data/test_public_holidays.py
  tests/ami/data/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

use filter-items to get missing items only (#542)
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

display only OTV items that have started (#534)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

simplify catalog tests (#534)
  public/mobile-app/src/lib/api-catalog.test.ts
Due: npm-lint-and-format, typescript-check

Use an explicit "back url" instead of the brittle window.history.back() (#550)
  public/mobile-app/src/lib/components/BackButton.svelte
  public/mobile-app/src/lib/components/BackButton.svelte.test.ts
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte.test.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

Remove unused import (#468)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Extract and move retrieveProcedureUrl (#468)
  public/mobile-app/src/lib/procedure.test.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format, typescript-check

Update unit tests after move (#468)
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Extract buildUser method (#468)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+layout.ts
Due: npm-lint-and-format, typescript-check

Call retrieveNotifications and count unread on login (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

Add tests to initializeDataFromAPI (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

commit previous changes
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

Extract and move localStorage initialization (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

to fixup
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

Extract initialization method in root svelte page (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Call buildAgenda on login (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

Allow multiple identity providers for FC and not FIN by default (#560)
  .env
  app/controllers/auth.py
  app/env.py
  tests/ami/auth/test_login.py
Due: no-vanilla-httpx-usage, pyright

simplify
  app/controllers/notification.py
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/notifications.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

add and store send_status in notification table (#561)
  app/controllers/notification.py
  app/models.py
  migrations/versions/b58f3c00a8ce_notification_send_status.py
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

move data-update-info block under forms (#557)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

add sentry metrics (#415)
  app/controllers/notification.py
  app/sentry.py
  app/services/notification.py
Due: no-vanilla-httpx-usage, pyright

matomo integration (#395)
  .env
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/routes/+layout.svelte
Due: npm-lint-and-format, typescript-check

restrict access to ami_admin pages (#539)
  .env
  app/admin/auth.py
  app/admin/routes.py
  templates/ami-admin/unauthorized.html
  tests/ami_admin/test_basic.py
  tests/ami_admin/test_notification.py
  tests/ami_admin/utils.py
Due: no-vanilla-httpx-usage, pyright

contact page, add a button to contact team by email (#573)
  .env
  public/mobile-app/src/routes/contact/+page.svelte
Due: npm-lint-and-format

Don't allow website access unless it's explicitely set public (#451)
  .env.development
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/dsfr.ts
  public/mobile-app/src/lib/nativeEvents.test.ts
  public/mobile-app/src/lib/nativeEvents.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/forbidden/+page.svelte
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check
