Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Scroll the input field to the top when focused (#568)
  public/mobile-app/src/lib/utils.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format, typescript-check

Scroll the address input to the top when there are addresses listed below it following some input
  public/mobile-app/src/lib/utils.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format, typescript-check

Never reduce the size of the window in the address page, so it doesn't mess up with the scroll position
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

Don't trigger a refresh loop when the size of the window is just too short or just too long
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
Due: npm-lint-and-format

@cdesquilbet-dila's review: no extra scrolling space when not needed
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

Sticky headers (#568)
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
Due: npm-lint-and-format

front: remove "custom" flag for agenda items (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: fix Preferences.fromJSON to have Address[] (#802)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: reorganize zone and cities in agenda item description (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: hide zones if holiday zones match all user preferences (#802)
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: don't display OTV if zones don't match user preferences (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: adapt agenda item design (#802)
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format

front: Item is composed of SubItems (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: multitile for holidays (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

Replicate Users with django command (#791)
  ami/replication/management/__init__.py
  ami/replication/management/commands/__init__.py
  ami/replication/management/commands/replicate-anonymized-data.py
  ami/replication/migrations/0001_initial.py
  ami/replication/models.py
  ami/replication/tests/tests.py
  ami/settings.py
  cron.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Add logs (#791)
  ami/replication/management/commands/replicate-anonymized-data.py
Due: no-vanilla-httpx-usage, pyright

Add init file in migration folder to activate (#791)
  ami/replication/migrations/__init__.py
Due: no-vanilla-httpx-usage, pyright

Add data ware house config in settings (#791)
  .env
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Refactoring replicate method and add database interaction tests (#791)
  ami/replication/app.py
  ami/replication/management/commands/replicate-anonymized-data.py
  ami/replication/tests/tests.py
Due: no-vanilla-httpx-usage, pyright

Add a fixture for multiple users (#791)
  ami/conftest.py
Due: no-vanilla-httpx-usage, pyright

Refactor test fixture usage (#791)
  ami/replication/tests/tests.py
Due: no-vanilla-httpx-usage, pyright

Add try/except for db error (#791)
  ami/replication/management/commands/replicate-anonymized-data.py
Due: no-vanilla-httpx-usage, pyright

front: fix link to notification preferences from notification page (#833)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix makefile command call (#791)
  Makefile
Due: none

Make replication tests discoverable by CI (#791)
  ami/replication/tests/__init__.py
  ami/replication/tests/test_replication.py
Due: no-vanilla-httpx-usage, pyright

Agent: fix has_role_notifications property (#773)
  ami/agent/models.py
  ami/agent/tests/test_models.py
  ami/agent_admin/tests/conftest.py
  ami/conftest.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: add entry in menu to send notification (#773)
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/send_notification.html
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/tests/test_send_notification.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

amidsfr: new app to have checkbox as toggle (#773)
  ami/agent_admin/forms.py
  ami/amidsfr/__init__.py
  ami/amidsfr/apps.py
  ami/amidsfr/forms.py
  ami/amidsfr/templates/amidsfr/form_field_snippets/field_snippet.html
  ami/amidsfr/templates/amidsfr/form_field_snippets/toggle_snippet.html
  ami/amidsfr/templates/amidsfr/form_snippet.html
  ami/amidsfr/templatetags/__init__.py
  ami/amidsfr/templatetags/amidsfr_tags.py
  ami/amidsfr/widgets.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: set timezone (#773)
  ami/agent/auth.py
  ami/agent/tests/test_auth_middleware.py
  ami/settings.py
  ami/utils/middleware.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: more specific css and js rules (#773)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/static/js/agent-admin-scripts.js
Due: npm-lint-and-format

httpx client: use contextmanager to close connection (#773)
  ami/agenda/data/holidays.py
  ami/notification/push.py
  ami/utils/api_views.py
  ami/utils/httpx.py
  ami/utils/tests/test_httpx.py
Due: no-vanilla-httpx-usage, pyright

notification request: add message on 404 errors (#773)
  ami/notification/api_views.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: notification request as AMI partner (#773)
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/send_notification.html
  ami/agent_admin/tests/test_send_notification.py
  ami/agent_admin/views.py
  ami/utils/httpx.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: prevent double submit (#773)
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/send_notification.html
Due: npm-lint-and-format

agent-admin: api endpoint for fc_hash autocomplete (#773)
  ami/agent_admin/api_views.py
  ami/agent_admin/tests/api/__init__.py
  ami/agent_admin/tests/test_users.py
  ami/agent_admin/urls.py
Due: no-vanilla-httpx-usage, pyright
