Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

login page with red backdroung (#117)
  templates/base-rvo.html
Due: none

[RVO] Add a detail page for an appointment
  app/rvo.py
  templates/base-rvo.html
  templates/rvo-detail.html
  templates/rvo-liste.html
Due: pyright

[AMI] Add a detail page for an appointment, with a link to cancel it on RVO
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format

If RVO needed a login, redirect to the requested page after login
  app/rvo.py
  tests/test_basic.py
Due: pyright

[RVO] add a dynamic meeting list (#69)
  app/rvo.py
  templates/rvo-liste.html
  tests/test_basic.py
Due: pyright

Extract method
  app/rvo.py
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format, pyright

check User creation in userinfo endpoint
  app/models/database.py
  tests/test_basic.py
Due: pyright

Fix downgrade on migration
  migrations/versions/173bf68e90e0_simplify_registration_model.py
Due: pyright

user birthdate is a date, not a datetime
  app/models/database.py
  app/models/endpoints.py
  tests/test_basic.py
Due: pyright

data is type of Registration in register endpoint
  app/__init__.py
  app/models/endpoints.py
Due: pyright

Update subscription on mount
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
Due: npm-lint-and-format

User can subscribe to receive messages and notifications
  app/__init__.py
  app/models/__init__.py
  app/models/business.py
  app/models/database.py
  app/models/endpoints.py
  app/rvo.py
  migrations/env.py
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
  migrations/versions/bcfa2f59d108_add_userinfo_in_user.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
  templates/rvo/base.html
  templates/rvo/list-users.html
  templates/rvo/liste.html
  templates/rvo/logged-out.html
  templates/rvo/send-message.html
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Fix registration with id as string
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright

remove patch registration endpoints
  app/__init__.py
  app/models/database.py
  app/models/endpoints.py
  tests/test_basic.py
Due: pyright

fix test_ami_fc_get_userinfo
  tests/test_basic.py
Due: pyright

Split tests
  app/rvo.py
  templates/rvo/detail.html
  tests/ami/__init__.py
  tests/ami/test_basic.py
  tests/rvo/__init__.py
  tests/rvo/test_basic.py
Due: pyright

Fix registration
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
Due: npm-lint-and-format

add migration for Registration model
  migrations/versions/173bf68e90e0_simplify_registration_model.py
Due: pyright

Update initials in menu and fix frontend unit tests
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.js
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/notifications.js
  public/mobile-app/src/lib/notifications.test.js
Due: npm-lint-and-format

Add frontend tests and clean code
  app/__init__.py
  app/models/business.py
  app/models/database.py
  public/admin.js
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/vite.config.ts
  templates/admin.html
Due: npm-lint-and-format, pyright

@zebuline's review
  app/rvo.py
Due: pyright

Update logout banner style
  biome.json
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/static/icons/fr--success-line-green.svg
Due: npm-lint-and-format

For my dev env
  .gitignore
Due: none

Move connexion scenarios in connexion feature.
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/notifications.feature
Due: none

launching cucumber js from command line
  CONTRIBUTING-BEHAVIOR.md
  public/mobile-app/package.json
Due: npm-lint-and-format

Target test
  public/mobile-app/tests/features/france-connexion.feature
Due: none

add HTML linting and formatting on pre-commit (#147)
  .pre-commit-config.yaml
Due: none

apply HTML linting and formatting (#147)
  public/mobile-app/src/app.html
  templates/base-rvo.html
  templates/base.html
  templates/rvo-detail.html
  templates/rvo-liste.html
Due: none

[AMI] meeting detail header integration (#144)
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format

fix biome.json to add svelte pages (#144)
  biome.json
Due: npm-lint-and-format

[AMI] meeting detail body integration (#144)
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format

fixup! [AMI] meeting detail header integration (#144)
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format
