Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

Revert adding `content_private_body` to the ScheduledNotification model (#914)
  ami/notification/migrations/0011_remove_content_private_body_from_ScheduledNotification.py
  ami/notification/models.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_scheduled_notification.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
Due: no-vanilla-httpx-usage, pyright

Load the DEBUG env var from the .env.local file (#905)
  CONTRIBUTING.md
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Route replication database accesses to datawarehouse (#904)
  ami/replication/app.py
  ami/replication/migrations/0006_alter_anonymizeduser_replication_id.py
  ami/replication/models.py
  ami/replication/router.py
  ami/replication/tests/test_replication.py
  ami/settings.py
  bin/start.sh
Due: no-vanilla-httpx-usage, pyright

agent-admin: send-notification, no default values for item fields (#878)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_send_notification.py
Due: no-vanilla-httpx-usage, pyright

front: navigate to zone preferences on first login (#788)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/zones/+page.svelte
  public/mobile-app/src/routes/welcome/zones/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: remove unused svg files (#789)
  public/mobile-app/static/icons/pro-connect-logo.svg
  public/mobile-app/static/icons/rvo-logo-connected.svg
  public/mobile-app/static/icons/rvo-logo-not-connected.svg
Due: none

fix gitignore: mobile-app's static dir was ignored (#789)
  .gitignore
Due: none

front: methods for preferences to add and remove address (#789)
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: lib to search cities and get city in BAN format (#789)
  .env
  public/mobile-app/src/lib/citiesFromGeoAPIAndBAN.test.ts
  public/mobile-app/src/lib/citiesFromGeoAPIAndBAN.ts
Due: npm-lint-and-format, typescript-check

front: modal component, content can be toggled (#789)
  public/mobile-app/src/lib/components/modal/Logout.svelte
  public/mobile-app/src/lib/components/modal/Modal.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
Due: npm-lint-and-format

front: select zone by city selection (#789)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/components/modal/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/static/icons/city-search.svg
Due: npm-lint-and-format, typescript-check

front: add id to ToggleTag type, and sort tags by label (#789)
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
  public/mobile-app/src/lib/types/components/toggletag.ts
Due: npm-lint-and-format, typescript-check

front: remove address from preferences on city tag remove (#789)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: on welcome page, hide zone toggles on city input focus (#789)
  public/mobile-app/src/routes/welcome/zones/+page.svelte
Due: npm-lint-and-format

front: method for preferences to clear addresses (#789)
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: button to clear addresses (#789)
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Update notification link to followup page when notification has an item (#794)
  ami/notification/models.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Make sure the PageWrapper uses the full height of the viewport even on Android's WebView (#944)
  public/mobile-app/src/lib/components/PageWrapper.svelte
Due: npm-lint-and-format

API v2 event documentation (#778)
  ami/api/urls.py
  ami/notification/api_urls_v2.py
  ami/notification/api_views_v2.py
  ami/notification/serializers.py
Due: no-vanilla-httpx-usage, pyright

front: fix edit-address page scroll on address selection (#946)
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

front: edit-address, remove focus on address selection (#946)
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

front: remove listContainer variable (#946)
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
