Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

to fixup - fix accessibility
  public/mobile-app/src/routes/adresse/+page.svelte
Due: npm-lint-and-format

Add form page in front end (#228)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/adresse/+page.svelte
  public/mobile-app/src/routes/adresse/addressesFromBAN.ts
Due: npm-lint-and-format

Update block in homepage to add an address (#228)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/icons/house.svg
Due: npm-lint-and-format

todo: fix submit button position
  public/mobile-app/src/routes/adresse/+page.svelte
Due: npm-lint-and-format

[AMI] requests container (#263)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/arrow-line-disabled.svg
  public/mobile-app/static/remixicons/tracking.svg
Due: npm-lint-and-format

to fixup
  public/mobile-app/src/routes/adresse/+page.svelte
Due: npm-lint-and-format

[AMI] Display first agenda item on dashboard (#263)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format

[AMI] remove list entry from menu (#271)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
  public/mobile-app/static/remixicons/list-check.svg
Due: npm-lint-and-format

[AMI] update requests entry in menu (#271)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
  public/mobile-app/static/remixicons/edit-line.svg
  public/mobile-app/static/remixicons/vector.svg
Due: npm-lint-and-format

to fixup
  public/mobile-app/src/routes/adresse/+page.svelte
  public/mobile-app/src/routes/adresse/addressesFromBAN.ts
Due: npm-lint-and-format

wip
  public/mobile-app/src/routes/adresse/+page.svelte
  public/mobile-app/src/routes/adresse/addressesFromBAN.test.ts
  public/mobile-app/src/routes/adresse/addressesFromBAN.ts
Due: npm-lint-and-format

A first description of how firebase notifications work
  adr/2025-11-28 notification with firebase.excalidraw.svg
  adr/2025-11-28 notification with firebase.md
Due: none

First playwright BDD scenario
  .vscode/settings.json
  public/mobile-app/package.json
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
Due: npm-lint-and-format

document test:cucumber filtering @OK scenarios
  CONTRIBUTING-BEHAVIOR.md
Due: none

Better configs alternative
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
Due: none

playwright & cucumber installation details
  CONTRIBUTING-BEHAVIOR.md
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

Lint and format
  .vscode/settings.json
Due: npm-lint-and-format

Fake commit to create review app
  README.md
Due: none

Correct name of the AMI token
  adr/2025-11-28 notification with firebase.md
Due: none

@otterways and @cdesquilbet-dila reviews
  app/__init__.py
Due: pyright

Properly type array in notifications/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

first batch of type fixes
  public/mobile-app/.claude/settings.local.json
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/tests/utils.js
Due: npm-lint-and-format

Use instead of awaiting on setTimeout in js tests
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format

Typecheck svelte and typescript code in the pre-commit and CI (#310)
  .pre-commit-config.yaml
  package.json
Due: npm-lint-and-format

Endpoint /dev-utils/review-apps lists the active review apps for the mobile apps webview (#240)
  app/__init__.py
Due: pyright

Second (and final?) batch of type fixes
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
  public/mobile-app/src/lib/api-particulier.test.ts
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/prettyDate.test.js
  public/mobile-app/src/lib/prettyDate.ts
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format

Update the CI workflow
  .github/workflows/pytest.yml
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format

@zebuline's review
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.ts
Due: npm-lint-and-format

Initialize notifications API endpoint (#234)
  app/controllers/notification.py
  app/schemas.py
Due: pyright

Add function to hash FC pivotal data (#234)
  app/utils.py
  tests/ami/test_basic.py
Due: pyright

Duplicate the Notify endpoint so it's also available as a url_encoded body version
  app/controllers/notification.py
  app/controllers/utils.py
Due: pyright

Rename notify admin endpoint (#234)
  app/controllers/notification.py
  templates/ami-admin/send-notification.html
  templates/rvo/send-notification.html
  tests/ami/test_basic.py
Due: pyright

Dev utils endpoint to test ami_hash
  app/__init__.py
Due: pyright

Add recipient_fc_hash examples (#234)
  tests/recipient_fc_hashes/__init__.py
  tests/recipient_fc_hashes/test.csv
  tests/recipient_fc_hashes/test_create_hashes.py
  tests/recipient_fc_hashes/test_results.csv
Due: pyright

Add openapi documentation (#234)
  app/schemas.py
  tests/ami/test_notification.py
Due: pyright

Implement notify send KO with 200 (#234)
  app/controllers/notification.py
  tests/ami/test_basic.py
Due: pyright

Extract notifications unit tests to dedicated file (#234)
  tests/ami/test_basic.py
  tests/ami/test_notification.py
Due: pyright

Rename NotificationPivotHashCreate to Notifications (#234)
  app/controllers/notification.py
  app/schemas.py
Due: pyright
