Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

Don't display secrets in error messages (#296)
  app/__init__.py
  app/ami_admin.py
  app/rvo.py
Due: pyright

@zebuline's review
  tests/ami/test_basic.py
  tests/ami_admin/test_basic.py
  tests/rvo/test_basic.py
Due: pyright

Display a nice error message when failing to query the user token from FC
  app/__init__.py
  app/utils.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

remove unused template (#101)
  templates/base.html
Due: none

[AMI] fix user_id type in models (#101)
  app/models.py
Due: pyright

[RVO] move rvo code in a dedicated module (#101)
  app/__init__.py
  app/rvo/__init__.py
  app/rvo/auth.py
  app/rvo/routes.py
Due: pyright

[AMI] move admin code in a dedicated module (#101)
  app/__init__.py
  app/admin/__init__.py
  app/admin/auth.py
  app/admin/routes.py
Due: pyright

[AMI] Nonce model for FC authentication without session (#101)
  app/models.py
  app/services/nonce.py
  migrations/versions/f3da16766119_nonce_model.py
Due: pyright

[AMI] move auth views in a controller (#101)
  app/__init__.py
  app/admin/routes.py
  app/auth.py
  app/controllers/auth.py
  app/rvo/routes.py
  app/utils.py
  tests/ami/test_basic.py
  tests/rvo/test_basic.py
Due: pyright

[AMI] set before_send_handler in SQLAlchemyAsyncConfig (#101)
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/database.py
Due: pyright

[AMI] move auth tests in a dedicated module (#101)
  tests/ami/test_auth.py
  tests/ami/test_basic.py
Due: pyright

[AMI] use nonce model instead of session (#101)
  app/controllers/auth.py
  tests/ami/test_auth.py
Due: pyright

[AMI] enable sessions only in admin and rvo (#101)
  app/__init__.py
  app/admin/routes.py
  app/rvo/routes.py
  tests/conftest.py
Due: pyright

[AMI] move also fc userinfo test in auth test module (#101)
  tests/ami/test_auth.py
  tests/ami/test_basic.py
Due: pyright

[AMI] set jwt cookie auth after userinfo call (#101)
  .env
  app/__init__.py
  app/auth.py
  app/controllers/user.py
  app/env.py
  app/services/user.py
  tests/ami/test_auth.py
Due: pyright

[AMI] add a logout view to delete jwt cookie auth (#101)
  app/controllers/auth.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  tests/ami/test_auth.py
  tests/ami/utils.py
Due: npm-lint-and-format, pyright

[AMI] authenticated data endpoints (#101)
  app/auth.py
  app/data/routes.py
  public/mobile-app/src/lib/api-holidays.ts
  public/mobile-app/src/lib/api-particulier.ts
  tests/ami/test_data.py
Due: npm-lint-and-format, pyright

[AMI] prefix all registrations endpoints by users (#101)
  app/controllers/registration.py
  public/mobile-app/src/lib/registration.js
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

[AMI] authenticated notification endpoints (#101)
  app/__init__.py
  app/auth.py
  app/controllers/notification.py
  app/services/user.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

[AMI] use jwt_cookie_auth middleware and not on_app_init (#101)
  app/__init__.py
  app/auth.py
  app/controllers/auth.py
Due: pyright

[AMI] authenticated registration endpoints (#101)
  app/auth.py
  app/controllers/registration.py
  app/schemas.py
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

[AMI] remove unecessary return_dto param (#101)
  app/controllers/notification.py
Due: pyright

Update documentation to make sure no one uses `npm install` instead of `npm ci`
  CONTRIBUTING-BEHAVIOR.md
  public/mobile-app/README.md
Due: none

Use pinned versions for the package.json files
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

[AMI] rename JWT_SECRET key, and generate it for new envs (#101)
  .env
  .github/workflows/pytest.yml
  app/auth.py
  app/env.py
  bin/start.sh
Due: pyright
