Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: don't display OTV if zones don't match user preferences (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: adapt agenda item design (#802)
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format

front: Item is composed of SubItems (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: multitile for holidays (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: simplify equals methods (#802)
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

front: fix Preferences.fromJSON to have Address[] (#802)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: remove "custom" flag for agenda items (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: reorganize zone and cities in agenda item description (#802)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: hide zones if holiday zones match all user preferences (#802)
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

Make authenticated requests to the Github API (#417)
  .env
  .gitignore
  CONTRIBUTING.md
  ami/settings.py
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

front: Modal component (#807)
  public/mobile-app/src/lib/components/modal/Modal.svelte
  public/mobile-app/src/lib/components/modal/Modal.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: use Modal component for Logout modal (#807)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/modal/Logout.svelte
  public/mobile-app/src/lib/components/modal/LogoutFooter.svelte
  public/mobile-app/src/lib/components/modal/LogoutFooter.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: Modal component is on bottom by default (#807)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/modal/Modal.svelte
Due: npm-lint-and-format

front: move zone preferences in modal (#807)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/lib/components/modal/ZonePreferencesFooter.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/zones/+page.svelte
Due: npm-lint-and-format, typescript-check

Remove specified name in models and initial migration
  ami/replication/migrations/0001_initial.py
  ami/replication/migrations/0002_remove_anonymizeduser_original_id_and_more.py
  ami/replication/migrations/0003_populate_replication_id.py
  ami/replication/migrations/0004_set_replication_id_primary_key.py
  ami/replication/models.py
Due: no-vanilla-httpx-usage, pyright

front: navigate to zone preferences on first login (#788)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/zones/+page.svelte
  public/mobile-app/src/routes/welcome/zones/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Only store the latest registration for a given mobile device (#893)
  ami/user/api_views.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

@cdesquilbet-dila's review
  ami/utils/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

Make authenticated requests to the Github API (#417)
  .env
  CONTRIBUTING.md
  ami/settings.py
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

Update the FollowUp with the new content_private_body field (#875)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

Add a "content_private_body" field to the Notification models (#875)
  ami/notification/migrations/0010_add_content_private_body.py
  ami/notification/models.py
  ami/replication/models.py
Due: no-vanilla-httpx-usage, pyright

Add the content_private_body field to the agend admin (#875)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_send_notification.py
Due: no-vanilla-httpx-usage, pyright

Update the serializers to account for the new content_private_body field (#875)
  ami/notification/serializers.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/test_scheduled_notification.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
Due: no-vanilla-httpx-usage, pyright

Update notification link to followup page when notification has an item (#794)
  ami/notification/models.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Remove leftover .claude folder
  public/mobile-app/.claude/settings.local.json
Due: npm-lint-and-format

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
