Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

catalog: add a feature flag (#943)
  .env
Due: none

catalog: Procedure model (#943)
  ami/catalog/__init__.py
  ami/catalog/apps.py
  ami/catalog/migrations/0001_initial.py
  ami/catalog/migrations/0002_procedure.py
  ami/catalog/migrations/__init__.py
  ami/catalog/models.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: rename silent-login feature flag (#943)
  .env
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

api: endpoint to get procedures catalog (#943)
  ami/api/urls.py
  ami/catalog/api_urls.py
  ami/catalog/api_views.py
  ami/catalog/data/__init__.py
  ami/catalog/data/internal.py
  ami/catalog/models.py
  ami/catalog/schemas.py
  ami/catalog/serializers.py
  ami/catalog/tests/__init__.py
  ami/catalog/tests/test_all.py
  ami/catalog/tests/test_internal_data.py
Due: no-vanilla-httpx-usage, pyright

front: rename api agenda and followup libs (#943)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-agenda.ts
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: remove obsolete code in api-agenda (#943)
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-agenda.ts
Due: npm-lint-and-format, typescript-check

front: rename catalog into agenda items for consistency (#943)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-agenda.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: rename inventory into followup items for consistency (#943)
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

front: homepage after login, wait for user initialization (#1014)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

agenda: rename schemas and url (#1018)
  ami/agenda/api_urls.py
  ami/agenda/api_views.py
  ami/agenda/data/holidays.py
  ami/agenda/data/internal.py
  ami/agenda/data/schemas.py
  ami/agenda/schemas.py
  ami/agenda/tests/test_all.py
  ami/agenda/tests/test_internal.py
  ami/agenda/tests/test_public_holidays.py
  ami/agenda/tests/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

front: adapt agenda api url (#1018)
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

followup: rename schemas and url (#1018)
  ami/followup/api_urls.py
  ami/followup/api_views.py
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/serializers.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_item_archive.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: adapt followup api urls (#1018)
  public/mobile-app/src/lib/api-inventory.test.ts
  public/mobile-app/src/lib/api-inventory.ts
Due: npm-lint-and-format, typescript-check

front: rename api agenda and followup libs (#1018)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-agenda.ts
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: remove obsolete code in api-agenda (#1018)
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-agenda.ts
Due: npm-lint-and-format, typescript-check

front: rename catalog into agenda for consistency (#1018)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-agenda.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: rename followup lib (#1018)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/components/Requests.svelte
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/lib/components/modal/RequestItemModal.svelte
  public/mobile-app/src/lib/components/modal/RequestItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/requests/archived/page.svelte.test.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename inventory into followup for consistency (#1018)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/components/Requests.svelte
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/lib/components/modal/RequestItemModal.svelte
  public/mobile-app/src/lib/components/modal/RequestItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/requests/archived/page.svelte.test.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename request into followup (#1018)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/Followup.svelte
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/requests/+page.svelte
  public/mobile-app/src/routes/requests/archived/+page.svelte
  public/mobile-app/src/routes/requests/archived/page.svelte.test.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename also requests route into followup (#1018)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/Followup.svelte
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

notification: item notif should navigate to followup (#1018)
  ami/notification/models.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

user: delete registrations from device_id (#937)
  ami/user/api_views.py
  ami/user/migrations/0003_device_id.py
  ami/user/migrations/0004_device_id.py
  ami/user/models.py
  ami/user/serializers.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: unregister native device with PUT (#937)
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

user: rename legacy unregister (#937)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: use deviceId to unregister (#937)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename enableNotifications for desktop (#939)
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: no return value for enableNotificationsAndUpdateLocalStorage (#939)
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check
