Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

complete tests on query failures (#348)
  app/controllers/auth.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

init user address with api-particulier address if known (#348)
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

misc: split auth tests (#348)
  tests/ami/auth/__init__.py
  tests/ami/auth/test_all.py
  tests/ami/auth/test_check_auth.py
  tests/ami/auth/test_login.py
  tests/ami/auth/test_login_callback.py
  tests/ami/auth/test_login_callback_address.py
  tests/ami/auth/test_login_callback_error.py
  tests/ami/auth/test_logout.py
Due: no-vanilla-httpx-usage, pyright

use asyncio TaskGroup (#348)
  app/controllers/auth.py
Due: no-vanilla-httpx-usage, pyright

get address from api-particulier on login-callback (#348)
  .env
  app/controllers/auth.py
  app/env.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

Check non-break spaces (#529)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Fix birthdate format (#531)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/profile/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

new structure to store address origin (#519)
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

email & preferred username origin (#519)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

fix preferred_username loading from storage (#519)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

add a function to display date in FR format (#519)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/utils.test.ts
  public/mobile-app/src/lib/utils.ts
Due: npm-lint-and-format, typescript-check

last update info email edit page (#519)
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

last update info on preferred username edit page (#519)
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

last update info address edit page (#519)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

fix User.setAddressFromAPIParticulier when results are empty (#519)
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

add workalendar dependency (#507)
  pyproject.toml
  uv.lock
Due: none

rename holiday into school-holiday (#507)
  app/data/routes.py
  app/schemas.py
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
  tests/ami/test_data.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

endpoint to get public holidays (#507)
  app/data/routes.py
  app/schemas.py
  tests/ami/test_data.py
Due: no-vanilla-httpx-usage, pyright

populate agenda with public holidays (#507)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

call public holidays endpoint from front (#507)
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
Due: npm-lint-and-format, typescript-check

fix notification content_icon documentation (#487)
  app/schemas.py
Due: no-vanilla-httpx-usage, pyright

notification, display default icon if given icon is unknown (#487)
  public/mobile-app/src/lib/NotificationIcon.svelte
  public/mobile-app/src/lib/NotificationIcon.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add env variables for OTV procedure (#504)
  .env
  app/env.py
Due: no-vanilla-httpx-usage, pyright

Generate identity token (#504)
  app/__init__.py
  app/controllers/partner.py
  app/schemas.py
  app/utils.py
  pyproject.toml
  tests/ami/test_basic.py
  tests/ami/test_partner.py
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Simplify parameters verification (#504)
  app/controllers/partner.py
Due: no-vanilla-httpx-usage, pyright

Generate new procedure url when user clicks on procedure button (#504)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Expose OTV public key (#504)
  app/controllers/partner.py
  app/schemas.py
  tests/ami/test_partner.py
Due: no-vanilla-httpx-usage, pyright

Add identity tokens examples (#504)
  Makefile
  app/cli.py
  app/utils.py
  tests/ami/test_cli.py
  tests/otv_identity_tokens/input_file_from_fc.csv
  tests/otv_identity_tokens/input_file_test_cli.csv
  tests/otv_identity_tokens/output_file_from_fc.csv
  tests/otv_identity_tokens/output_file_test_cli.csv
Due: no-vanilla-httpx-usage, pyright

Retrieve procedure url from backend (#504)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add test to decode identity token (#504)
  app/utils.py
  pyproject.toml
  tests/ami/test_basic.py
  tests/conftest.py
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Check if OTV private key exists before generating OTV url (#504)
  app/controllers/partner.py
Due: no-vanilla-httpx-usage, pyright

Simplify response types in partner endpoints (#504)
  app/controllers/partner.py
  app/schemas.py
Due: no-vanilla-httpx-usage, pyright

Add early return if user is not connected (#504)
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
