Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: apply style from technical error pages (#595)
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

front: use amigoto (#595)
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

front: apply same style to all error images (#595)
  public/mobile-app/src/routes/network-error/+page.svelte
  public/mobile-app/src/routes/technical-error/+page.svelte
Due: npm-lint-and-format

front: add error page template for default Svelte error page (#595)
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

CI: le déclenchement sur on status se fait le HEAD de main, le commentaire de PR ne peut plus être fait par Allure (#1406)
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

icon-btn: remove icon external link (#1437)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/styles/components/_button.scss
Due: npm-lint-and-format

front: always navigate to welcome pages on login (#1027)
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/tests/test_login_callback_silent_ami_fi.py
  ami/user/data.py
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: move nativeEvents and nativeInfos in dedicated folder (#1027)
  public/mobile-app/src/lib/bridges/nativeBridge.test.ts
  public/mobile-app/src/lib/bridges/nativeBridge.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
  public/mobile-app/src/lib/contact.test.ts
  public/mobile-app/src/lib/contact.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/telemetry.test.ts
  public/mobile-app/src/lib/telemetry.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check

front: mapping url pattern -> alias (#1027)
  public/mobile-app/src/lib/urlAliases.ts
Due: npm-lint-and-format, typescript-check

front: expose url aliases to mobile app through webbappBridge (#1027)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/bridges/webappBridge.test.ts
  public/mobile-app/src/lib/bridges/webappBridge.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add missing tests on nativeInfos (#1027)
  public/mobile-app/src/lib/bridges/nativeInfos.test.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
Due: npm-lint-and-format, typescript-check

front: resolve url to get alias (#1027)
  public/mobile-app/src/lib/urlAliases.test.ts
  public/mobile-app/src/lib/urlAliases.ts
Due: npm-lint-and-format, typescript-check

front: get promoted url aliases from mobile app (#1027)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/bridges/nativeInfos.test.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
Due: npm-lint-and-format, typescript-check

front: guess if url is promoted (#1027)
  public/mobile-app/src/lib/urlAliases.test.ts
  public/mobile-app/src/lib/urlAliases.ts
Due: npm-lint-and-format, typescript-check

front: AMIGoto, if url is promoted, force reload (#1027)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

front: add citycode in Address and AddressFromBAN (#1461)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/addressesFromBAN.test.ts
  public/mobile-app/src/lib/addressesFromBAN.ts
  public/mobile-app/src/lib/citiesFromGeoAPIAndBAN.test.ts
  public/mobile-app/src/lib/citiesFromGeoAPIAndBAN.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

front: add citycode in procedure url (#1461)
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
  public/mobile-app/src/lib/procedure.test.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: mock fetch call (#1461)
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

back: add citycode in identity token (#1461)
  ami/partner/api_views.py
  ami/partner/serializers.py
  ami/partner/tests/test_api_views.py
  ami/service/serializers.py
  ami/service/tests/test_services_item_parameters.py
  ami/utils/__init__.py
  ami/utils/tests/test_generate_identity_tokens_in_file.py
Due: no-vanilla-httpx-usage, pyright

service: rename short_description into service_name (#1449)
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/manage/test_service.py
  ami/followup/tests/test_notification_data.py
  ami/service/migrations/0012_service_name.py
  ami/service/models.py
  ami/service/schemas.py
  ami/service/tests/test_all.py
  ami/service/tests/test_internal.py
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/routes/services/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

followup: display service name in subheading (#1449)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: don't display reference is service is known (#1449)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: followup, fix future subitems (#1449)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: agenda, move badge classes in agenda lib (#1213)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: agenda item, move period in badge (#1213)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
Due: npm-lint-and-format, typescript-check
