Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: misc, use fake timers in tests to mock debounce calls (#1290)
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

notifications: delete all user's scheduled notifications (#1290)
  ami/notification/api_views.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

checklist: fix click area without link (#1355)
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/+page.svelte
Due: npm-lint-and-format

page notif: remove box-shadow - fix css with dsfr and fix focus (#1315)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/NotificationIcon.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

partners: add list of allowed IP addresses/networks (#1255)
  ami/agent_admin/forms.py
  ami/partner/migrations/0004_add_ip_allow_list.py
  ami/partner/models.py
Due: no-vanilla-httpx-usage, pyright

partners: check caller against ip allow list (#1255)
  .env
  ami/partner/auth.py
  ami/partner/models.py
  ami/partner/tests/test_authentication.py
  ami/partner/tests/test_models.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

partner: fix authentication to use request.META for environment (#1362)
  ami/partner/auth.py
  ami/partner/tests/test_authentication.py
Due: no-vanilla-httpx-usage, pyright

front: fix mask-image paths for Followup components (#1250)
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte
Due: npm-lint-and-format

front: use partners in consent and followup (#1250)
  public/mobile-app/src/lib/api-partners.test.ts
  public/mobile-app/src/lib/api-partners.ts
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/partners.test.ts
  public/mobile-app/src/lib/partners.ts
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/archived/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.test.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/+page.ts
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/page.test.ts
Due: npm-lint-and-format, typescript-check

partner: add link to Partner model (#1250)
  ami/partner/migrations/0005_partner.py
  ami/partner/migrations/0006_partner.py
  ami/partner/models.py
Due: no-vanilla-httpx-usage, pyright

partner: add endpoint to get partners (#1250)
  ami/partner/api_urls.py
  ami/partner/api_views.py
  ami/partner/models.py
  ami/partner/schemas.py
  ami/partner/serializers.py
  ami/partner/tests/test_api_views.py
Due: no-vanilla-httpx-usage, pyright

front: remove dead code (#1279)
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/+page.svelte
Due: npm-lint-and-format

followup: do not display messages when notification has no title and no body (#1279)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: add messages in followup parent item (#1279)
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte.test.ts
Due: npm-lint-and-format, typescript-check

misc: only configure data ware house router if different database (#1279)
  Makefile
Due: none

back: (#1273)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/serializers.py
Due: no-vanilla-httpx-usage, pyright

front: (#1273)
  public/mobile-app/src/lib/api-consents.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
Due: npm-lint-and-format, typescript-check

front: always display full checklist item text (#1333)
  public/mobile-app/src/lib/markdown.test.ts
  public/mobile-app/src/lib/markdown.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: remove markdown-truncate as unused (#1333)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/markdown-truncate.d.ts
  public/mobile-app/src/lib/markdown.ts
Due: npm-lint-and-format, typescript-check

front: display pages (#1067)
  public/mobile-app/src/lib/api-content-page.ts
  public/mobile-app/src/lib/content-page.ts
  public/mobile-app/src/lib/markdown.ts
  public/mobile-app/src/routes/page/[page_slug]/+page.svelte
  public/mobile-app/src/routes/page/[page_slug]/[section_slug]/+page.svelte
Due: npm-lint-and-format, typescript-check

page: add API to retrieve pages (#1067)
  ami/api/urls.py
  ami/page/api_urls.py
  ami/page/api_views.py
Due: no-vanilla-httpx-usage, pyright

agent_admin: add support for managing pages with sections (#1067)
  ami/agent_admin/forms.py
  ami/agent_admin/manage_urls.py
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/add_edit_page.html
  ami/agent_admin/templates/agent_admin/manage/add_edit_section.html
  ami/agent_admin/templates/agent_admin/manage/list_pages.html
  ami/agent_admin/utils.py
  ami/agent_admin/views/manage/page_views.py
  ami/page/__init__.py
  ami/page/migrations/0001_initial.py
  ami/page/migrations/__init__.py
  ami/page/models.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

general: add markdown and nh3 modules (#1067)
  pyproject.toml
  uv.lock
Due: none

front: add menu entries for privacy and accessibility (#1067)
  public/mobile-app/src/lib/components/Navigation.svelte
Due: npm-lint-and-format

front: add milestone dates to followup items (#268)
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup item hasMilestone method (#268)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: followup, move test about sub item (#268)
  public/mobile-app/src/lib/followup.test.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
