Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: do silent-login for services items with silent-login enabled (#943)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: get services item parameters from API (#943)
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
Due: npm-lint-and-format, typescript-check

front: get service url from ServicesItem (#943)
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: buttons on service page (#943)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

api: endpoint to get services (#943)
  ami/api/urls.py
  ami/service/api_urls.py
  ami/service/api_views.py
  ami/service/data/__init__.py
  ami/service/data/internal.py
  ami/service/models.py
  ami/service/schemas.py
  ami/service/serializers.py
  ami/service/tests/__init__.py
  ami/service/tests/test_all.py
  ami/service/tests/test_internal.py
Due: no-vanilla-httpx-usage, pyright

api: endpoint to get service parameters (#943)
  ami/service/api_urls.py
  ami/service/api_views.py
  ami/service/serializers.py
  ami/service/tests/test_services_item_parameters.py
Due: no-vanilla-httpx-usage, pyright

front: service detail page (#943)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: replace fc_hash in service_url (#943)
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
Due: npm-lint-and-format, typescript-check

front: get services from API (#943)
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
Due: npm-lint-and-format, typescript-check

services: add a feature flag (#943)
  .env
Due: none

front: replace back parameters is service url (#943)
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
Due: npm-lint-and-format, typescript-check

front: services route to list available services (#943)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: render markdown function (#943)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/markdown.test.ts
  public/mobile-app/src/lib/markdown.ts
Due: npm-lint-and-format, typescript-check

front: render markdown service description (#943)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: redirect otv page to new service page is flag is enabled (#943)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename silent-login feature flag (#943)
  .env
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add "Services" entry in menu (#943)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

user: endpoint to get user consent (#911)
  ami/replication/migrations/0011_consent_datetime.py
  ami/replication/models.py
  ami/replication/tests/test_replication.py
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/migrations/0003_consent_datetime.py
  ami/user/models.py
  ami/user/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

api: fix OTVJWTTokenSerializer (#1070)
  ami/service/serializers.py
  ami/service/tests/test_services_item_parameters.py
Due: no-vanilla-httpx-usage, pyright

front: functions to get values from NativeInfos (#1063)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/nativeInfos.ts
Due: npm-lint-and-format, typescript-check

front: replace app_version_id in service url (#1063)
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
Due: npm-lint-and-format, typescript-check

followup,front: rename external_item_type (#266)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

followup,front: rename external_item_id (#266)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

followup,front: add events in FollowupItem (#266)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

followup,front: add partner name in FollowupItem (#266)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: add FollowupItem detail page (#266)
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
Due: npm-lint-and-format, typescript-check

front: fix padding for archived followup items (#266)
  public/mobile-app/src/lib/components/Followup.svelte
Due: npm-lint-and-format

front: remove unused code (#266)
  public/mobile-app/src/lib/components/BackButton.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
Due: npm-lint-and-format

followup,front: remove partner name and add subheading in FolloupItem (#266)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: remove is_archived query param (#266)
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
