Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Refactoring: use a global state for the connected user
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

@cdesquilbet-dila second review
  public/mobile-app/src/lib/state/User.svelte.test.ts
Due: npm-lint-and-format, typescript-check

@cdesquilbet-dila review
  public/mobile-app/src/lib/auth.test.js
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Refactoring: use a apiFetch helper to automatically detect if logged out
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-holidays.ts
  public/mobile-app/src/lib/api-particulier.ts
  public/mobile-app/src/lib/auth.test.js
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/tests/utils.js
Due: npm-lint-and-format, typescript-check

Fixup following merge of global-connected-user-state branch
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

[AMI] rename notification unread flag into read (#302)
  app/controllers/notification.py
  app/models.py
  app/schemas.py
  migrations/versions/d61d083e808d_notification_read_flag.py
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

[AMI] add tests for ami_hash endpoint (#328)
  tests/ami/test_basic.py
  tests/ami/test_dev_utils.py
Due: no-vanilla-httpx-usage, pyright

[AMI] birthplace is optional (#328)
  app/__init__.py
  app/utils.py
  tests/ami/test_basic.py
  tests/ami/test_dev_utils.py
  tests/recipient_fc_hashes/test_create_hashes.py
Due: no-vanilla-httpx-usage, pyright

[AMI] rename ami_hash into build_fc_hash (#328)
  app/__init__.py
  app/controllers/user.py
  app/utils.py
  migrations/versions/18cc93cd264e_fc_hash_for_user.py
  tests/ami/test_auth.py
  tests/ami/test_basic.py
  tests/conftest.py
  tests/recipient_fc_hashes/test_create_hashes.py
Due: no-vanilla-httpx-usage, pyright

[AMI] rename endpoint (#328)
  app/__init__.py
  tests/ami/test_dev_utils.py
Due: no-vanilla-httpx-usage, pyright

[AMI] placeholder display if agenda is empty (#324)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/static/remixicons/calendar.svg
Due: npm-lint-and-format, typescript-check

[AMI] don't create_async_engine manually (#352)
  app/database.py
Due: no-vanilla-httpx-usage, pyright

[AMI] enable pool_pre_ping (#352)
  app/database.py
Due: no-vanilla-httpx-usage, pyright

Display the user's identity in their profile page
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/Icon.svelte
  public/mobile-app/src/routes/profil/+page.svelte
  public/mobile-app/static/remixicons/account-circle-line.svg
Due: npm-lint-and-format

Better name/preferred_name/given_name display
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/Card.svelte
  public/mobile-app/src/routes/profil/+page.svelte
Due: npm-lint-and-format

Add an icon and an entry to go to the user's profile in the dropdown menu
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/user-line.svg
Due: npm-lint-and-format

Add a logout icon in the user's dropdown menu (#262)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/Icon.svelte
  public/mobile-app/static/remixicons/settings-3-line.svg
  public/mobile-app/static/remixicons/shut-down-line.svg
Due: npm-lint-and-format

Display the user's contact info in the profile page
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/Card.svelte
  public/mobile-app/src/lib/components/Icon.svelte
  public/mobile-app/src/routes/profil/+page.svelte
  public/mobile-app/static/remixicons/mail-line.svg
Due: npm-lint-and-format

Display the user's address in the profile page
  public/mobile-app/src/routes/profil/+page.svelte
  public/mobile-app/static/remixicons/map-pin-user-line.svg
Due: npm-lint-and-format

@cdesquilbet-dila and @zebuline reviews
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/Card.svelte
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

[AMI] fix parseJwt function (#355)
  public/mobile-app/src/lib/france-connect.ts
Due: npm-lint-and-format, typescript-check

[AMI] default icon of partners (#309)
  app/controllers/notification.py
  app/partners.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] default notification icon (#309)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check
