Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

agent-admin: more specific css and js rules (#773)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/static/js/agent-admin-scripts.js
Due: npm-lint-and-format

httpx client: use contextmanager to close connection (#773)
  ami/agenda/data/holidays.py
  ami/notification/push.py
  ami/utils/api_views.py
  ami/utils/httpx.py
  ami/utils/tests/test_httpx.py
Due: no-vanilla-httpx-usage, pyright

notification request: add message on 404 errors (#773)
  ami/notification/api_views.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: notification request as AMI partner (#773)
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/send_notification.html
  ami/agent_admin/tests/test_send_notification.py
  ami/agent_admin/views.py
  ami/utils/httpx.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: prevent double submit (#773)
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/send_notification.html
Due: npm-lint-and-format

agent-admin: api endpoint for fc_hash autocomplete (#773)
  ami/agent_admin/api_views.py
  ami/agent_admin/tests/api/__init__.py
  ami/agent_admin/tests/test_users.py
  ami/agent_admin/urls.py
Due: no-vanilla-httpx-usage, pyright

amidsfr: autocomplete input (#773)
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/base.html
  ami/amidsfr/static/css/amidsfr-autocomplete.css
  ami/amidsfr/static/js/amidsfr-autocomplete.js
  ami/amidsfr/widgets.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

amidsfr: new app to have checkbox as toggle (#773)
  ami/agent_admin/forms.py
  ami/amidsfr/__init__.py
  ami/amidsfr/apps.py
  ami/amidsfr/forms.py
  ami/amidsfr/templates/amidsfr/form_field_snippets/field_snippet.html
  ami/amidsfr/templates/amidsfr/form_field_snippets/toggle_snippet.html
  ami/amidsfr/templates/amidsfr/form_snippet.html
  ami/amidsfr/templatetags/__init__.py
  ami/amidsfr/templatetags/amidsfr_tags.py
  ami/amidsfr/widgets.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: add entry in menu to send notification (#773)
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/send_notification.html
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/tests/test_send_notification.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: set timezone (#773)
  ami/agent/auth.py
  ami/agent/tests/test_auth_middleware.py
  ami/settings.py
  ami/utils/middleware.py
Due: no-vanilla-httpx-usage, pyright

Agent: fix has_role_notifications property (#773)
  ami/agent/models.py
  ami/agent/tests/test_models.py
  ami/agent_admin/tests/conftest.py
  ami/conftest.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: reorganize urls, views and tests (#774)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/list_access.html
  ami/agent_admin/templates/agent_admin/manage/send_notification.html
  ami/agent_admin/tests/manage/__init__.py
  ami/agent_admin/tests/manage/test_access.py
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/agent_admin/tests/test_api.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
  ami/agent_admin/views/__init__.py
  ami/agent_admin/views/base_views.py
  ami/agent_admin/views/manage/__init__.py
  ami/agent_admin/views/manage/access_views.py
  ami/agent_admin/views/manage/notification_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: base views/urls/tests for user management (#774)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
  ami/agent_admin/templates/agent_admin/manage/search_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

amidsfr: add search icon and search button to autocomplete widget (#774)
  ami/amidsfr/static/js/amidsfr-autocomplete.js
  ami/amidsfr/templates/amidsfr/form_field_snippets/autocomplete_snippet.html
  ami/amidsfr/templates/amidsfr/form_field_snippets/field_snippet.html
  ami/amidsfr/widgets.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

agent-admin: implement search user view (#774)
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/manage/search_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: implement detail user view (#774)
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: audit entry for user deletion (#774)
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/utils.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: implement delete user view (#774)
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/access_views.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

agent-admin: toast messages (#774)
  ami/agent_admin/context_processors.py
  ami/agent_admin/forms.py
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/manage/send_notification.html
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/notification_views.py
  ami/agent_admin/views/manage/user_views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

FI: add userinfo cookie (#708)
  ami/authentication/api_views.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_logout.py
  ami/authentication/views.py
  ami/settings.py
  ami/tests/utils.py
Due: no-vanilla-httpx-usage, pyright

FI: add fi app (#708)
  ami/api/urls.py
  ami/fi/__init__.py
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/apps.py
  ami/fi/tests/__init__.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_logout.py
  ami/fi/tests/test_token.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: add FISession model (#708)
  ami/fi/migrations/0001_initial.py
  ami/fi/migrations/0002_fi_session.py
  ami/fi/migrations/__init__.py
  ami/fi/models.py
Due: no-vanilla-httpx-usage, pyright

FI: implement logout (#708)
  ami/fi/api_views.py
  ami/fi/tests/test_logout.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement userinfo (#708)
  .env.development
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/models.py
  ami/fi/tests/test_models.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement token (#708)
  .env
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_token.py
  ami/fi/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Reorder env variables (#708)
  .env
Due: none

Rename help texts for scheduled notifications commands (#708)
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
Due: no-vanilla-httpx-usage, pyright

FI: add CRON to delete expired FISessions (#708)
  ami/fi/management/__init__.py
  ami/fi/management/commands/__init__.py
  ami/fi/management/commands/delete-expired-fi-sessions.py
  ami/fi/tests/test_delete-expired-fi-sessions_command.py
  cron.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

FI: implement authorize (#708)
  ami/authentication/tests/conftest.py
  ami/conftest.py
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

FI: front page and api view to test login (#708)
  .env
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  public/mobile-app/src/routes/fi/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright
