Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Use toast when user copies identification code (#458)
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Use state instead of store for Toasts (#458)
  public/mobile-app/src/lib/components/Toast.svelte
  public/mobile-app/src/lib/components/Toast.svelte.test.ts
  public/mobile-app/src/lib/components/Toasts.svelte
  public/mobile-app/src/lib/components/toast.test.ts
  public/mobile-app/src/lib/components/toast.ts
  public/mobile-app/src/lib/state/toast.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Use Toast instead of Props type (#458)
  public/mobile-app/src/lib/components/Toast.svelte
Due: npm-lint-and-format

Use toast when user enables notifications from notifications welcome page (#458)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Remove unused line (#458)
  public/mobile-app/src/routes/+layout.svelte
Due: npm-lint-and-format

Use toast when user logs out (#458)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add contact link on FC page (#399)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix text color and size (#399)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Simplify css (#399)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Simplify given of unit test (#399)
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Redirect on click on notification if link exists (#484)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

complete auth tests (#391)
  app/controllers/auth.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

get fc token in a dedicated method (#391)
  app/controllers/auth.py
Due: no-vanilla-httpx-usage, pyright

do fc get userinfo on login callback (#391)
  app/__init__.py
  app/controllers/auth.py
  app/controllers/user.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  tests/ami/test_auth.py
  tests/ami/test_user.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Fix the "connection difficulties" contact link layout on the FC page
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

store try_push on notifications (#481)
  app/controllers/notification.py
  app/models.py
  migrations/versions/32b61eb977b7_notification_try_push.py
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

use httpx async client (#348)
  .pre-commit-config.yaml
  app/__init__.py
  app/admin/routes.py
  app/controllers/auth.py
  app/controllers/notification.py
  app/data/routes.py
  app/httpx.py
  app/rvo/routes.py
  app/services/notification.py
  app/services/scheduled_notification.py
  tests/ami/test_data.py
Due: no-vanilla-httpx-usage, pyright

complete tests on query failures (#348)
  app/controllers/auth.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

get address from api-particulier on login-callback (#348)
  .env
  app/controllers/auth.py
  app/env.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

store address origin (#348)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

misc: remove unused imports on front (#348)
  biome.json
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

use asyncio TaskGroup (#348)
  app/controllers/auth.py
Due: no-vanilla-httpx-usage, pyright

structure User tests (#348)
  public/mobile-app/src/lib/state/User.svelte.test.ts
Due: npm-lint-and-format, typescript-check

misc: split auth tests (#348)
  tests/ami/auth/__init__.py
  tests/ami/auth/test_all.py
  tests/ami/auth/test_check_auth.py
  tests/ami/auth/test_login.py
  tests/ami/auth/test_login_callback.py
  tests/ami/auth/test_login_callback_address.py
  tests/ami/auth/test_login_callback_error.py
  tests/ami/auth/test_logout.py
Due: no-vanilla-httpx-usage, pyright

init user address with api-particulier address if known (#348)
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check
