Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

authentication: use logger object to log exceptions (#985)
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

front: rgaa toast (#1432)
  public/mobile-app/src/app.html
  public/mobile-app/src/lib/components/Toast.svelte
Due: npm-lint-and-format

misc: catch jwt.decode exceptions (#1561)
  ami/authentication/auth.py
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

fi: misc, move jwks view before userinfo view (#1247)
  ami/fi/api_views.py
Due: no-vanilla-httpx-usage, pyright

fi: misc, move authorize test into authorize test module (#1247)
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_passkey_authentication.py
Due: no-vanilla-httpx-usage, pyright

fi: endpoint to know user passkey status (#1247)
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/tests/test_passkey_status.py
Due: no-vanilla-httpx-usage, pyright

front: move zone preferences in a dedicated page, remove modal (#1375)
  public/mobile-app/src/lib/components/ZonePreferences.svelte
  public/mobile-app/src/lib/components/ZonePreferences.svelte.test.ts
  public/mobile-app/src/lib/components/modal/Modal.svelte
  public/mobile-app/src/lib/components/modal/Modal.svelte.test.ts
  public/mobile-app/src/lib/components/modal/NavWithBackButtonModal.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/lib/components/modal/ZonePreferencesFooter.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/zones/+page.svelte
  public/mobile-app/src/routes/preferences/zones/city/+page.svelte
  public/mobile-app/src/routes/preferences/zones/city/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/zones/+page.svelte
Due: npm-lint-and-format, typescript-check

front: fix rgaa and styles (#1375)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/components/ZonePreferences.svelte
  public/mobile-app/src/routes/preferences/zones/city/+page.svelte
Due: npm-lint-and-format

front: move passkey functions in dedicated lib (#1247)
  public/mobile-app/src/lib/passkey.ts
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
Due: npm-lint-and-format, typescript-check

front: refacto, move passkey tests (#1247)
  public/mobile-app/src/lib/passkey.test.ts
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
  public/mobile-app/src/routes/passkey-authentication/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

fi: factorize code for passkey authentication verify (#1247)
  ami/fi/api_views.py
Due: no-vanilla-httpx-usage, pyright

fi: reorganize tests for passkey authentivation (#1247)
  ami/fi/tests/test_passkey_authentication.py
Due: no-vanilla-httpx-usage, pyright

fi: new endpoint to check an existing passkey (#1247)
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/tests/test_passkey_authentication_check.py
Due: no-vanilla-httpx-usage, pyright

front: function to get passkey status (#1247)
  public/mobile-app/src/lib/passkey.test.ts
  public/mobile-app/src/lib/passkey.ts
Due: npm-lint-and-format, typescript-check

front: remove console.log (#1214)
  public/mobile-app/src/lib/api-consents.test.ts
Due: npm-lint-and-format, typescript-check

front: retrieve and update personal-data-consent (#1214)
  public/mobile-app/src/lib/api-personal-data-consent.test.ts
  public/mobile-app/src/lib/api-personal-data-consent.ts
  public/mobile-app/src/lib/personal-data-consent.test.ts
  public/mobile-app/src/lib/personal-data-consent.ts
Due: npm-lint-and-format, typescript-check

front: add personal-data-consent to carousel in Homepage (#1214)
  public/mobile-app/src/lib/auto-promo.test.ts
  public/mobile-app/src/lib/auto-promo.ts
  public/mobile-app/src/lib/components/AutoPromo.svelte
  public/mobile-app/src/lib/components/AutoPromoItem.svelte
  public/mobile-app/src/lib/components/modal/PersonalDataConsentModal.svelte
  public/mobile-app/src/lib/components/modal/PersonalDataConsentModal.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/static/remixicons/system.svg
Due: npm-lint-and-format, typescript-check

partner: send personal-data in OTV service only if consent is given (#1214)
  ami/partner/api_views.py
  ami/partner/tests/test_api_views.py
Due: no-vanilla-httpx-usage, pyright

front: retrieve personal-data-consent at initialization (#1214)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

front: add personal-data-consent to Profile page (#1214)
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add personal-data-consent toggle in Preferences page (#1214)
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/personal-data-consent/+page.svelte
  public/mobile-app/src/routes/preferences/personal-data-consent/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

agent_admin: delete personal-data-consent when delete user (#1214)
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

front: add personal-data-consent to Edit-address page (#1214)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

user: add personal-data-consent endpoint (#1214)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/serializers.py
  ami/user/tests/test_personal_data_consent.py
Due: no-vanilla-httpx-usage, pyright

user: add personal-data-consent model (#1214)
  ami/user/migrations/0012_personal_data_consent.py
  ami/user/models.py
Due: no-vanilla-httpx-usage, pyright

front-rgaa: fix rgaa for input (#1444)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

front: agenda, move badge classes in agenda lib (#1213)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: agenda item, move period in badge (#1213)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: agenda, mark school holiday subtiles as personal (#1213)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: agenda themes page (#1213)
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/themes/+page.svelte
  public/mobile-app/src/routes/agenda/themes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: agenda, change icons (#1213)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: misc, remove warning in tests (#1213)
  public/mobile-app/src/routes/page/[page_slug]/[section_slug]/page.svelte.test.ts
  public/mobile-app/src/routes/page/[page_slug]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, items with milestone have status (#1422)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: followup, add followup subitem status on agenda tile (#1422)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: mark decorative emojis in agenda & followup item modale (#1422)
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: agenda item modale, change delete button wording (#1422)
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
Due: npm-lint-and-format

followup: ignore subitems with milestone in item status (#1422)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
