Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

api: add select_related to notification list for performances (#952)
  ami/notification/api_views.py
Due: no-vanilla-httpx-usage, pyright

front: get RequestItem icon from api (#952)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-inventory.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/lib/components/modal/RequestItemModal.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/archived/page.svelte.test.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

api: followup, return last notification icon (#952)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

api: notifications, return icon of item status if relevant (#952)
  ami/notification/models.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

api: store raw content_icon on notification (#952)
  ami/notification/api_views.py
  ami/notification/migrations/0014_content_icon.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

api: notification list, guess icon from registered icon and partner (#952)
  ami/notification/models.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

replication: add user_id in anonymised registration & notification (#964)
  ami/replication/migrations/0008_user.py
  ami/replication/models.py
  ami/replication/tests/test_replication.py
Due: no-vanilla-httpx-usage, pyright

rgaa : wording for RGAA (#926)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
Due: npm-lint-and-format

rgaa : fix type for input email (#929)
  public/mobile-app/src/routes/edit-email/+page.svelte
Due: npm-lint-and-format

front: 17cyber page (#942)
  .env
  public/mobile-app/src/routes/procedure-17cyber/+page.svelte
Due: npm-lint-and-format

front: 17cyber, fix height for mode page (#942)
  public/mobile-app/src/routes/procedure-17cyber/+page.svelte
Due: npm-lint-and-format

front: 17cyber, add meta tag for referrer (#942)
  public/mobile-app/src/app.html
Due: none

front: do not logout from FC when silent login (#992)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

ami-fi: move authorize view (#992)
  ami/fi/api_exceptions.py
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/forms.py
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
  ami/fi/views.py
Due: no-vanilla-httpx-usage, pyright

ami-fi: implement get and post methods for authorize view (#992)
  ami/fi/forms.py
  ami/fi/templates/fi/authorize.html
  ami/fi/tests/test_authorize.py
  ami/fi/views.py
Due: no-vanilla-httpx-usage, pyright

ami-fi: simulate retrieval of user data form mobile app (#992)
  ami/fi/api_urls.py
  ami/fi/templates/fi/authorize.html
  ami/fi/tests/test_authorize.py
  ami/fi/views.py
Due: no-vanilla-httpx-usage, pyright

ami-fi: style for dialog modal (#992)
  ami/fi/templates/fi/authorize.html
Due: none

notification: rename item_external_url and send_date fields (#940)
  ami/followup/api_views.py
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
  ami/notification/migrations/0015_apiv2_fields.py
  ami/notification/migrations/0016_apiv2_fields.py
  ami/notification/migrations/0017_apiv2_fields.py
  ami/notification/models.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/test_migrations.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
  ami/replication/migrations/0008_apiv2_fields.py
  ami/replication/models.py
Due: no-vanilla-httpx-usage, pyright

api: item_external_url is not an item field anymore (#940)
  ami/notification/serializers.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

api: implement PUT event v2 endpoint (#940)
  ami/api/urls.py
  ami/notification/api_urls_v2.py
  ami/notification/api_views.py
  ami/notification/api_views_v2.py
  ami/notification/serializers.py
  ami/notification/tests/api/v2/__init__.py
  ami/notification/tests/api/v2/test_partner_events.py
Due: no-vanilla-httpx-usage, pyright

api: v2 event, item parent fields are required if at least one is provided (#940)
  ami/notification/serializers.py
  ami/notification/tests/api/v2/test_partner_events.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: use apiv2 event to send notification (#940)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_send_notification.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: don't display success message if api call has errors (#940)
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/agent_admin/views/manage/notification_views.py
  ami/replication/migrations/0009_apiv2_fields.py
Due: no-vanilla-httpx-usage, pyright
