Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

email & preferred username origin (#519)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

Update unit tests after move (#468)
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Extract and move retrieveProcedureUrl (#468)
  public/mobile-app/src/lib/procedure.test.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format, typescript-check

Remove unused import (#468)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Extract and move localStorage initialization (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Extract initialization method in root svelte page (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Extract buildUser method (#468)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+layout.ts
Due: npm-lint-and-format, typescript-check

Add tests to initializeDataFromAPI (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Call buildAgenda on login (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

function to call new agenda items endpoint (#509)
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

use catalog in agenda (#509)
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
Due: npm-lint-and-format, typescript-check

remove old holidays endpoints (#509)
  app/data/routes.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  tests/ami/data/test_all.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

display elections on agenda (#509)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

Make sure the default icon is displayed when no icon is provided in NotificationIcon's props
  public/mobile-app/src/lib/NotificationIcon.svelte
Due: npm-lint-and-format

fix day number display on agenda (#543)
  public/mobile-app/src/lib/AgendaItem.svelte
Due: npm-lint-and-format

Use an explicit "back url" instead of the brittle window.history.back() (#550)
  public/mobile-app/src/lib/components/BackButton.svelte
  public/mobile-app/src/lib/components/BackButton.svelte.test.ts
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte.test.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

extract functions to get holiday data (#509)
  app/data/holidays.py
  app/data/routes.py
Due: no-vanilla-httpx-usage, pyright

move data tests (#509)
  tests/ami/data/__init__.py
  tests/ami/data/test_all.py
Due: no-vanilla-httpx-usage, pyright

rewrite holiday tests (#509)
  tests/ami/data/test_all.py
  tests/ami/data/test_holidays_utils.py
  tests/ami/data/test_public_holidays.py
  tests/ami/data/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

fix PublicHoliday schema (#509)
  app/schemas.py
Due: no-vanilla-httpx-usage, pyright

school holidays endpoint returns date (#509)
  app/data/holidays.py
  app/schemas.py
  tests/ami/data/test_all.py
  tests/ami/data/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

add kind and description to AgendaCatalogItem schema (#509)
  app/schemas.py
  tests/ami/data/test_all.py
  tests/ami/data/test_public_holidays.py
  tests/ami/data/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

endpoint to get agenda items (#509)
  app/data/holidays.py
  app/data/routes.py
  app/schemas.py
  tests/ami/data/test_all.py
  tests/ami/data/test_public_holidays.py
  tests/ami/data/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

add elections data (#509)
  app/data/internal.py
  app/data/routes.py
  app/schemas.py
  tests/ami/data/test_all.py
  tests/ami/data/test_internal.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
