Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

test with invalidateAll
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

Add error page template for default Svelte error page (#595)
  public/mobile-app/src/hooks.client.ts
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format, typescript-check

Use goto on link instead of href (#595)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/AgendaItem.svelte.test.ts
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

dead code
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

test to reload page
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

add static error page
  public/mobile-app/src/error.html
Due: none

test
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

try reset error
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

try with service worker
  public/mobile-app/src/routes/+error.svelte
  public/mobile-app/static/service-worker.js
Due: npm-lint-and-format

fixup "Call retrieveNotifications and count unread on login"
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

add partner_id in notification model (#264)
  app/controllers/notification.py
  app/models.py
  migrations/versions/a35a64f78ede_notification_partner_id.py
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

build psl inventory from notifications (#264)
  app/data/partners.py
  app/data/schemas.py
  tests/ami/data/test_partners.py
Due: no-vanilla-httpx-usage, pyright

add schema for follow-up (#264)
  app/data/schemas.py
Due: no-vanilla-httpx-usage, pyright

get inventory from API (#264)
  public/mobile-app/src/lib/api-inventory.test.ts
  public/mobile-app/src/lib/api-inventory.ts
Due: npm-lint-and-format, typescript-check

follow-up endpoint (#264)
  app/data/routes.py
  tests/ami/data/test_all.py
Due: no-vanilla-httpx-usage, pyright

fix catalog: don't store response if status is failed (#264)
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

move AgendaItem component (#264)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
  public/mobile-app/src/routes/agenda/+page.svelte
Due: npm-lint-and-format, typescript-check

integrate empty requests page (#264)
  public/mobile-app/src/routes/requests/+page.svelte
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

add "Suivi" entry in menu (#264)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

add feature flag for requests entry in menu (#264)
  .env
  .env.development
Due: none

move Navigation component (#264)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
Due: npm-lint-and-format, typescript-check

display requests in followup (#264)
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/routes/requests/+page.svelte
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

display first request on home page (#264)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

build followup from inventory (#264)
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

Skip backend tests for Django migration (#635)
  tests/ami/auth/test_all.py
  tests/ami/auth/test_check_auth.py
  tests/ami/auth/test_login.py
  tests/ami/auth/test_login_callback.py
  tests/ami/auth/test_login_callback_address.py
  tests/ami/auth/test_login_callback_error.py
  tests/ami/auth/test_logout.py
  tests/ami/data/test_all.py
  tests/ami/data/test_expiration_rules.py
  tests/ami/data/test_holidays_utils.py
  tests/ami/data/test_internal.py
  tests/ami/data/test_partners.py
  tests/ami/data/test_public_holidays.py
  tests/ami/data/test_school_holidays.py
  tests/ami/services/test_scheduled_notification.py
  tests/ami/test_admin_notification.py
  tests/ami/test_basic.py
  tests/ami/test_cli.py
  tests/ami/test_dev_utils.py
  tests/ami/test_notification.py
  tests/ami/test_partner.py
  tests/ami/test_registration.py
  tests/ami/test_scheduled_notification.py
  tests/ami_admin/test_basic.py
  tests/ami_admin/test_notification.py
  tests/recipient_fc_hashes/test_create_hashes.py
  tests/rvo/test_basic.py
  tests/rvo/test_notification.py
Due: no-vanilla-httpx-usage, pyright
