Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Add tests for the mobile notification
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
  tests/ami/test_registration.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

Update default value for PUBLIC_OTV_URL env variable (#269)
  .env
Due: none

fixup! Update default value for PUBLIC_OTV_URL env variable (#269)
  .env
Due: none

Redirect to previous page after save (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

Add address in Profile (#224)
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Navigate to previous page when clicks on Back button (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

Fix padding of wrapper of selected address (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

Display address in input and block when address is known (#224)
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix display of buttons in address form (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

Manage error cases from BAN (#224)
  public/mobile-app/src/lib/addressesFromBAN.test.ts
  public/mobile-app/src/lib/addressesFromBAN.ts
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add non-breaking spaces (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

Display selected address block after selection from autocomplete (#224)
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix wording (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

Add cancel button in address page (#224)
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Simplify conditions (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

Simplify address (#224)
  public/mobile-app/src/routes/profile/+page.svelte
Due: npm-lint-and-format

Fix when remove address (#224)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format, typescript-check

Simplify addressFromUserStore (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

Replace address setter by helper function (#224)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix wording in address form (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

Push to the sentry debug instance, with the latest fixes
  .env
Due: none

github: prevent fixup commits
  .github/workflows/check_push.yml
Due: none

Properly await for userStore.login in tests
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check
