Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

Fix HTML code format (#87)
  templates/rvo/list-users.html
  templates/rvo/send-notification.html
Due: none

fix test_ami_fc_get_userinfo
  tests/test_basic.py
Due: pyright

Fix downgrade on migration
  migrations/versions/173bf68e90e0_simplify_registration_model.py
Due: pyright

user birthdate is a date, not a datetime
  app/models/database.py
  app/models/endpoints.py
  tests/test_basic.py
Due: pyright

Add frontend tests and clean code
  app/__init__.py
  app/models/business.py
  app/models/database.py
  public/admin.js
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/vite.config.ts
  templates/admin.html
Due: npm-lint-and-format, pyright

Add TS files in biome configuration (#87)
  biome.json
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format

Update logout banner style
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/static/icons/fr--success-line-green.svg
Due: npm-lint-and-format

remove patch registration endpoints
  app/__init__.py
  app/models/database.py
  app/models/endpoints.py
  tests/test_basic.py
Due: pyright

Update subscription on mount
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
Due: npm-lint-and-format

Rename variables, add back link and add one-one relationship (#87)
  app/models/database.py
  migrations/versions/bcfa2f59d108_add_userinfo_in_user.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
  templates/rvo/list-users.html
  templates/rvo/liste.html
  templates/rvo/send-message.html
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

Fix registration with id as string
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright

Extract userinfo of tests into fixture (#87)
  tests/ami/test_basic.py
  tests/conftest.py
  tests/rvo/test_basic.py
Due: pyright

Fix registration
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
Due: npm-lint-and-format

User can subscribe to receive messages and notifications
  app/__init__.py
  app/models/__init__.py
  app/models/business.py
  app/models/database.py
  app/models/endpoints.py
  app/rvo.py
  migrations/env.py
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
  migrations/versions/bcfa2f59d108_add_userinfo_in_user.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
  templates/rvo/base.html
  templates/rvo/list-users.html
  templates/rvo/liste.html
  templates/rvo/logged-out.html
  templates/rvo/send-message.html
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Add given names in ConnectedHomepage test (#87)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format

Split tests
  app/rvo.py
  templates/rvo/detail.html
  tests/ami/__init__.py
  tests/ami/test_basic.py
  tests/rvo/__init__.py
  tests/rvo/test_basic.py
Due: pyright

Type notification in TS file and rename method (#87)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Clear localStorage before each test and remove unused setup in unit test (#87)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format

data is type of Registration in register endpoint
  app/__init__.py
  app/models/endpoints.py
Due: pyright

Simplify the database schema, simplify the code
  app/__init__.py
  app/models.py
  app/models/__init__.py
  app/models/endpoints.py
  app/rvo.py
  migrations/env.py
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
  migrations/versions/173bf68e90e0_simplify_registration_model.py
  migrations/versions/835a33f620e1_add_fc_user_info_to_the_ami_user_table.py
  migrations/versions/bcfa2f59d108_add_userinfo_in_user.py
  tests/ami/test_basic.py
Due: pyright

Update initials in menu and fix frontend unit tests
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.js
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/notifications.js
  public/mobile-app/src/lib/notifications.test.js
Due: npm-lint-and-format

Use detailed pushSubscription and registration in tests (#87)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

[AMI] add a link on the notification icon (#149)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

[AMI] notifications page header (#149)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/static/remixicons/settings.svg
Due: npm-lint-and-format

[AMI] notification list (#149)
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

RVO: use the mobile app's install DSFR from its node_module (hackish)
  app/rvo.py
  templates/rvo/base.html
  templates/rvo/detail.html
Due: pyright

Cleanup: remove a static files router that's not used anymore (dead code)
  app/__init__.py
Due: pyright

Add a missing migration to remove registration.enabled and registration.label
  migrations/versions/6ef068ae88ad_remove_unused_registration_enabled_and_.py
Due: pyright

Don't fail when notifying a user that has a revoked registration
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright

[RVO] use a guard for authenticated views (#158)
  app/rvo.py
  app/rvo_auth.py
Due: pyright

[RVO] testing, add utilities for authenticated views (#158)
  tests/rvo/test_basic.py
  tests/rvo/utils.py
Due: pyright

[RVO] move user list behind test menu entry (#158)
  app/rvo.py
  templates/rvo/base.html
  templates/rvo/list-users.html
  templates/rvo/liste.html
  tests/rvo/test_notification.py
Due: pyright
