Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

init dsfr layout (#609)
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/blocks/footer.html
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/home.html
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

display agent data in tables (#609)
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

add django-dsfr (#609)
  pyproject.toml
  uv.lock
Due: none

Add style on tabs and table (#609)
  .gitignore
  ami/agent_admin/static/css/agent-admin-styles.css
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
Due: no-vanilla-httpx-usage, pyright

Display date on two rows (#609)
  ami/agent_admin/templates/agent_admin/manage_access.html
Due: none

Update agent role in form (#609)
  ami/agent/migrations/0002_agent.py
  ami/agent/models.py
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

add scss support for django statics (#609)
  .pre-commit-config.yaml
  .stylelintrc.json
  ami/agent_admin/static/css/agent-admin-styles.css
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/base.html
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

disable template caching in dev (debug) (#609)
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Send the app url in the mobile notifications (#648)
  ami/notification/push.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

@zebuline's review
  ami/notification/push.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

Update style on header and remove footer (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/static/img/logo_marianne_square.svg
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/blocks/footer.html
  ami/agent_admin/templates/agent_admin/blocks/header.html
Due: none

Add Cancel button (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/manage_access.html
Due: none

Add RolesRecordEntry model (#609)
  ami/agent_admin/migrations/0001_initial.py
  ami/agent_admin/migrations/0002_roles_record_entry.py
  ami/agent_admin/migrations/__init__.py
  ami/agent_admin/models.py
Due: no-vanilla-httpx-usage, pyright

Create RolesRecordEntry on forms updates (#609)
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

Fix table style (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/manage_access.html
Due: none

Display last name then first name (#609)
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
Due: no-vanilla-httpx-usage, pyright

Display roles record (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

Fix header and nav (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/blocks/header.html
Due: none

Update home (#609)
  ami/agent_admin/templates/agent_admin/home.html
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

Disable submit button when form has no changes (#609)
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Add Cancel button (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

api: deduplicate notification requests (#647)
  ami/notification/api_views.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

remove settings.CONFIG usages (#729)
  ami/conftest.py
  ami/notification/api_views.py
  ami/notification/apps.py
  ami/notification/push.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/partner/api_views.py
  ami/partner/models.py
  ami/partner/tests/test_api_views.py
  ami/settings.py
  ami/utils/__init__.py
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
  ami/utils/tests/test_generate_identity_tokens_in_file.py
Due: no-vanilla-httpx-usage, pyright
