Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

[AMI] new field fc_hask for User model (#286)
  app/models.py
  migrations/versions/18cc93cd264e_fc_hash_for_user.py
Due: no-vanilla-httpx-usage, pyright

[AMI] move notification tests (#286)
  tests/ami/test_basic.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] remove old notification list endpoint from schema (#286)
  app/controllers/notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] partner default icon (#286)
  app/controllers/notification.py
  app/partners.py
  app/schemas.py
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

[AMI] basic auth for partners (#286)
  .env
  .github/workflows/pytest.yml
  app/__init__.py
  app/auth.py
  app/controllers/notification.py
  app/env.py
  app/partners.py
  bin/start.sh
  tests/ami/test_notification.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

[AMI] new notification schema according to new model (#286)
  app/controllers/notification.py
  app/schemas.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] new notification endpoint for partners (#286)
  app/controllers/notification.py
  app/schemas.py
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

[AMI] new notification model (#286)
  app/controllers/notification.py
  app/models.py
  app/schemas.py
  migrations/versions/c44d0c9da2d7_new_notification_fields.py
  templates/ami-admin/send-notification.html
  templates/rvo/send-notification.html
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
  tests/ami_admin/test_notification.py
  tests/conftest.py
  tests/rvo/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] reorganize and rename notification schemas (#286)
  app/controllers/notification.py
  app/schemas.py
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] new flag for already seen users (#286)
  app/controllers/user.py
  app/models.py
  migrations/versions/0157a02f787f_new_already_seen_flag_for_user.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

[AMI] notification, don't display sender (#286)
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

[AMI] adapt front to new notification schema (#286)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] rename notify endpoint (#286)
  app/controllers/notification.py
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] fc_hash is non nullable and unique (#286)
  app/models.py
  migrations/versions/18cc93cd264e_fc_hash_for_user.py
  tests/ami/test_basic.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

remove last reference to sqlmodel (#286)
  migrations/script.py.mako
Due: none

[AMI] remove unused params return_dto (#286)
  app/controllers/notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] remove calls to notifications endpoint in admin notification tests (#286)
  tests/ami/test_admin_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] remove personal fields from User model (#286)
  app/controllers/user.py
  app/models.py
  app/schemas.py
  migrations/versions/0ef4b60b7083_remove_user_fields.py
  templates/ami-admin/list-users.html
  templates/ami-admin/send-notification.html
  templates/rvo/list-users.html
  templates/rvo/send-notification.html
  tests/ami/test_auth.py
  tests/ami/test_basic.py
  tests/ami_admin/test_notification.py
  tests/conftest.py
  tests/rvo/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] move admin notify tests (#286)
  tests/ami/test_admin_notification.py
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

[AMI] move registration tests (#286)
  tests/ami/test_basic.py
  tests/ami/test_registration.py
Due: no-vanilla-httpx-usage, pyright

[AMI] deduplicate users on fc_hash (#286)
  app/controllers/user.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

Refactoring: use a global state for the connected user
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Refactoring: use a apiFetch helper to automatically detect if logged out
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-holidays.ts
  public/mobile-app/src/lib/api-particulier.ts
  public/mobile-app/src/lib/auth.test.js
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/tests/utils.js
Due: npm-lint-and-format, typescript-check

Add the user address to the global user state
  .env
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/svelte.config.js
  public/mobile-app/tests/utils.ts
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format, typescript-check

@cdesquilbet-dila second review
  public/mobile-app/src/lib/state/User.svelte.test.ts
Due: npm-lint-and-format, typescript-check

@cdesquilbet-dila review
  public/mobile-app/src/lib/auth.test.js
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
