Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: followup, fix future subitems (#1449)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: add function to mark decorative emojis as aria-hidden (#1427)
  public/mobile-app/src/lib/emoji.test.ts
  public/mobile-app/src/lib/emoji.ts
Due: npm-lint-and-format, typescript-check

front: mark decorative emojis (#1427)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/components/Toggle.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte.test.ts
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: agenda, mark school holiday subtiles as personal (#1213)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

trusted_nav: add trusted_urls endpoint (#1412)
  .env
  ami/api/urls.py
  ami/settings.py
  ami/trusted_nav/__init__.py
  ami/trusted_nav/api_urls.py
  ami/trusted_nav/api_views.py
  ami/trusted_nav/apps.py
  ami/trusted_nav/tests/__init__.py
  ami/trusted_nav/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

front: agenda themes page (#1213)
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/themes/+page.svelte
  public/mobile-app/src/routes/agenda/themes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: agenda, change icons (#1213)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: misc, remove warning in tests (#1213)
  public/mobile-app/src/routes/page/[page_slug]/[section_slug]/page.svelte.test.ts
  public/mobile-app/src/routes/page/[page_slug]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add a log level setting (#1407)
  .env
  public/mobile-app/src/lib/telemetry.test.ts
  public/mobile-app/src/lib/telemetry.ts
Due: npm-lint-and-format, typescript-check

front: trace apiFetch and notificationEventsSocket (#1407)
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: trace localStorage initialization and logins/logouts (#1407)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

checklist: add model (#1381)
  ami/checklist/migrations/0001_initial.py
  ami/checklist/migrations/__init__.py
  ami/checklist/models.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: manage check lists (#1381)
  ami/agent_admin/forms.py
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/add_edit_checklist.html
  ami/agent_admin/templates/agent_admin/manage/list_checklists.html
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/manage/test_checklist.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/utils.py
  ami/agent_admin/views/manage/checklist_views.py
  ami/checklist/migrations/0001_initial.py
  ami/checklist/models.py
Due: no-vanilla-httpx-usage, pyright

checklist: command to create initial checklists (#1381)
  Makefile
  ami/checklist/management/commands/data/CNMSS001.json
  ami/checklist/management/commands/data/F16225.json
  ami/checklist/management/commands/data/F3109.json
  ami/checklist/management/commands/data/F39617.json
  ami/checklist/management/commands/init_checklists.py
  ami/checklist/tests/test_command.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

checklist: endpoint to get a checklist (#1381)
  ami/api/urls.py
  ami/checklist/api_urls.py
  ami/checklist/api_views.py
  ami/checklist/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

front: get checklist definition from endpoint (#1381)
  public/mobile-app/src/lib/api-checklist.test.ts
  public/mobile-app/src/lib/api-checklist.ts
  public/mobile-app/src/lib/checklist.test.ts
  public/mobile-app/src/lib/checklist.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: remove checklist definition files (#1381)
  public/mobile-app/src/lib/data/checklists/CNMSS001.json
  public/mobile-app/src/lib/data/checklists/F16225.json
  public/mobile-app/src/lib/data/checklists/F3109.json
  public/mobile-app/src/lib/data/checklists/F39617.json
Due: npm-lint-and-format

checklist: also use <TitreFlottant> for intertitles (#1465)
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
Due: no-vanilla-httpx-usage, pyright

checklist: let init_checklists command update lists (#1465)
  ami/checklist/management/commands/init_checklists.py
  ami/checklist/tests/test_command.py
Due: no-vanilla-httpx-usage, pyright

checklist: ignore Sigle links (#1465)
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
Due: no-vanilla-httpx-usage, pyright

checklist: add F2485 ("je pars vivre à l'étranger") (#1464)
  ami/checklist/management/commands/data/F2485.json
  ami/checklist/management/commands/init_checklists.py
  ami/checklist/tests/test_command.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

checklist: do not confuse iteration condition and fragment condition (#1464)
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
Due: no-vanilla-httpx-usage, pyright

front: always use window.cookieStore to access cookie store (#1478)
  public/mobile-app/src/lib/access-key.ts
Due: npm-lint-and-format, typescript-check

front: agenda, move badge classes in agenda lib (#1213)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: agenda item, move period in badge (#1213)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add citycode in Address and AddressFromBAN (#1461)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/addressesFromBAN.test.ts
  public/mobile-app/src/lib/addressesFromBAN.ts
  public/mobile-app/src/lib/citiesFromGeoAPIAndBAN.test.ts
  public/mobile-app/src/lib/citiesFromGeoAPIAndBAN.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

front: add citycode in procedure url (#1461)
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
  public/mobile-app/src/lib/procedure.test.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check
