Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

amidsfr: autocomplete input (#773)
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/base.html
  ami/amidsfr/static/css/amidsfr-autocomplete.css
  ami/amidsfr/static/js/amidsfr-autocomplete.js
  ami/amidsfr/widgets.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

agent-admin: reorganize urls, views and tests (#774)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/list_access.html
  ami/agent_admin/templates/agent_admin/manage/send_notification.html
  ami/agent_admin/tests/manage/__init__.py
  ami/agent_admin/tests/manage/test_access.py
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/agent_admin/tests/test_api.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
  ami/agent_admin/views/__init__.py
  ami/agent_admin/views/base_views.py
  ami/agent_admin/views/manage/__init__.py
  ami/agent_admin/views/manage/access_views.py
  ami/agent_admin/views/manage/notification_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: base views/urls/tests for user management (#774)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
  ami/agent_admin/templates/agent_admin/manage/search_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

amidsfr: add search icon and search button to autocomplete widget (#774)
  ami/amidsfr/static/js/amidsfr-autocomplete.js
  ami/amidsfr/templates/amidsfr/form_field_snippets/autocomplete_snippet.html
  ami/amidsfr/templates/amidsfr/form_field_snippets/field_snippet.html
  ami/amidsfr/widgets.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

agent-admin: implement search user view (#774)
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/manage/search_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: implement detail user view (#774)
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: audit entry for user deletion (#774)
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/utils.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: implement delete user view (#774)
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/access_views.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

agent-admin: toast messages (#774)
  ami/agent_admin/context_processors.py
  ami/agent_admin/forms.py
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/manage/send_notification.html
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/notification_views.py
  ami/agent_admin/views/manage/user_views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

wip
  ami/utils/tests/test_jwt_tokens.py
Due: no-vanilla-httpx-usage, pyright

No FC proxy in production (#826)
  .env
  .github/workflows/pytest.yml
  CONTRIBUTING.md
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Keep the (empty) PUBLIC_FC_PROXY env variable for the frontend
  .env
Due: none

TESTING DO NOT MERGE
  CONTRIBUTING.md
Due: none

front: Modal component (#807)
  public/mobile-app/src/lib/components/modal/Modal.svelte
  public/mobile-app/src/lib/components/modal/Modal.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: use Modal component for Logout modal (#807)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/modal/Logout.svelte
  public/mobile-app/src/lib/components/modal/LogoutFooter.svelte
  public/mobile-app/src/lib/components/modal/LogoutFooter.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: Modal component is on bottom by default (#807)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/modal/Modal.svelte
Due: npm-lint-and-format

front: move zone preferences in modal (#807)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/lib/components/modal/ZonePreferencesFooter.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/zones/+page.svelte
Due: npm-lint-and-format, typescript-check

front: navigate to zone preferences on first login (#788)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/zones/+page.svelte
  public/mobile-app/src/routes/welcome/zones/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Factorize from_user and change id in replicated user (#791)
  ami/replication/migrations/0002_remove_anonymizeduser_original_id_and_more.py
  ami/replication/migrations/0003_populate_replication_id.py
  ami/replication/migrations/0004_set_replication_id_primary_key.py
  ami/replication/models.py
  ami/replication/tests/test_replication.py
Due: no-vanilla-httpx-usage, pyright

Ajout des Registrations (#791)
  ami/replication/app.py
  ami/replication/migrations/0005_anonymizednotification_anonymizedregistration.py
  ami/replication/models.py
  ami/replication/tests/test_replication.py
Due: no-vanilla-httpx-usage, pyright

Improve logging (#791)
  ami/replication/app.py
Due: no-vanilla-httpx-usage, pyright

Add replication migration command in Makefile (#791)
  Makefile
Due: none

Squash migrations (#791)
  ami/replication/migrations/0001_initial.py
  ami/replication/migrations/0002_remove_anonymizeduser_original_id_and_more.py
  ami/replication/migrations/0003_populate_replication_id.py
  ami/replication/migrations/0004_set_replication_id_primary_key.py
  ami/replication/migrations/0005_anonymizednotification_anonymizedregistration.py
Due: no-vanilla-httpx-usage, pyright

Use mkcert for local ssl certificates (#828)
  .github/workflows/pytest.yml
  CONTRIBUTING.md
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

front: default date if missing in OTV page (#852)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: set date param in scheduled notifications for otv (#852)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: fix link to notification preferences from notification page (#833)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

FI: front page and api view to test login (#708)
  .env
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  public/mobile-app/src/routes/fi/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Agent: fix has_role_notifications property (#773)
  ami/agent/models.py
  ami/agent/tests/test_models.py
  ami/agent_admin/tests/conftest.py
  ami/conftest.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: add entry in menu to send notification (#773)
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/send_notification.html
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/tests/test_send_notification.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

amidsfr: new app to have checkbox as toggle (#773)
  ami/agent_admin/forms.py
  ami/amidsfr/__init__.py
  ami/amidsfr/apps.py
  ami/amidsfr/forms.py
  ami/amidsfr/templates/amidsfr/form_field_snippets/field_snippet.html
  ami/amidsfr/templates/amidsfr/form_field_snippets/toggle_snippet.html
  ami/amidsfr/templates/amidsfr/form_snippet.html
  ami/amidsfr/templatetags/__init__.py
  ami/amidsfr/templatetags/amidsfr_tags.py
  ami/amidsfr/widgets.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: set timezone (#773)
  ami/agent/auth.py
  ami/agent/tests/test_auth_middleware.py
  ami/settings.py
  ami/utils/middleware.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
