Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Add user_fc_hash in get_fc_userinfo return value (#397)
  app/controllers/user.py
  tests/ami/test_user.py
Due: no-vanilla-httpx-usage, pyright

Add contact button in menu (#397)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/static/remixicons/question-answer-line.svg
Due: npm-lint-and-format, typescript-check

Update unit test (#397)
  public/mobile-app/src/routes/contact/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix hover of copy button (#397)
  public/mobile-app/src/routes/contact/+page.svelte
Due: npm-lint-and-format

Add contact page (#397)
  .env
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/static/icons/community.svg
  public/mobile-app/static/remixicons/file-copy-line.svg
Due: npm-lint-and-format, typescript-check

Remove debug data in homepage (#401)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Add user_fc_hash in localStorage when user is logged in (#397)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Update condition with thruthiness instead of not null (#397)
  public/mobile-app/src/routes/contact/+page.svelte
Due: npm-lint-and-format

Initialize with null instead of empty string (#397)
  public/mobile-app/src/routes/contact/+page.svelte
Due: npm-lint-and-format

add a ping endpoint (#243)
  app/__init__.py
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

ping back on FC login button (#243)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/network-error/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/static/remixicons/connection-lost.svg
Due: npm-lint-and-format, typescript-check

redirect to internal-error page if something went wrong during login process (#243)
  app/__init__.py
  app/controllers/auth.py
  app/errors.py
  public/mobile-app/src/routes/technical-error/+page.svelte
  public/mobile-app/static/remixicons/technical-error.svg
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Mock all fetch calls in frontend unit tests (#419)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format, typescript-check

deal with api data education http errors (#475)
  app/data/routes.py
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
  tests/ami/test_data.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

remove api-particulier calls from front (#478)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-particulier.test.ts
  public/mobile-app/src/lib/api-particulier.ts
Due: npm-lint-and-format, typescript-check

remove api-particulier route from back (#478)
  .env
  app/data/routes.py
  app/env.py
  tests/ami/test_auth.py
  tests/ami/test_data.py
Due: no-vanilla-httpx-usage, pyright

Use toast when user copies identification code (#458)
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Insert toasts in layout (#458)
  public/mobile-app/src/routes/+layout.svelte
Due: npm-lint-and-format

Remove unused import (#458)
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Remove unused line (#458)
  public/mobile-app/src/routes/+layout.svelte
Due: npm-lint-and-format

Add toasts mechanism (#458)
  public/mobile-app/src/lib/components/Toast.svelte
  public/mobile-app/src/lib/components/Toast.svelte.test.ts
  public/mobile-app/src/lib/components/Toasts.svelte
  public/mobile-app/src/lib/components/toast.test.ts
  public/mobile-app/src/lib/components/toast.ts
Due: npm-lint-and-format, typescript-check

Use state instead of store for Toasts (#458)
  public/mobile-app/src/lib/components/Toast.svelte
  public/mobile-app/src/lib/components/Toast.svelte.test.ts
  public/mobile-app/src/lib/components/Toasts.svelte
  public/mobile-app/src/lib/components/toast.test.ts
  public/mobile-app/src/lib/components/toast.ts
  public/mobile-app/src/lib/state/toast.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Remove unused lines (#458)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Use toast when user logs out (#458)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Use toast when user enables notifications from notifications welcome page (#458)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Use Toast instead of Props type (#458)
  public/mobile-app/src/lib/components/Toast.svelte
Due: npm-lint-and-format
