Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: followup, method to get item duration (#268)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: followup, method to get item period (#268)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: followup, adapt badge for item with milestone (#268)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: followup, adapt item detail when it has milestone (#268)
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: remove markdown-truncate as unused (#1333)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/markdown-truncate.d.ts
  public/mobile-app/src/lib/markdown.ts
Due: npm-lint-and-format, typescript-check

front: always display full checklist item text (#1333)
  public/mobile-app/src/lib/markdown.test.ts
  public/mobile-app/src/lib/markdown.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: skip passkey creation if already asked today (#1347)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add milestone dates to followup items (#268)
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup item hasMilestone method (#268)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: followup, move test about sub item (#268)
  public/mobile-app/src/lib/followup.test.ts
Due: npm-lint-and-format, typescript-check

front: agenda, personnal item (#268)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte.test.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: agenda, adapt period for personnal item (#268)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: followup, build agenda item for item with milestone (#268)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: add personnal followup items in agenda (#268)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

agent_admin: keep changes to ip_allow_list in audit trail (#1370)
  ami/agent_admin/tests/manage/test_partner.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/utils.py
Due: no-vanilla-httpx-usage, pyright

front: merge modal header/footer into a modalContent snippet (#1391)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
  public/mobile-app/src/lib/components/modal/LightModal.svelte
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
Due: npm-lint-and-format

misc: use sentry dedicated django integration (#1387)
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

utils: add new general command to cleanup old database objects (#1332)
  Makefile
  ami/fi/management/commands/delete-expired-fi-sessions.py
  ami/fi/tests/test_delete-expired-fi-sessions_command.py
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/tests/test_delete-published-scheduled-notifications_command.py
  ami/utils/management/commands/cleanup-db.py
  ami/utils/tests/test_cleanup_db_command.py
  cron.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

env: declare forgotten SENTRY_TRACES_SAMPLE_RATE (#1387)
  .env
Due: none

front: add sentry integrations for more metrics (#1393)
  .env
  public/mobile-app/src/hooks.client.ts
Due: npm-lint-and-format, typescript-check

page: add API to retrieve pages (#1067)
  ami/api/urls.py
  ami/page/api_urls.py
  ami/page/api_views.py
  ami/page/tests/__init__.py
  ami/page/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright
