Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

test deploy 5
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

test deploy 6
  bin/start.sh
Due: none

test deploy 7
  bin/start.sh
Due: none

Fix deployments (#614)
  Procfile
  bin/start.sh
Due: none

Fix style for not connected homepage (#512)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

foo
  Procfile
  bin/run_command.sh
  bin/start.sh
Due: none

Fix deployments (#614)
  Makefile
  Procfile
  bin/run_command.sh
  bin/start.sh
  package.json
Due: npm-lint-and-format

encrypt user data in identity token for PSL (#602)
  .env
  app/env.py
  app/utils.py
  tests/ami/test_basic.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

don't generate token if psl public key is not set (#602)
  app/controllers/partner.py
  tests/ami/test_partner.py
Due: no-vanilla-httpx-usage, pyright

rename env variables (#602)
  .env
  app/controllers/partner.py
  app/env.py
  app/utils.py
  tests/ami/test_basic.py
  tests/ami/test_partner.py
Due: no-vanilla-httpx-usage, pyright

add feature flag for requests entry in menu (#264)
  .env
  .env.development
Due: none

build psl inventory from notifications (#264)
  app/data/partners.py
Due: no-vanilla-httpx-usage, pyright

add partner_id in notification model (#264)
  app/controllers/notification.py
  app/models.py
  migrations/versions/a35a64f78ede_notification_partner_id.py
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

integrate empty requests page (#264)
  public/mobile-app/src/routes/requests/+page.svelte
Due: npm-lint-and-format

display requests in followup (#264)
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/routes/requests/+page.svelte
Due: npm-lint-and-format

follow-up endpoint (#264)
  app/data/routes.py
Due: no-vanilla-httpx-usage, pyright

build followup from inventory (#264)
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

move Navigation component (#264)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
Due: npm-lint-and-format, typescript-check

get inventory from API (#264)
  public/mobile-app/src/lib/api-inventory.ts
Due: npm-lint-and-format, typescript-check

add schema for follow-up (#264)
  app/data/schemas.py
Due: no-vanilla-httpx-usage, pyright

add "Suivi" entry in menu (#264)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

move AgendaItem component (#264)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
  public/mobile-app/src/routes/agenda/+page.svelte
Due: npm-lint-and-format, typescript-check

ignore notifications requests for unknown users (#608)
  app/controllers/notification.py
  app/env.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

remove notifications legacy endpoint (#304)
  app/controllers/notification.py
  app/schemas.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Don't allow website access unless it's explicitely set public (#451)
  .env.development
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/dsfr.ts
  public/mobile-app/src/lib/nativeEvents.test.ts
  public/mobile-app/src/lib/nativeEvents.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/forbidden/+page.svelte
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Attempt at fixing the CI
  .github/workflows/pytest.yml
Due: none

@cdesquilbet-dila's review: fix locally failing e2e tests, better mock setup
  public/mobile-app/package.json
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check

model for invalid auth tokens (#611)
  app/models.py
  app/services/revoked_auth_token.py
  migrations/versions/48d3169f15b5_revoked_auth_token.py
Due: no-vanilla-httpx-usage, pyright

revoke auth tokens on logout (#611)
  app/auth.py
  app/controllers/auth.py
  tests/ami/auth/test_check_auth.py
  tests/ami/auth/test_logout.py
  tests/ami/data/test_all.py
  tests/ami/test_notification.py
  tests/ami/test_partner.py
  tests/ami/test_registration.py
  tests/ami/test_scheduled_notification.py
  tests/ami/utils.py
Due: no-vanilla-httpx-usage, pyright

add jti to auth tokens (#611)
  app/controllers/auth.py
  tests/ami/auth/test_login_callback.py
  tests/ami/utils.py
Due: no-vanilla-httpx-usage, pyright

set send_status on scheduled notifications publication (#576)
  app/services/scheduled_notification.py
  tests/ami/services/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright
