Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: refacto enableNotificationsAndUpdateLocalStorage (#939)
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: rename enableNotificationsAndUpdateLocalStorage to enableNotifications (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename unregisterDesktopRegistration to unregisterRegistrationsForDesktop (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: rename unregisterDevice to unregisterRegistrationsForNative (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: delete registrations before enabling notifications (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

style: fix btn with and styles (#1020)
  public/mobile-app/src/lib/components/FollowupItem.svelte
Due: npm-lint-and-format

rgaa: clean btn with dsfr (#927)
  public/mobile-app/src/routes/agenda/+page.svelte
Due: npm-lint-and-format

rgaa: fix titles (#927)
  public/mobile-app/src/app.css
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/Followup.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
Due: npm-lint-and-format

main-nav: refacto main nav with fix styles and rgaa (#1037)
  public/mobile-app/src/app.css
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/static/icons/custom/vector-fill.svg
  public/mobile-app/static/icons/custom/vector-line.svg
Due: npm-lint-and-format

Make sure 17cyber uses the full height of the viewport even on Android's WebView (#1013)
  public/mobile-app/src/routes/procedure-17cyber/+page.svelte
Due: npm-lint-and-format

api: v2 event, add subheading field (#1033)
  ami/notification/migrations/0018_content_subheading.py
  ami/notification/models.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
  ami/replication/migrations/0010_content_subheading.py
  ami/replication/models.py
Due: no-vanilla-httpx-usage, pyright

services: add a feature flag (#943)
  .env
Due: none

service: Service model (#943)
  ami/service/__init__.py
  ami/service/apps.py
  ami/service/migrations/0001_initial.py
  ami/service/migrations/0002_service.py
  ami/service/migrations/__init__.py
  ami/service/models.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: rename silent-login feature flag (#943)
  .env
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

api: endpoint to get services (#943)
  ami/api/urls.py
  ami/service/api_urls.py
  ami/service/api_views.py
  ami/service/data/__init__.py
  ami/service/data/internal.py
  ami/service/models.py
  ami/service/schemas.py
  ami/service/serializers.py
  ami/service/tests/__init__.py
  ami/service/tests/test_all.py
  ami/service/tests/test_internal.py
Due: no-vanilla-httpx-usage, pyright

front: get services from API (#943)
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
Due: npm-lint-and-format, typescript-check

front: add "Services" entry in menu (#943)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: Services class populated with services retrieved from back (#943)
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
Due: npm-lint-and-format, typescript-check

front: services route to list available services (#943)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: service detail page (#943)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: render markdown function (#943)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/markdown.test.ts
  public/mobile-app/src/lib/markdown.ts
Due: npm-lint-and-format, typescript-check

front: render markdown service description (#943)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: service, format description with date param if provided (#943)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: buttons on service page (#943)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: get service url from ServicesItem (#943)
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: replace fc_hash in service_url (#943)
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
Due: npm-lint-and-format, typescript-check

api: endpoint to get service parameters (#943)
  ami/service/api_urls.py
  ami/service/api_views.py
  ami/service/serializers.py
  ami/service/tests/test_services_item_parameters.py
Due: no-vanilla-httpx-usage, pyright

front: get services item parameters from API (#943)
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
Due: npm-lint-and-format, typescript-check

front: replace back parameters is service url (#943)
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
Due: npm-lint-and-format, typescript-check

front: do silent-login for services items with silent-login enabled (#943)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: redirect otv page to new service page is flag is enabled (#943)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
