Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: refacto connection-help modal in relogin page (#1430)
  public/mobile-app/src/routes/relogin/+page.svelte
  public/mobile-app/src/routes/relogin/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename data-testid for open-modal in followup-item (#1430)
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: refacto contact modal (#1430)
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: refacto service-item modal (#1430)
  public/mobile-app/src/lib/components/ServicesItem.svelte
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

checklist: add support for extra <Links> (#1511)
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
Due: no-vanilla-httpx-usage, pyright

checklist: update cnmss001 list (#1511)
  ami/checklist/management/commands/data/CNMSS001.json
Due: npm-lint-and-format

misc: add support for CSP settings (#1583)
  ami/settings.py
  ami/utils/csp.py
  ami/utils/tests/test_csp.py
Due: no-vanilla-httpx-usage, pyright

front: remember last visited internal url and position in history (#1408)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

front: route to go to last visited internal url (#1408)
  public/mobile-app/src/routes/back/+page.svelte
Due: npm-lint-and-format

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
