Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: in tests, detect non mocked http calls (#1244)
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte.test.ts
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/services/page.svelte.test.ts
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format, typescript-check

front: slider home promo with a new custom component (#1142)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/AmBlue.svelte
  public/mobile-app/src/lib/components/AutoPromoItem.svelte
  public/mobile-app/static/remixicons/camion.svg
  public/mobile-app/static/remixicons/house.svg
Due: npm-lint-and-format

front: integration AutoPromo items in carousel (#1142)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/auto-promo.test.ts
  public/mobile-app/src/lib/auto-promo.ts
  public/mobile-app/src/lib/components/AmBlue.svelte
  public/mobile-app/src/lib/components/AutoPromo.svelte
  public/mobile-app/src/lib/components/AutoPromoItem.svelte
  public/mobile-app/static/remixicons/camion.svg
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format, typescript-check

front: add @sentry/sveltekit (#1240)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

front: enable sentry (#1240)
  .env
  public/mobile-app/src/hooks.client.ts
Due: npm-lint-and-format, typescript-check

front: redirect to PUBLIC_FC_POST_LOGOUT_REDIRECT_URI on FC logout (#1241)
  .env
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/france-connect.ts
Due: npm-lint-and-format, typescript-check

services: fix missing migration (#1205)
  ami/service/migrations/0007_service_icon.py
Due: no-vanilla-httpx-usage, pyright

followup: archive unknown parent item (#1191)
  ami/followup/api_views.py
  ami/followup/schemas.py
  ami/followup/tests/test_item_archive.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

user: add internal endpoint to get consents (#911)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/serializers.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

user: add internal endpoint to update consent (#911)
  ami/user/api_views.py
  ami/user/serializers.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

front: store consents in localStorage (#911)
  public/mobile-app/src/lib/api-consents.test.ts
  public/mobile-app/src/lib/api-consents.ts
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

front: move followup components to dedicated folder (#911)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupInformation.svelte
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupNoConsent.svelte
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
Due: npm-lint-and-format, typescript-check

front: consent (#911)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-consents.test.ts
  public/mobile-app/src/lib/api-consents.ts
  public/mobile-app/src/lib/components/Followup.svelte
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupInformation.svelte
  public/mobile-app/src/lib/components/FollowupNoConsent.svelte
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: always clear local storage when resetting connected attribute (#1242)
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

front: remove extra logging line (#1242)
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

front: unify setup for tests (#1269)
  public/mobile-app/src/demo.spec.ts
  public/mobile-app/src/lib/auth.test.ts
  public/mobile-app/src/lib/prettyDate.test.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/vite.config.ts
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format, typescript-check

rename after-deploy to conform conventions
  .github/workflows/workflow-e2e-trigger-after-deploy.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

CI E2E : intègre ami-system-tests, gating de déploiement Scalingo par status
  .github/workflows/e2e-after-deploy.yml
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
  .github/workflows/workflow-e2e-webapp.yml
Due: none

10 ci api ios android wip (#1176)
  .github/workflows/workflow-e2e-trigger-after-deploy.yml
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
  .github/workflows/workflow-e2e-webapp.yml
Due: none

notification: validate item_parent_partner_id field (#1131)
  ami/notification/serializers.py
  ami/notification/tests/api/v2/test_partner_events.py
Due: no-vanilla-httpx-usage, pyright

partner: prepare migration, rename partner_id model fields (#1131)
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/utils.py
  ami/conftest.py
  ami/followup/api_views.py
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_item_archive.py
  ami/followup/tests/test_notification_data.py
  ami/notification/api_views_v2.py
  ami/notification/migrations/0020_partner.py
  ami/notification/models.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
  ami/partner/models.py
  ami/replication/models.py
  ami/service/migrations/0008_partner.py
  ami/service/models.py
  ami/service/tests/test_internal.py
  ami/user/api_views.py
  ami/user/migrations/0004_partner.py
  ami/user/models.py
  ami/user/serializers.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

notification: cleanup item_parent_partner_slug values (#1131)
  ami/notification/migrations/0021_partner.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: restrict item_parent_partner_id values (#1131)
  ami/agent_admin/forms.py
Due: no-vanilla-httpx-usage, pyright
