Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: track zone count on unmount only, rename counter (#961)
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

notification: append content_private_body to content_body (#973)
  ami/notification/serializers.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

api: followup, expose external_item_type and external_item_id (#690)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: followup, build id from partner_id, external_type and external_id (#690)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-inventory.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/archived/page.svelte.test.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: method hasNonArchivedItems on FollowUp (#690)
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

front: procedure button (#690)
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

misc: vite config for lightningcss
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

rgaa fix img with empty alt or/and aria-label(#924)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Requests.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/network-error/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/technical-error/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
Due: npm-lint-and-format

front: no timeout in ZonePreferences unit tests (#789)
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: refactor agenda item modal (#373)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte.test.ts
  public/mobile-app/src/lib/components/modal/ItemModal.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: refactor request item modal (#776)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/Requests.svelte
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/lib/components/modal/RequestItemModal.svelte
  public/mobile-app/src/lib/components/modal/RequestItemModal.svelte.test.ts
Due: npm-lint-and-format, typescript-check

notification: send push tasks on_commit (#956)
  ami/notification/api_views.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

misc: add django-tasks-db dependency (#956)
  pyproject.toml
  uv.lock
Due: none

misc: use django-tasks-db by default (#956)
  Makefile
  Procfile
  ami/conftest.py
  ami/notification/api_views.py
  ami/notification/tasks.py
  ami/settings.py
  bin/worker.sh
Due: no-vanilla-httpx-usage, pyright

utils: don't return PR's description if author is dependabot (#981)
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

api: store raw content_icon on notification (#952)
  ami/notification/api_views.py
  ami/notification/migrations/0014_content_icon.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

api: add select_related to notification list for performances (#952)
  ami/notification/api_views.py
Due: no-vanilla-httpx-usage, pyright

api: notification list, guess icon from registered icon and partner (#952)
  ami/notification/models.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

api: notification serializer, use property for content_body (#952)
  ami/notification/models.py
  ami/notification/serializers.py
Due: no-vanilla-httpx-usage, pyright

api: notifications, return icon of item status if relevant (#952)
  ami/notification/models.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

api: followup, return last notification icon (#952)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: get RequestItem icon from api (#952)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-inventory.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/lib/components/modal/RequestItemModal.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/archived/page.svelte.test.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, fallback to a default icon if icon is unknown (#952)
  public/mobile-app/src/lib/components/NotificationIcon.svelte
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/lib/dsfr-icon.test.ts
  public/mobile-app/src/lib/dsfr-icon.ts
Due: npm-lint-and-format, typescript-check
