Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

[AMI] replace alread_seen glaf by last_logged_in (#345)
  app/controllers/notification.py
  app/controllers/user.py
  app/models.py
  migrations/versions/07033155fefc_last_logged_in.py
  tests/ami/test_auth.py
  tests/ami/test_notification.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

Restricts OTV procedure page to connected users only (#390)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Edit preferred username (#327)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

Rename route `address` to `edit-address` (#327)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Edit email address (#327)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

@cdesquilbet-dila's review
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format, typescript-check

Fix regression of web push notifications' title and message not displayed properly (#388)
  app/schemas.py
  app/services/notification.py
Due: no-vanilla-httpx-usage, pyright

Use BackButton component in settings page (#420)
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Back button in procedure page navigates to previous page (#420)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Use BackButton component in address page (#420)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix margins in profile cards (#420)
  public/mobile-app/src/lib/components/Card.svelte
  public/mobile-app/src/routes/profile/+page.svelte
Due: npm-lint-and-format

Remove unused button in procedure page (#420)
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Fix margin for switch in settings page (#420)
  public/mobile-app/src/routes/settings/+page.svelte
Due: npm-lint-and-format

Add BackButton component (#420)
  public/mobile-app/src/lib/components/BackButton.svelte
  public/mobile-app/src/lib/components/BackButton.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Back button in settings page navigates to previous page (#420)
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Back button in notifications page navigates to previous page (#420)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add full descriptive text in procedure page (#420)
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Fix notifications counter display (#420)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

Use BackButton component in profile page (#420)
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix background color of procedure action buttons (#420)
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Remove Save button and enable or disable notifications from switch (#420)
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Rename BackButton to NavWithBackButton (#420)
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte.test.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Display title in NavWithBackButton if present (#420)
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
Due: npm-lint-and-format
