Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

scss: sass-embeded installed to use scss for css (#1123)
  .pre-commit-config.yaml
  package-lock.json
  package.json
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/app.css
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/styles/app.scss
  public/mobile-app/src/styles/base/_color.scss
  public/mobile-app/src/styles/base/_icon.scss
  public/mobile-app/src/styles/base/_typography.scss
  public/mobile-app/src/styles/components/_tile.scss
  public/mobile-app/src/styles/layout/_header.scss
Due: npm-lint-and-format

front: rename formatDate into formatShortDate (#1097)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/utils.test.ts
  public/mobile-app/src/lib/utils.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format, typescript-check

front: add formatDate utils function (#1097)
  public/mobile-app/src/lib/utils.test.ts
  public/mobile-app/src/lib/utils.ts
Due: npm-lint-and-format, typescript-check

header-nav: add btn plus in main nav and modification header (#1097)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/Card.svelte
  public/mobile-app/src/lib/components/Icon.svelte
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/styles/base/_color.scss
  public/mobile-app/src/styles/base/_icon.scss
  public/mobile-app/static/icons/custom/search-eye-fill.svg
  public/mobile-app/static/icons/custom/search-eye-line.svg
  public/mobile-app/static/icons/custom/vector-fill.svg
  public/mobile-app/static/icons/custom/vector-line.svg
  public/mobile-app/static/remixicons/account-circle-line.svg
  public/mobile-app/static/remixicons/mail-line.svg
Due: npm-lint-and-format, typescript-check

front: remove useless function and derived (#1097)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/styles/base/_color.scss
  public/mobile-app/src/styles/base/_icon.scss
Due: npm-lint-and-format

suite
  ami/authentication/urls.py
  ami/authentication/views.py
  public/mobile-app/src/routes/passkey/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

api: add .env.local.template (#1095)
  .env.local.template
Due: none

api: remove default values for env variables (#1095)
  .env
  .github/workflows/pytest.yml
  CONTRIBUTING.md
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_ami_fi.py
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/fi/tests/test_token.py
  ami/settings.py
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/france-connect.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

agent-admin: list services (#1054)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/views/manage/service_views.py
Due: no-vanilla-httpx-usage, pyright

service: change short_description and url to CharField (#1054)
  ami/service/migrations/0003_charfields.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: add service (#1054)
  ami/agent_admin/forms.py
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/manage/add_service.html
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/views/manage/service_views.py
  ami/service/migrations/0002_service.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: edit service (#1054)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/manage/add_edit_service.html
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/views/manage/service_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: fix user modal html closed tag (#1054)
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
Due: none

agent-admin: delete service (#1054)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/manage/add_edit_service.html
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/views/manage/service_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: edit service's restrict_to list (#1054)
  ami/agent_admin/forms.py
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/tests/manage/test_service.py
  ami/amidsfr/static/js/amidsfr-autocomplete.js
  ami/service/migrations/0004_restricted_to.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

service: apply restrict_to (#1054)
  ami/service/api_views.py
  ami/service/data/internal.py
  ami/service/models.py
  ami/service/tests/test_internal.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: add audit logs on service changes (#1054)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/utils.py
  ami/agent_admin/views/manage/service_views.py
Due: no-vanilla-httpx-usage, pyright

partners: add Partner RDV SP (#1130)
  .env.local.template
  ami/partner/models.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: prompt/check access key before loading app (#1096)
  .env
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/layout.test.ts
Due: npm-lint-and-format, typescript-check

api: add rate limiting to access key endpoint (#1096)
  .env
  ami/access_key/api_views.py
  ami/access_key/tests/test_all.py
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

api: add endpoint to check an access key value (#1096)
  .env
  ami/access_key/__init__.py
  ami/access_key/api_urls.py
  ami/access_key/api_views.py
  ami/access_key/tests/__init__.py
  ami/access_key/tests/test_all.py
  ami/api/urls.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
