Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: move access key check to init() hook (#1395)
  public/mobile-app/src/hooks.client.ts
  public/mobile-app/src/lib/access-key.test.ts
  public/mobile-app/src/lib/access-key.ts
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/layout.test.ts
Due: npm-lint-and-format, typescript-check

front: add F39617 checklist (#1404)
  public/mobile-app/src/lib/checklist.ts
  public/mobile-app/src/lib/data/checklists/F39617.json
Due: npm-lint-and-format, typescript-check

front: merge modal header/footer into a modalContent snippet (#1391)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
  public/mobile-app/src/lib/components/modal/LightModal.svelte
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
Due: npm-lint-and-format

front: followup, remove FollowupParentItemDetail component (#1144)
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, display link to parent on subitem with milestone page (#1144)
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte
Due: npm-lint-and-format, typescript-check

front: remove FollowupItemMessages component (#1144)
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, display sub item with milestone on item detail (#1144)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: add personnal followup sub items in agenda (#1144)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

notification: add user id index for notification tables (#1414)
  ami/notification/migrations/0025_add_user_id_index.py
Due: no-vanilla-httpx-usage, pyright

user: add user id index for registration table (#1414)
  ami/user/migrations/0010_add_registration_user_id_index.py
Due: no-vanilla-httpx-usage, pyright

notification: return item values to front (#1299)
  ami/notification/models.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

front: notifications, adapt interface (#1299)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: notification, redirect to item page if exist (#1299)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: tag ids has to be unique in preferences (#1385)
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: silent login in followup (#1377)
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/+page.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.test.ts
Due: npm-lint-and-format, typescript-check

front: new page help center (#1080)
  .env
  public/mobile-app/src/lib/components/Icon.svelte
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/help-center/+page.svelte
  public/mobile-app/src/routes/help-center/page.svelte.test.ts
  public/mobile-app/src/styles/base/_icon.scss
  public/mobile-app/static/icons/custom/customer-2-line.svg
Due: npm-lint-and-format, typescript-check

front: add sentry integrations for more metrics (#1393)
  .env
  public/mobile-app/src/hooks.client.ts
Due: npm-lint-and-format, typescript-check

env: declare forgotten SENTRY_TRACES_SAMPLE_RATE (#1387)
  .env
Due: none

front: add native infos (platform/version) (#800)
  public/mobile-app/src/lib/nativeInfos.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: redo contact page (#800)
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: refactor contacts to support placeholders in url (#800)
  public/mobile-app/src/lib/contact.test.ts
  public/mobile-app/src/lib/contact.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
Due: npm-lint-and-format, typescript-check
