Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system
  require_serial: true

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  require_serial: true

[AMI] user controllers and repositories (#203)
  app/__init__.py
  app/controllers/__init__.py
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/models.py
  app/repositories/__init__.py
  app/repositories/notification.py
  app/repositories/registration.py
  app/repositories/user.py
  app/schemas.py
  migrations/versions/291953dacae4_datetime_with_timestamp.py
  tests/ami/test_basic.py
Due: pyright

[RVO] use services to get users and notifications (#203)
  app/models.py
  app/rvo.py
Due: pyright

[AMI] use services (#203)
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/repositories/notification.py
  app/repositories/registration.py
  app/repositories/user.py
  app/services/__init__.py
  app/services/notification.py
  app/services/registration.py
  app/services/user.py
Due: pyright

remove warning (#203)
  app/__init__.py
Due: pyright

[AMI] remove sqlmodel, use sqlachemy, pydantic and DTOs (#203)
  app/__init__.py
  app/database.py
  app/models.py
  app/rvo.py
  migrations/env.py
  pyproject.toml
  tests/ami/test_basic.py
  tests/conftest.py
  tests/rvo/test_notification.py
  uv.lock
Due: pyright

[AMI] use only pydantic to control in/out data in controllers (#203)
  app/controllers/notification.py
  app/controllers/registration.py
  app/schemas.py
Due: pyright

[AMI] add tests for unknown user (#203)
  tests/ami/test_basic.py
Due: pyright

migrations: don't use Model in migration file (#203)
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
Due: pyright

[AMI] import models and schemas without alias (#203)
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/services/notification.py
  app/services/registration.py
  app/services/user.py
Due: pyright

update contributing doc about alembic commands (#216)
  CONTRIBUTING.md
Due: none

[AMI] base models on UUIDAuditBase from advanced_alchemy (#216)
  app/controllers/notification.py
  app/controllers/registration.py
  app/models.py
  app/rvo.py
  app/schemas.py
  migrations/versions/c53e6dd539a0_models_from_uuidauditbase.py
  templates/rvo/send-notification.html
  tests/ami/test_basic.py
  tests/conftest.py
  tests/rvo/test_notification.py
Due: pyright

[AMI] adapt mobile app to new uuid and date fields (#216)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format

refactor database session setup, use advanced sqlachemy plugin (#168)
  app/__init__.py
  app/database.py
  tests/conftest.py
Due: pyright

[AMI] use providers to provide services (#168)
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/services/notification.py
  app/services/registration.py
  app/services/user.py
Due: pyright

[RVO] fixture connected_test_client (#168)
  tests/base.py
  tests/conftest.py
  tests/rvo/conftest.py
  tests/rvo/test_basic.py
  tests/rvo/test_notification.py
Due: pyright

playwright & cucumber installation details
  CONTRIBUTING-BEHAVIOR.md
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

Adding architectural diagram \n use excalidraw extension in VSCode to modify it
  AMI-technical architecture.excalidraw.svg
  CONTRIBUTING.md
Due: none

Adding architectural diagram - use excalidraw extension in VSCode to modify it (#236)
  AMI-technical architecture.excalidraw.svg
  CONTRIBUTING.md
Due: none

Rename registerUser to registerDevice (#171)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

Implement disable notifications for app (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

Remove unused method getSubscription (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format

Refactor enableNotifications (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

Implement disable notifications for api (#171)
  app/controllers/registration.py
  tests/ami/test_basic.py
Due: pyright

Fix notificationsEnabled update (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format

Code review (#171)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

Implement ProConnect login for AMI admin (#173)
  .env
  app/__init__.py
  app/ami_admin.py
  public/mobile-app/static/icons/pro-connect-logo.svg
  templates/ami-admin/base.html
  tests/ami_admin/__init__.py
  tests/ami_admin/conftest.py
  tests/ami_admin/test_basic.py
Due: pyright

Fix ProConnect logo (#173)
  public/mobile-app/static/icons/pro-connect-logo.svg
  templates/ami-admin/base.html
Due: none

Path conditions:
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  pyright: any of: \.py$
