Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

Fix imports following migration (#635)
  app/__init__.py
  app/controllers/auth.py
  migrations/versions/18cc93cd264e_fc_hash_for_user.py
  tests/ami/utils.py
  tests/conftest.py
  tests/recipient_fc_hashes/test_create_hashes.py
Due: no-vanilla-httpx-usage, pyright

Run django on scalingo through gunicorn (#635)
  Makefile
  README.md
  ami/settings.py
  bin/start.sh
  pyproject.toml
  scalingo.json
  uv.lock
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Serve websockets through django channels (#635)
  ami/asgi.py
  ami/notification/channel_consumer.py
  ami/notification/channel_routing.py
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Finish migrating the scheduled notifications code and tests now that there's a websocket (#635)
  ami/conftest.py
  ami/notification/channel_consumer.py
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
  ami/notification/models.py
  ami/notification/push.py
  ami/notification/tests/test_delete-published-scheduled-notifications_command.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
  ami/notification/tests/test_scheduled_notification.py
  ami/tests/utils.py
  ami/utils/__init__.py
  ami/utils/tests/test_all.py
  ami/utils/tests/test_generate_identity_tokens_in_file.py
  app/services/scheduled_notification.py
  app/utils.py
  pyproject.toml
  tests/ami/utils.py
  uv.lock
Due: no-vanilla-httpx-usage, pyright

@zebuline's review
  ami/authentication/tests/conftest.py
  ami/conftest.py
  ami/utils/__init__.py
  ami/utils/tests/test_all.py
  app/__init__.py
  app/controllers/auth.py
  migrations/versions/18cc93cd264e_fc_hash_for_user.py
  tests/conftest.py
  tests/recipient_fc_hashes/test_create_hashes.py
Due: no-vanilla-httpx-usage, pyright

Add sentry for django (#635)
  ami/notification/channel_consumer.py
  ami/settings.py
  ami/utils/sentry.py
Due: no-vanilla-httpx-usage, pyright

Django: Send push notifications (web and mobile)
  ami/conftest.py
  ami/notification/push.py
  ami/notification/tests/test_scheduled_notification.py
  ami/user/models.py
Due: no-vanilla-httpx-usage, pyright

OTV 4 semaines
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

add infinity-line remixicon (#605)
  public/mobile-app/src/app.css
  public/mobile-app/src/lib/NotificationIcon.svelte
  public/mobile-app/src/lib/NotificationIcon.svelte.test.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/static/icons/custom/infinity-line.svg
Due: npm-lint-and-format, typescript-check

add new partners (#605)
  .env
  .github/workflows/pytest.yml
  app/env.py
  app/partners.py
Due: no-vanilla-httpx-usage, pyright

fix notification icon when notification list is changed (#605)
  public/mobile-app/src/lib/components/NotificationIcon.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

move NotificationIcon into components (#605)
  public/mobile-app/src/lib/components/NotificationIcon.svelte
  public/mobile-app/src/lib/components/NotificationIcon.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check

Migration "outside of the API" api endpoints (#635)
  ami/settings.py
  ami/urls.py
  ami/utils/api_urls.py
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
  ami/utils/views.py
  app/__init__.py
  pyproject.toml
  tests/ami/test_dev_utils.py
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Django migration: auth endpoints (#635)
  ami/api/__init__.py
  ami/api/apps.py
  ami/api/migrations/__init__.py
  ami/api/urls.py
  ami/authentication/api_urls.py
  ami/authentication/api_views.py
  ami/authentication/tests/test_check_auth.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  ami/urls.py
  app/controllers/auth.py
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

get user address from api-particulier (#635)
  ami/authentication/auth.py
  ami/authentication/tests/test_login_callback_address.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/views.py
  ami/notification/models.py
  ami/user/data.py
  ami/utils/httpx.py
  tests/ami/auth/test_login_callback_error.py
Due: no-vanilla-httpx-usage, pyright

Use autosigned certificate instead of pem to sign identity token (#651)
  .env
  app/controllers/partner.py
  app/env.py
  app/utils.py
  tests/ami/test_basic.py
  tests/ami/test_partner.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

Django migration: list notifications endpoint (#635)
  ami/api/urls.py
  ami/conftest.py
  ami/notification/api_urls.py
  ami/notification/api_views.py
  ami/notification/tests/test_api_views.py
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Django migration: migrate the notification-key endpoint (#635)
  ami/api/urls.py
  ami/notification/api_urls.py
  ami/notification/api_views.py
  ami/notification/tests/test_api_views.py
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Django migration: cleanup redundant litestar websocket code, migrate tests (#635)
  ami/notification/tests/test_websocket.py
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Django migration: migrate the admin notification creation endpoint (#635)
  ami/conftest.py
  ami/notification/api_urls.py
  ami/notification/api_views.py
  ami/notification/models.py
  ami/notification/push.py
  ami/notification/tests/test_admin_notification.py
  app/__init__.py
  app/controllers/notification.py
Due: no-vanilla-httpx-usage, pyright

Django migration: read notification endpoint (#635)
  ami/notification/api_urls.py
  ami/notification/api_views.py
  ami/notification/tests/test_api_views.py
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Django migration: move the notification serializers to their own module (#635)
  ami/notification/api_views.py
  ami/notification/serializers.py
Due: no-vanilla-httpx-usage, pyright

@zebuline's review
  ami/conftest.py
  ami/notification/api_views.py
  ami/notification/serializers.py
  ami/notification/tests/test_api_views.py
Due: no-vanilla-httpx-usage, pyright

test yubikey
  adr/2025-11-28 notification with firebase.md
Due: none

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
