Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

agent-admin: manage partners (#1131)
  ami/agent_admin/forms.py
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/add_edit_partner.html
  ami/agent_admin/templates/agent_admin/manage/list_partners.html
  ami/agent_admin/tests/manage/test_partner.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/utils.py
  ami/agent_admin/views/manage/partner_views.py
Due: no-vanilla-httpx-usage, pyright

partner: dynamic secrets from settings (#1131)
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/partner/models.py
  ami/settings.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

notification: cleanup item_parent_partner_slug values (#1131)
  ami/notification/migrations/0021_partner.py
Due: no-vanilla-httpx-usage, pyright

partner: prepare migration, rename partner_id model fields (#1131)
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/utils.py
  ami/conftest.py
  ami/followup/api_views.py
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_item_archive.py
  ami/followup/tests/test_notification_data.py
  ami/notification/api_views_v2.py
  ami/notification/migrations/0020_partner.py
  ami/notification/models.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
  ami/partner/models.py
  ami/replication/models.py
  ami/service/migrations/0008_partner.py
  ami/service/models.py
  ami/service/tests/test_internal.py
  ami/user/api_views.py
  ami/user/migrations/0004_partner.py
  ami/user/models.py
  ami/user/serializers.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: restrict item_parent_partner_id values (#1131)
  ami/agent_admin/forms.py
Due: no-vanilla-httpx-usage, pyright

notification: validate item_parent_partner_id field (#1131)
  ami/notification/serializers.py
  ami/notification/tests/api/v2/test_partner_events.py
Due: no-vanilla-httpx-usage, pyright

front: fix click on logout in modal (#1271)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

CI E2E : intègre ami-system-tests, gating de déploiement Scalingo par status
  .github/workflows/e2e-after-deploy.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

adapt permissions
  .github/workflows/workflow-e2e-trigger-after-deploy.yml
Due: none

rename after-deploy to conform conventions
  .github/workflows/e2e-after-deploy.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

CI E2E : intègre ami-system-tests, gating de déploiement Scalingo par status
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

trigger a push
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

make manual trigger available again.
  .github/workflows/workflow-e2e-webapp-manual.yml
Due: none

adapt permissions
  .github/workflows/workflow-e2e-webapp-manual.yml
Due: none

remove dead code: ref_name for environments that we won't use in a short future and waiting for scalingo as we stopped active waiting to listen on statuses.
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

make pr_number a number in manual call
  .github/workflows/workflow-e2e-webapp-manual.yml
Due: none

refacto de simplification
  .github/workflows/workflow-e2e-trigger-after-deploy.yml
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

les uses ont besoin d'une ref statique ET complète.
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

tests: adapt to new DRF translations (#1284)
  ami/notification/tests/api/test_notification.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

front: correctly manage network errors on passkey interactions (#1221)
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: control url before redirect (#1283)
  public/mobile-app/src/lib/ami-goto.test.ts
  public/mobile-app/src/lib/ami-goto.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, hide message about 0 services (#1259)
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: fix FC logout (#1288)
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/france-connect.ts
Due: npm-lint-and-format, typescript-check

front: proxy websockets to django (back on https) (#1292)
  Makefile
  README.md
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

front: init checklist (#1140)
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/SideMenu.svelte
  public/mobile-app/src/routes/checklist/+page.svelte
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/step-form/+page.svelte
  public/mobile-app/src/routes/step/+page.svelte
  public/mobile-app/src/styles/app.scss
  public/mobile-app/src/styles/base/_color.scss
  public/mobile-app/src/styles/base/_typography.scss
  public/mobile-app/src/styles/components/_badge.scss
  public/mobile-app/src/styles/components/_stepper.scss
  public/mobile-app/src/styles/components/_tile.scss
  public/mobile-app/src/styles/layout/_header.scss
Due: npm-lint-and-format

front: add types and tests for sidemenu component (#1180)
  public/mobile-app/src/lib/components/SideMenu.svelte
  public/mobile-app/src/lib/components/SideMenu.svelte.test.ts
  public/mobile-app/src/lib/side-menu.ts
Due: npm-lint-and-format, typescript-check

front: allow sup in markdown (#1180)
  public/mobile-app/src/lib/markdown.ts
Due: npm-lint-and-format, typescript-check
