Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

[AMI] adapt OTV to user zone (#363)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

Add a dev endpoint for showing the db queue pool health (#375)
  app/__init__.py
Due: no-vanilla-httpx-usage, pyright

Don't hold to a database connection when opening a websocket (#375)
  app/controllers/notification.py
Due: no-vanilla-httpx-usage, pyright

Push notifications in the background to not hog database connections (#375)
  app/controllers/notification.py
Due: no-vanilla-httpx-usage, pyright

Increase the database queue pool size (#375)
  app/database.py
Due: no-vanilla-httpx-usage, pyright

[AMI] use notification creation date instead of send_date (#358)
  app/schemas.py
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Reduce the size of the database connections queue pool (#377)
  app/database.py
Due: no-vanilla-httpx-usage, pyright

Better user service management: use a context manager to automatically close the session, and expunge user from it
  app/auth.py
Due: no-vanilla-httpx-usage, pyright

Improve the db health dev endpoint: return active connections
  app/__init__.py
Due: no-vanilla-httpx-usage, pyright

Use dependencies for the service providers
  app/admin/routes.py
  app/rvo/routes.py
  app/services/user.py
Due: no-vanilla-httpx-usage, pyright

Replace DSFR spacing classes by css rules (#261)
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

Move registration subscription logic to Settings page (#261)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add button in ConnectedHomepage to go to Settings page (#261)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add button in Notifications page to go to Settings page (#261)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add cancel button in address page (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

fixup! Add cancel button in address page (#224)
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add link in Profile to go to Address page (#224)
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

to fixup address
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

to fixup profile
  public/mobile-app/src/routes/profile/+page.svelte
Due: npm-lint-and-format

to check identity ?
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] misc, rename test (#241)
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] fix notification tests (#241)
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] scheduled notification model (#241)
  app/models.py
  migrations/versions/2e9a48bafcfb_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] endpoint for scheduled notifications (#241)
  app/__init__.py
  app/controllers/scheduled_notification.py
  app/models.py
  app/schemas.py
  app/services/scheduled_notification.py
  tests/ami/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] delete a scheduled notification (#241)
  app/controllers/scheduled_notification.py
  tests/ami/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] create notifications from scheduled notifications (#241)
  app/services/scheduled_notification.py
  tests/ami/services/__init__.py
  tests/ami/services/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

Don't use the FC proxy in production (#381)
  bin/start.sh
Due: none

Set the `scope` in an env variable so it can be set without the `cnaf_quotient_familial` in production (#381)
  .env
  app/controllers/auth.py
  app/env.py
Due: no-vanilla-httpx-usage, pyright

Bonus: only try logging out if there is a stored `id_token_hint` locally (#381)
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
