Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: refactor contacts to support placeholders in url (#800)
  public/mobile-app/src/lib/contact.test.ts
  public/mobile-app/src/lib/contact.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
Due: npm-lint-and-format, typescript-check

front: fix typo (personal) (#1424)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: fix futureSubItemWithMilestone method (#1451)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

rgaa-emoji: fix emoji with aria-hidden (#1427)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: show relogin button when user clicks on use passkey (#1423)
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
Due: npm-lint-and-format

front: add customisable body content (#1454)
  .env
  public/mobile-app/src/lib/contact.test.ts
  public/mobile-app/src/lib/contact.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
Due: npm-lint-and-format, typescript-check

front: remove duplicated mailto: prefix (#1454)
  public/mobile-app/src/routes/login/+page.svelte
Due: npm-lint-and-format

rgaa-slider: fix color and activated styles (#1428)
  public/mobile-app/src/lib/components/AutoPromo.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

CI: le déclenchement sur on status se fait le HEAD de main, le commentaire de PR ne peut plus être fait par Allure
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

rgaa-profil: corrections wording for rgaa (#1431)
  public/mobile-app/src/routes/profile/+page.svelte
Due: npm-lint-and-format

user: add Update all consents endpoint (#1273)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/serializers.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

front: remove target icon for consent links (#1273)
  public/mobile-app/src/lib/components/followup/Followup.svelte
Due: npm-lint-and-format

front: hide button when user has all consents (#1273)
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/archived/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.test.ts
Due: npm-lint-and-format, typescript-check

user: add partner_name in consent (#1273)
  ami/user/serializers.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

front: add partner_name in ConsentItem (#1273)
  public/mobile-app/src/lib/api-consents.test.ts
  public/mobile-app/src/lib/api-consents.ts
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/+page.ts
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/archived/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/page.test.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/+page.ts
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/page.test.ts
Due: npm-lint-and-format, typescript-check

front: add Select all button in consents page (#1273)
  public/mobile-app/src/lib/api-consents.test.ts
  public/mobile-app/src/lib/api-consents.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/+page.ts
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/page.test.ts
Due: npm-lint-and-format, typescript-check

front: move updateContent to ConsentItem (#1273)
  public/mobile-app/src/lib/api-consents.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: simplify selectAll in consents (#1273)
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: display warning block when consent withdrawn (#1273)
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/+page.ts
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/archived/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/page.test.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/+page.ts
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/page.test.ts
Due: npm-lint-and-format, typescript-check

front: add telemetry lib (#1429)
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/telemetry.test.ts
  public/mobile-app/src/lib/telemetry.ts
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
Due: npm-lint-and-format, typescript-check

front: update CNMSS001 checklist (#1446)
  public/mobile-app/src/lib/data/checklists/CNMSS001.json
Due: npm-lint-and-format

front: add error page template for default Svelte error page (#595)
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
