Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: generate checklists from data (#1180)
  public/mobile-app/src/lib/api-checklist.ts
  public/mobile-app/src/lib/checklist.test.ts
  public/mobile-app/src/lib/checklist.ts
  public/mobile-app/src/lib/data/checklists/F16225.json
  public/mobile-app/src/lib/data/checklists/F3109.json
  public/mobile-app/src/routes/checklist/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

config slider: limite on slide on swipe (#1300)
  public/mobile-app/src/lib/components/AutoPromo.svelte
Due: npm-lint-and-format

checklist: add management command to parse documents (#1180)
  ami/checklist/__init__.py
  ami/checklist/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

user: rename legacy unregister (#937)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: use deviceId to unregister (#937)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: agenda tests, mock scheduled notification calls (#672)
  public/mobile-app/src/lib/agenda.test.ts
Due: npm-lint-and-format, typescript-check

front: set timezone on test run (#672)
  public/mobile-app/package.json
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/auto-promo.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/utils.test.ts
Due: npm-lint-and-format, typescript-check

front: correctly parse holiday dates (#672)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-agenda.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/utils.test.ts
  public/mobile-app/src/lib/utils.ts
Due: npm-lint-and-format, typescript-check

user: delete registrations from device_id (#937)
  ami/user/api_views.py
  ami/user/migrations/0008_device_id.py
  ami/user/migrations/0009_device_id.py
  ami/user/models.py
  ami/user/serializers.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: unregister native device with PUT (#937)
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: rename enableNotifications for desktop (#939)
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: no return value for enableNotificationsAndUpdateLocalStorage (#939)
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check

front: refacto enableNotificationsAndUpdateLocalStorage (#939)
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: rename enableNotificationsAndUpdateLocalStorage to enableNotifications (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename unregisterDesktopRegistration to unregisterRegistrationsForDesktop (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: rename unregisterDevice to unregisterRegistrationsForNative (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: delete registrations before enabling notifications (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: remove native event console log (#1312)
  public/mobile-app/src/lib/nativeEvents.ts
Due: npm-lint-and-format, typescript-check

notification: deduplicate notifications from scheduled (#839)
  ami/notification/models.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
Due: no-vanilla-httpx-usage, pyright

checklist: add management command to parse documents (#1180)
  ami/checklist/__init__.py
  ami/checklist/management/__init__.py
  ami/checklist/management/commands/__init__.py
  ami/checklist/management/commands/create_checklist_from_doc.py
  ami/checklist/tests/__init__.py
  ami/checklist/tests/test_command.py
  ami/checklist/tests/test_node_to_markdown.py
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: adjust testid in sidemenu component (#1180)
  public/mobile-app/src/lib/components/SideMenu.svelte
Due: npm-lint-and-format

front: add types and tests for sidemenu component (#1180)
  public/mobile-app/src/lib/components/SideMenu.svelte
  public/mobile-app/src/lib/components/SideMenu.svelte.test.ts
  public/mobile-app/src/lib/side-menu.ts
Due: npm-lint-and-format, typescript-check

front: allow sup and sub in markdown (#1180)
  public/mobile-app/src/lib/markdown.ts
Due: npm-lint-and-format, typescript-check

back-button: set with history back (#1200)
  public/mobile-app/src/lib/components/BackButton.svelte
Due: npm-lint-and-format

front: rename ami-goto lib (#1200)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetailHeader.svelte.test.ts
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: new AMIBack function (#1200)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

front: user AMIBack on back buttons and previous page navigations (#1200)
  public/mobile-app/src/lib/components/BackButton.svelte
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
Due: npm-lint-and-format

front: load data before pages for consent (#1307)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/+page.ts
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

partner: add link to Partner model (#1250)
  ami/partner/migrations/0004_partner.py
  ami/partner/migrations/0005_partner.py
  ami/partner/models.py
Due: no-vanilla-httpx-usage, pyright

front: fix mask-image paths for Followup components (#1250)
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte
Due: npm-lint-and-format

partner: add endpoint to get partners (#1250)
  ami/partner/api_urls.py
  ami/partner/api_views.py
  ami/partner/serializers.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
