Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

login page, add a button to contact team by email (#573)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Attempt at fixing the CI
  .github/workflows/pytest.yml
Due: none

Update scope to retrieve address from API Particuliers (#572)
  .env
  app/controllers/auth.py
  tests/ami/auth/test_login_callback.py
  tests/ami/auth/test_login_callback_error.py
Due: no-vanilla-httpx-usage, pyright

Update the welcome notification wording
  app/services/scheduled_notification.py
  tests/ami/auth/test_login_callback.py
Due: no-vanilla-httpx-usage, pyright

Suppression de la page d'information FC
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
Due: none

On ne test plus tous les comptes de test FC.
  public/mobile-app/tests/features/france-connexion.feature
Due: none

agenda: change next events title (#587)
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

disable matomo in development (#583)
  .env.development
  .gitignore
Due: none

send custom url to matomo on login page (#583)
  public/mobile-app/src/lib/matomo.ts
Due: npm-lint-and-format, typescript-check

remove matomo tracking on page mount (#583)
  public/mobile-app/src/routes/+layout.svelte
Due: npm-lint-and-format

update CONTRIBUTING (#583)
  CONTRIBUTING.md
Due: none

Update unit tests after move (#468)
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Extract buildUser method (#468)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+layout.ts
Due: npm-lint-and-format, typescript-check

Extract and move localStorage initialization (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Remove unused import (#468)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Simplify notifications endpoint (#468)
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Extract initialization method in root svelte page (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Call buildAgenda on login (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

Call retrieveNotifications and count unread on login (#468)
  app/controllers/notification.py
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Extract and move retrieveProcedureUrl (#468)
  public/mobile-app/src/lib/procedure.test.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format, typescript-check

add confirmation message on user profile changes (#567)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

display some toast messages as information banner (#567)
  public/mobile-app/src/lib/components/Toasts.svelte
  public/mobile-app/src/lib/components/Toasts.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.ts
Due: npm-lint-and-format, typescript-check

don't record NotAuthorizedExceptions in sentry (#593)
  app/__init__.py
Due: no-vanilla-httpx-usage, pyright

set send_status on scheduled notifications publication (#576)
  app/services/scheduled_notification.py
  tests/ami/services/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

fix typo (#596)
  app/data/internal.py
  tests/ami/data/test_internal.py
Due: no-vanilla-httpx-usage, pyright

move data schemas (#537)
  app/data/holidays.py
  app/data/internal.py
  app/data/routes.py
  app/data/schemas.py
  app/schemas.py
  tests/ami/data/test_all.py
  tests/ami/data/test_internal.py
  tests/ami/data/test_public_holidays.py
  tests/ami/data/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

commit and push pour tester sur la review app
  public/mobile-app/src/hooks.client.ts
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format, typescript-check

add expiration rule schemas (#537)
  app/data/schemas.py
  tests/ami/data/test_expiration_rules.py
Due: no-vanilla-httpx-usage, pyright

apply expiration rules on catalogs (#537)
  app/data/routes.py
  app/data/schemas.py
  tests/ami/data/test_all.py
Due: no-vanilla-httpx-usage, pyright

factorize api catalog tests (#537)
  public/mobile-app/src/lib/api-catalog.test.ts
Due: npm-lint-and-format, typescript-check

front: refresh catalog if entry has expired (#537)
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

commit and push 2
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/AgendaItem.svelte.test.ts
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
