Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: fix date initialization (#1076)
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-agenda.ts
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
Due: npm-lint-and-format, typescript-check

front: banner component (#769)
  public/mobile-app/src/lib/banner.test.ts
  public/mobile-app/src/lib/banner.ts
  public/mobile-app/src/lib/components/Banner.svelte
  public/mobile-app/src/lib/components/Banner.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add banners on edit pages (#769)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

ami-fi: raise 404 if feature flag is not enabled (#1081)
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/views.py
  ami/conftest.py
  ami/fi/api_views.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_logout.py
  ami/fi/tests/test_token.py
  ami/fi/tests/test_userinfo.py
  ami/fi/views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: list services (#1054)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/views/manage/service_views.py
Due: no-vanilla-httpx-usage, pyright

service: change short_description and url to CharField (#1054)
  ami/service/migrations/0003_charfields.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: add service (#1054)
  ami/agent_admin/forms.py
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/manage/add_service.html
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/views/manage/service_views.py
  ami/service/migrations/0002_service.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: edit service (#1054)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/manage/add_edit_service.html
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/views/manage/service_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: fix user modal html closed tag (#1054)
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
Due: none

agent-admin: delete service (#1054)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/manage/add_edit_service.html
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/views/manage/service_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: edit service's restrict_to list (#1054)
  ami/agent_admin/forms.py
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/tests/manage/test_service.py
  ami/amidsfr/static/js/amidsfr-autocomplete.js
  ami/service/migrations/0004_restricted_to.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

service: apply restrict_to (#1054)
  ami/service/api_views.py
  ami/service/data/internal.py
  ami/service/models.py
  ami/service/tests/test_internal.py
Due: no-vanilla-httpx-usage, pyright

front: AMIGoto utils function (#979)
  public/mobile-app/src/lib/ami-goto.test.ts
  public/mobile-app/src/lib/ami-goto.ts
Due: npm-lint-and-format, typescript-check

front: use AMIGoto for service and procedure (#979)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: simplify service detail page, build serviceUrl only on demand (#979)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: intermediate modal opened on service click (#979)
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: ItemModal centered version (#979)
  public/mobile-app/src/lib/components/modal/ItemModal.svelte
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
Due: npm-lint-and-format

front: AMIGoto optional opts param (#1027)
  public/mobile-app/src/lib/ami-goto.test.ts
  public/mobile-app/src/lib/ami-goto.ts
Due: npm-lint-and-format, typescript-check

header-back-btn: refacto header animation with back button on scroll (#950)
  public/mobile-app/src/app.css
  public/mobile-app/src/lib/components/BackButton.svelte
  public/mobile-app/src/lib/components/Followup.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/PageWrapper.svelte
  public/mobile-app/src/lib/components/modal/NavWithBackButtonModal.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/static/icons/custom/settings-3-line.svg
Due: npm-lint-and-format

front: rename src/lib/france-connect.test.js to .ts (#1027)
  public/mobile-app/src/lib/france-connect.test.ts
Due: npm-lint-and-format, typescript-check

front: replace window.location.href by AMIGoto (#1027)
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/fi/+page.svelte
  public/mobile-app/src/routes/fi/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/silent-login/+page.svelte
  public/mobile-app/src/routes/silent-login/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: replace mockImplementation by mockResolvedValue (#1027)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/BackButton.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/fi/page.svelte.test.ts
  public/mobile-app/src/routes/layout.svelte.test.ts
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/src/routes/silent-login/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: mark some FranceConnect words in bold on start screen (#1050)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

front: remove extra explanation paragraph on start screen (#1050)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

front: add title to start screen (#1050)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

front: center content elements vertically on start screen (#1050)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

navigation: fix z-index (#1091)
  public/mobile-app/src/lib/components/Navigation.svelte
Due: npm-lint-and-format

front: increase icon size and bottom margin on start screen (#1050)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

header-back-btn: refacto header and animation with back button on scroll (#950)
  public/mobile-app/src/app.css
  public/mobile-app/src/lib/components/BackButton.svelte
  public/mobile-app/src/lib/components/Followup.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/PageWrapper.svelte
  public/mobile-app/src/lib/components/modal/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/modal/NavWithBackButtonModal.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/static/icons/custom/settings-3-line.svg
Due: npm-lint-and-format

front: move help links to bottom modal on start screen (#1050)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: functions to get values from NativeInfos (#1063)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/nativeInfos.ts
Due: npm-lint-and-format, typescript-check

front: replace app_version_id in service url (#1063)
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
Due: npm-lint-and-format, typescript-check
