Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

fixup! [AMI] meeting detail body integration (#144)
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format

Typo from feedback
  .gitignore
  CONTRIBUTING-BEHAVIOR.md
Due: none

Add Svelte pages to biome configuration (#111)
  biome.json
Due: npm-lint-and-format

Move DSFR files needed by RVO to dedicated folder (#111)
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/artwork/pictograms/digital/calendar.svg
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/dsfr.min.css
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/dsfr.module.min.js
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/dsfr.nomodule.min.js
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/fonts/Marianne-Bold.woff
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/fonts/Marianne-Bold.woff2
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/fonts/Marianne-Medium.woff
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/fonts/Marianne-Medium.woff2
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/fonts/Marianne-Regular.woff
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/fonts/Marianne-Regular.woff2
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/icons/business/calendar-event-fill.svg
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/icons/health/test-tube-fill.svg
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/icons/system/add-line.svg
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/icons/system/arrow-left-line.svg
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/icons/system/arrow-right-line.svg
  public/mobile-app/static/rvo-static/dsfr-v1.14.0/utility/utility.min.css
  public/mobile-app/static/rvo-static/icons/rvo-logo-connected.svg
  public/mobile-app/static/rvo-static/icons/rvo-logo-not-connected.svg
  templates/base-rvo.html
  templates/rvo-detail.html
Due: npm-lint-and-format

[AMI] meeting detail header integration (#144)
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format

[AMI] meeting detail body integration (#144)
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format

fix biome.json to add svelte pages (#144)
  biome.json
Due: npm-lint-and-format

remove patch registration endpoints
  app/__init__.py
  app/models/database.py
  app/models/endpoints.py
  tests/test_basic.py
Due: pyright

Split tests
  app/rvo.py
  templates/rvo/detail.html
  tests/ami/__init__.py
  tests/ami/test_basic.py
  tests/rvo/__init__.py
  tests/rvo/test_basic.py
Due: pyright

fix test_ami_fc_get_userinfo
  tests/test_basic.py
Due: pyright

add migration for Registration model
  migrations/versions/173bf68e90e0_simplify_registration_model.py
Due: pyright

user birthdate is a date, not a datetime
  app/models/database.py
  app/models/endpoints.py
  tests/test_basic.py
Due: pyright

check User creation in userinfo endpoint
  app/models/database.py
  tests/test_basic.py
Due: pyright

User can subscribe to receive messages and notifications
  app/__init__.py
  app/models/__init__.py
  app/models/business.py
  app/models/database.py
  app/models/endpoints.py
  app/rvo.py
  migrations/env.py
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
  migrations/versions/bcfa2f59d108_add_userinfo_in_user.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
  templates/rvo/base.html
  templates/rvo/list-users.html
  templates/rvo/liste.html
  templates/rvo/logged-out.html
  templates/rvo/send-message.html
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Type notification in TS file and rename method (#87)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Fix registration with id as string
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright

Fix registration
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
Due: npm-lint-and-format

Use detailed pushSubscription and registration in tests (#87)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

Add TS files in biome configuration (#87)
  biome.json
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format

Update subscription on mount
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
Due: npm-lint-and-format

Simplify the database schema, simplify the code
  app/__init__.py
  app/models.py
  app/models/__init__.py
  app/models/endpoints.py
  app/rvo.py
  migrations/env.py
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
  migrations/versions/173bf68e90e0_simplify_registration_model.py
  migrations/versions/835a33f620e1_add_fc_user_info_to_the_ami_user_table.py
  migrations/versions/bcfa2f59d108_add_userinfo_in_user.py
  tests/ami/test_basic.py
Due: pyright

Clear localStorage before each test and remove unused setup in unit test (#87)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format

Update initials in menu and fix frontend unit tests
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.js
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/notifications.js
  public/mobile-app/src/lib/notifications.test.js
Due: npm-lint-and-format

Add given names in ConnectedHomepage test (#87)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format

Extract userinfo of tests into fixture (#87)
  tests/ami/test_basic.py
  tests/conftest.py
  tests/rvo/test_basic.py
Due: pyright

Add frontend tests and clean code
  app/__init__.py
  app/models/business.py
  app/models/database.py
  public/admin.js
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/vite.config.ts
  templates/admin.html
Due: npm-lint-and-format, pyright

Update logout banner style
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/static/icons/fr--success-line-green.svg
Due: npm-lint-and-format

data is type of Registration in register endpoint
  app/__init__.py
  app/models/endpoints.py
Due: pyright

Fix HTML code format (#87)
  templates/rvo/list-users.html
  templates/rvo/send-notification.html
Due: none

Add log for the pushSubscription (#87)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

Fix downgrade on migration
  migrations/versions/173bf68e90e0_simplify_registration_model.py
Due: pyright

Rename variables, add back link and add one-one relationship (#87)
  app/models/database.py
  migrations/versions/bcfa2f59d108_add_userinfo_in_user.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.js
  templates/rvo/list-users.html
  templates/rvo/liste.html
  templates/rvo/send-message.html
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

Rename messages to notifications (#87)
  app/rvo.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  templates/rvo/liste.html
  templates/rvo/send-notification.html
Due: npm-lint-and-format, pyright
