Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Implement notify send KO with 500 when technical error (#234)
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Rename Notifications to AdminNotifications (#234)
  app/controllers/notification.py
  app/schemas.py
Due: no-vanilla-httpx-usage, pyright

Implement notify send OK with 200 (#234)
  app/controllers/notification.py
  app/schemas.py
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

Implement notify send KO with 400 when required fields are missing or empty (#234)
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Update NotificationPivotHashCreate with PSL feedbacks (#234)
  app/schemas.py
Due: no-vanilla-httpx-usage, pyright

Remove /api/v1/notifications_url_encoded endpoint (#234)
  app/controllers/notification.py
  app/controllers/utils.py
Due: no-vanilla-httpx-usage, pyright

Add recipient_fc_hash examles with empty data (#234)
  tests/recipient_fc_hashes/test.csv
  tests/recipient_fc_hashes/test_results.csv
Due: none

Rename NotificationPivotHashCreate to Notifications (#234)
  app/controllers/notification.py
  app/schemas.py
Due: no-vanilla-httpx-usage, pyright

Add recipient_fc_hash examples (#234)
  tests/recipient_fc_hashes/__init__.py
  tests/recipient_fc_hashes/test.csv
  tests/recipient_fc_hashes/test_create_hashes.py
  tests/recipient_fc_hashes/test_results.csv
Due: no-vanilla-httpx-usage, pyright

Initialize notifications API endpoint (#234)
  app/controllers/notification.py
  app/schemas.py
Due: no-vanilla-httpx-usage, pyright

Add openapi documentation (#234)
  app/schemas.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Add function to hash FC pivotal data (#234)
  app/utils.py
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

Extract notifications unit tests to dedicated file (#234)
  tests/ami/test_basic.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Duplicate the Notify endpoint so it's also available as a url_encoded body version
  app/controllers/notification.py
  app/controllers/utils.py
Due: no-vanilla-httpx-usage, pyright

Implement notify send KO with 200 (#234)
  app/controllers/notification.py
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

Dev utils endpoint to test ami_hash
  app/__init__.py
Due: no-vanilla-httpx-usage, pyright

Rename notify admin endpoint (#234)
  app/controllers/notification.py
  templates/ami-admin/send-notification.html
  templates/rvo/send-notification.html
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

@zebuline's review
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.ts
Due: npm-lint-and-format, typescript-check

Use instead of awaiting on setTimeout in js tests
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

first batch of type fixes
  public/mobile-app/.claude/settings.local.json
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/tests/utils.js
Due: npm-lint-and-format, typescript-check

Typecheck svelte and typescript code in the pre-commit and CI (#310)
  .pre-commit-config.yaml
  package.json
Due: npm-lint-and-format

Update the CI workflow
  .github/workflows/pytest.yml
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Properly type array in notifications/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

Second (and final?) batch of type fixes
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
  public/mobile-app/src/lib/api-particulier.test.ts
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/prettyDate.test.js
  public/mobile-app/src/lib/prettyDate.ts
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] remove list entry from menu (#271)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
  public/mobile-app/static/remixicons/list-check.svg
Due: npm-lint-and-format, typescript-check

[AMI] update requests entry in menu (#271)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
  public/mobile-app/static/remixicons/edit-line.svg
  public/mobile-app/static/remixicons/vector.svg
Due: npm-lint-and-format, typescript-check

[AMI] remove message icon (#263)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/message-3.svg
Due: npm-lint-and-format

[AMI] remove qrcode, add address block (#263)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/house.svg
Due: npm-lint-and-format

[AMI] Display first agenda item on dashboard (#263)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] requests container (#263)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/arrow-line-disabled.svg
  public/mobile-app/static/remixicons/tracking.svg
Due: npm-lint-and-format

[AMI] remove unused rdv route (#263)
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format
