Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: initialize data during login callback (#1165)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: remove obsolete test as initializeData is never called (#1165)
  public/mobile-app/src/routes/layout.test.ts
Due: npm-lint-and-format, typescript-check

front: init checklist (#1140)
  public/mobile-app/src/routes/checklist/+page.svelte
  public/mobile-app/src/styles/app.scss
  public/mobile-app/src/styles/components/_tile.scss
Due: npm-lint-and-format

front: fix space wording (#1170)
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format

user: add internal endpoints to get and update consent (#911)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/serializers.py
  ami/user/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

front: consent (#911)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-consents.ts
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/consents/+page.svelte
Due: npm-lint-and-format, typescript-check

notification: add feature flags for consent (#911)
  .env
  ami/notification/api_views_v2.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/partner/models.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

authentication: verify signature of FranceConnect id_token and userinfo (#1172)
  ami/authentication/auth.py
  ami/authentication/tests/conftest.py
  ami/authentication/tests/test_login_callback.py
  ami/settings.py
  ami/user/data.py
  ami/utils/jwks_client.py
Due: no-vanilla-httpx-usage, pyright

front: do not send credentials anymore (#1169)
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-agenda.ts
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/lib/scheduled-notifications.ts
Due: npm-lint-and-format, typescript-check

fi: remove calls to france-connected endpoints (#1163)
  .env
  ami/authentication/api_urls.py
  ami/authentication/api_views.py
  ami/authentication/tests/test_all.py
  ami/authentication/tests/test_login_ami_fi.py
  ami/authentication/tests/test_login_callback_ami_fi.py
  ami/authentication/tests/test_login_callback_silent_ami_fi.py
  ami/authentication/tests/test_providers.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  ami/user/data.py
  public/mobile-app/src/routes/fi/+page.svelte
  public/mobile-app/src/routes/fi/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

trigger a push
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

variabilise la branche pour pouvoir la passer en argument sans la dupliquer
  .github/workflows/workflow-e2e-webapp.yml
Due: none

on file per trigger to have static configuration
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

debug allure comment
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

make the test suite to run configurable
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

have a configurable job
  .github/workflows/workflow-e2e-webapp.yml
Due: none

debug allure comment
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

on file per trigger to have static configuration
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
  .github/workflows/workflow-e2e-webapp.yml
Due: none

shorten names for gh website ui
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

Premier essai de CI multi repo
  .github/workflows/workflow-e2e-webapp.yml
Due: none

just trigger a real push
  .github/workflows/workflow-e2e-webapp-manual.yml
Due: none

try to report
  .github/workflows/workflow-e2e-webapp.yml
Due: none

conf définie par Miro
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

on file per trigger to have static configuration
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

have a configurable job with multiple triggers
  .github/workflows/workflow-e2e-webapp.yml
Due: none

Conversion de shaîne vers nombre
  .github/workflows/workflow-e2e-webapp.yml
Due: none

front: allow sup in markdown (#1180)
  public/mobile-app/src/lib/markdown.ts
Due: npm-lint-and-format, typescript-check

front: generate checklists from data (#1180)
  public/mobile-app/src/routes/checklist/+page.svelte
  public/mobile-app/src/routes/checklist/[document_id]/+layout.ts
  public/mobile-app/src/routes/checklist/[document_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[document_id]/checks/[list_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[document_id]/checks/[list_id]/+page.ts
Due: npm-lint-and-format, typescript-check

trivial: always use unix end-of-lines (#1182)
  .editorconfig
  ami/agent/auth.py
  ami/agent/decorators.py
  ami/agent_admin/forms.py
  ami/agent_admin/urls.py
  ami/agent_admin/views/base_views.py
  ami/fi/api_exceptions.py
  ami/fi/api_urls.py
  ami/fi/forms.py
  ami/fi/models.py
  ami/fi/serializers.py
  ami/fi/utils.py
  ami/utils/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

misc: add webauthn lib (#1088)
  pyproject.toml
  uv.lock
Due: none

mobile: publish .well-known/apple-app-site-association file for iOS (#1088)
  .env
  ami/settings.py
  ami/urls.py
  ami/well_known/__init__.py
  ami/well_known/tests/__init__.py
  ami/well_known/tests/test_all.py
  ami/well_known/urls.py
  ami/well_known/views.py
Due: no-vanilla-httpx-usage, pyright
