Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

fix typo (#596)
  app/data/internal.py
  tests/ami/data/test_internal.py
Due: no-vanilla-httpx-usage, pyright

restrict access to ami_admin pages (#539)
  .env
  app/admin/auth.py
  app/admin/routes.py
  templates/ami-admin/unauthorized.html
  tests/ami_admin/test_basic.py
  tests/ami_admin/test_notification.py
  tests/ami_admin/utils.py
Due: no-vanilla-httpx-usage, pyright

add sentry metrics (#415)
  app/controllers/notification.py
  app/sentry.py
  app/services/notification.py
Due: no-vanilla-httpx-usage, pyright

factorize api catalog tests (#537)
  public/mobile-app/src/lib/api-catalog.test.ts
Due: npm-lint-and-format, typescript-check

apply expiration rules on catalogs (#537)
  app/data/routes.py
  app/data/schemas.py
  tests/ami/data/test_all.py
Due: no-vanilla-httpx-usage, pyright

move data schemas (#537)
  app/data/holidays.py
  app/data/internal.py
  app/data/routes.py
  app/data/schemas.py
  app/schemas.py
  tests/ami/data/test_all.py
  tests/ami/data/test_internal.py
  tests/ami/data/test_public_holidays.py
  tests/ami/data/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

add expiration rule schemas (#537)
  app/data/schemas.py
  tests/ami/data/test_expiration_rules.py
Due: no-vanilla-httpx-usage, pyright

front: refresh catalog if entry has expired (#537)
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

Add error page template for default Svelte error page (#595)
  public/mobile-app/src/hooks.client.ts
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format, typescript-check

Use goto on link instead of href (#595)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/AgendaItem.svelte.test.ts
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Reorder unit tests on ConnectedHomepage (#595)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

test to reload page
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

test with invalidateAll
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

test with reload again
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

dead code
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

add static error page
  public/mobile-app/src/error.html
Due: none

test deploy
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Add examples to generate ciphered tokens for OTV (#601)
  app/utils.py
Due: no-vanilla-httpx-usage, pyright

test deploy 2
  Procfile
  bin/start.sh
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

test deploy
  Procfile
  bin/start.sh
Due: none

test deploy 2
  bin/start.sh
Due: none

test deploy 3
  bin/start.sh
Due: none

test deploy 4
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format
