Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

[AMI] remove unused rdv route (#263)
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format

[AMI] Display first agenda item on dashboard (#263)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] remove message icon (#263)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/message-3.svg
Due: npm-lint-and-format

[AMI] requests container (#263)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/arrow-line-disabled.svg
  public/mobile-app/static/remixicons/tracking.svg
Due: npm-lint-and-format

[AMI] remove qrcode, add address block (#263)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/house.svg
Due: npm-lint-and-format

[AMI] regroup auth controllers (#314)
  app/__init__.py
  app/controllers/auth.py
Due: no-vanilla-httpx-usage, pyright

[AMI] endpoint to check user authentication (#314)
  app/controllers/auth.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

Fix sentry errors not being captured (#278)
  app/__init__.py
  public/mobile-app/src/routes/+layout.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Rename "France Conne*" to "FranceConne*"
  .env
  CONTRIBUTING.md
  README.md
  app/rvo/routes.py
  app/utils.py
  public/mobile-app/e2e/demo.test.ts
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/notifications.feature
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
  public/mobile-app/tests/features/thesaurus.feature
  tests/ami/test_auth.py
  tests/rvo/test_basic.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

(DO NOT MERGE) Check if a link to the PSL can be opened properly in a webview (#257)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

FranceConnect button should not be stretched
  public/mobile-app/src/routes/+page.svelte
  templates/ami-admin/base.html
  templates/rvo/base.html
Due: npm-lint-and-format

Add idBAN in address object (#228)
  public/mobile-app/src/routes/adresse/+page.svelte
  public/mobile-app/src/routes/adresse/addressesFromBAN.test.ts
  public/mobile-app/src/routes/adresse/addressesFromBAN.ts
  public/mobile-app/src/routes/adresse/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Handle error from BAN when query is invalid (#228)
  public/mobile-app/src/routes/adresse/+page.svelte
  public/mobile-app/src/routes/adresse/addressesFromBAN.test.ts
  public/mobile-app/src/routes/adresse/addressesFromBAN.ts
  public/mobile-app/src/routes/adresse/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Remove console.log (#228)
  public/mobile-app/src/routes/adresse/+page.svelte
Due: npm-lint-and-format

Allow autocomplete from browser for input (#228)
  public/mobile-app/src/routes/adresse/+page.svelte
Due: npm-lint-and-format

Fix typing (#228)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/adresse/+page.svelte
  public/mobile-app/src/routes/adresse/addressesFromBAN.test.ts
  public/mobile-app/src/routes/adresse/addressesFromBAN.ts
  public/mobile-app/src/routes/adresse/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add form page in front end (#228)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/adresse/+page.svelte
  public/mobile-app/src/routes/adresse/addressesFromBAN.test.ts
  public/mobile-app/src/routes/adresse/addressesFromBAN.ts
  public/mobile-app/src/routes/adresse/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Store address in localStorage (#228)
  public/mobile-app/src/routes/adresse/+page.svelte
  public/mobile-app/src/routes/adresse/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Remove address block in ConnectedHomepage when address is known (#228)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fake commit to test deployment
  CONTRIBUTING.md
Due: none

[AMI] move logout function in auth.ts module (#314)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/auth.test.js
  public/mobile-app/src/lib/auth.ts
Due: npm-lint-and-format, typescript-check

[AMI] checkAuth function (#314)
  public/mobile-app/src/lib/auth.test.js
  public/mobile-app/src/lib/auth.ts
Due: npm-lint-and-format, typescript-check

[AMI] use checkAuth instead of looking at access_token (#314)
  public/mobile-app/e2e/demo.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] set auth cookie expiration to 10 years (#314)
  app/auth.py
Due: no-vanilla-httpx-usage, pyright

[AMI] do not display login button when checkAuth call is in hold (#314)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Scenario template for multiple loggin.
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Refactoring: use a global state for the connected user
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] fix OTV generation (#335)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

Display address block in ConnectedHomepage when entry is not in localStorage (#228)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
