Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

[AMI] move plugins in a dedicated module (#241)
  app/__init__.py
  app/database.py
  app/plugins.py
Due: no-vanilla-httpx-usage, pyright

Unset the `PUBLIC_FC_PROXY` before building the static frontend app (#381)
  bin/start.sh
Due: none

Don't try querying the API Particuliers without the `cnaf_quotient_familial` scope
  app/data/routes.py
  tests/ami/test_data.py
Due: no-vanilla-httpx-usage, pyright

[AMI] use event to publish in channel and push notification (#241)
  app/__init__.py
  app/controllers/notification.py
  app/signals.py
  app/webpush.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

Allow mobile apps to register their Firebase subscription (#386)
  app/controllers/registration.py
  app/models.py
  app/schemas.py
  tests/ami/test_registration.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

Only send notifications for WebPush subscriptions for now (#386)
  app/controllers/notification.py
Due: no-vanilla-httpx-usage, pyright

Replace DSFR spacing classes by css rules (#261)
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

Add button in Notifications page to go to Settings page (#261)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add button in ConnectedHomepage to go to Settings page (#261)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Move registration subscription logic to Settings page (#261)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Notify the mobile app native code that the user is logged in
  public/mobile-app/src/lib/nativeEvents.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

Select France Identité as the default Identity Provider for FranceConnect (#230)
  .env
  app/controllers/auth.py
  app/env.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

Install the Firebase Admin SDK (#388)
  .gitignore
  CONTRIBUTING.md
  bin/start.sh
  pyproject.toml
  uv.lock
Due: none

Ajout de ACL Dubois en premier
  tests/recipient_fc_hashes/test_results.csv
Due: none

misc: fix test file
  tests/recipient_fc_hashes/test_create_hashes.py
  tests/recipient_fc_hashes/test_results.csv
Due: no-vanilla-httpx-usage, pyright

Send the notification to Firebase (#388)
  app/__init__.py
  app/controllers/notification.py
  app/schemas.py
  public/mobile-app/src/lib/api-particulier.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

[AMI] space after preferred username (#385)
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

[AMI] don't display link for holiday agenda items (#400)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

[AMI] display only first given name initial (#394)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

Add explicit exception handling to have more information in the logs
  app/controllers/notification.py
Due: no-vanilla-httpx-usage, pyright

Add tests for the mobile notification
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
  tests/ami/test_registration.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

@zebuline's review
  app/controllers/notification.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
