Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Initialize Django project (#635)
  ami/__init__.py
  ami/asgi.py
  ami/settings.py
  ami/urls.py
  ami/wsgi.py
  manage.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

move generate_nonce function in authentication app (#635)
  ami/authentication/tests/__init__.py
  ami/authentication/tests/test_all.py
  ami/authentication/utils.py
  tests/ami/auth/test_all.py
Due: no-vanilla-httpx-usage, pyright

initial migrations for authentication app (#635)
  ami/authentication/migrations/0001_initial.py
Due: no-vanilla-httpx-usage, pyright

Move models into dedicated apps (#635)
  ami/authentication/__init__.py
  ami/authentication/apps.py
  ami/authentication/migrations/__init__.py
  ami/authentication/models.py
  ami/models.py
  ami/notification/__init__.py
  ami/notification/apps.py
  ami/notification/migrations/__init__.py
  ami/notification/models.py
  ami/settings.py
  ami/user/__init__.py
  ami/user/apps.py
  ami/user/migrations/__init__.py
  ami/user/models.py
Due: no-vanilla-httpx-usage, pyright

Add new Utils app with ping route (#635)
  ami/settings.py
  ami/urls.py
  ami/utils/__init__.py
  ami/utils/apps.py
  ami/utils/tests/__init__.py
  ami/utils/tests/test_all.py
  ami/utils/views.py
Due: no-vanilla-httpx-usage, pyright

Generate models from database inspection (#635)
  ami/models.py
  ami/settings.py
  pyrightconfig.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Add django-webtest and pytest-django dev dependencies (#635)
  pyproject.toml
  uv.lock
Due: none

initial migrations for user app (#635)
  ami/user/migrations/0001_initial.py
Due: no-vanilla-httpx-usage, pyright

Update Makefile (#635)
  Makefile
Due: none

move url_contains_param utils function (#635)
  ami/tests/__init__.py
  ami/tests/utils.py
  tests/ami/auth/test_login.py
  tests/ami/auth/test_login_callback.py
  tests/ami/auth/test_login_callback_address.py
  tests/ami/auth/test_login_callback_error.py
  tests/rvo/test_basic.py
Due: no-vanilla-httpx-usage, pyright

Initialize settings (#635)
  .env
  .env.development
  CONTRIBUTING.md
  README.md
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

login-france-connect view (#635)
  ami/authentication/tests/test_login.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/urls.py
  tests/ami/auth/test_login.py
Due: no-vanilla-httpx-usage, pyright

Add the initial migration for the notification app$
  ami/notification/migrations/0001_initial.py
Due: no-vanilla-httpx-usage, pyright

Add a Makefile target for the collectstatic
  Makefile
Due: none

Serve static files (#635)
  .gitignore
  ami/settings.py
  ami/urls.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Migrate Litestar CLI commands publish-scheduled-notifications and delete-published-scheduled-notifications to django management commands (#635)
  Makefile
  ami/notification/management/__init__.py
  ami/notification/management/commands/__init__.py
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
  ami/notification/models.py
  ami/notification/push.py
  ami/notification/tests/test_delete-published-scheduled-notifications.py
  ami/notification/tests/test_publish-scheduled-notifications.py
  ami/settings.py
  app/cli.py
  tests/ami/test_cli.py
Due: no-vanilla-httpx-usage, pyright

remove useless --settings from manage.py commands in the Makefile
  Makefile
Due: none

Do not use uv on scalingo (#635)
  Makefile
Due: none

Add test commands in Makefile (#635)
  .github/workflows/pytest.yml
  Makefile
Due: none

Add migration command (#635)
  CONTRIBUTING.md
  Makefile
Due: none

Disable collectstatic for deployment (#635)
  scalingo.json
Due: npm-lint-and-format

Use SSL certificates for local development
  Makefile
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

check-auth view (#635)
  ami/authentication/tests/test_check_auth.py
  ami/authentication/urls.py
  ami/authentication/views.py
  tests/ami/auth/test_check_auth.py
Due: no-vanilla-httpx-usage, pyright

logout view (#635)
  ami/authentication/tests/test_logout.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/tests/utils.py
  tests/ami/auth/test_logout.py
Due: no-vanilla-httpx-usage, pyright

auth decorator (#635)
  ami/authentication/decorators.py
Due: no-vanilla-httpx-usage, pyright

auth middleware (#635)
  ami/authentication/middleware.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

login_callback view (without api-particulier call) (#635)
  ami/authentication/auth.py
  ami/authentication/exception.py
  ami/authentication/tests/conftest.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  ami/user/data.py
  ami/utils/httpx.py
  bin/check-no-vanilla-httpx-usage.sh
  tests/ami/auth/test_login_callback_error.py
Due: no-vanilla-httpx-usage, pyright

rename authentication.utils into authentication.auth (#635)
  ami/authentication/auth.py
  ami/authentication/tests/test_all.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

add user fixture (#635)
  ami/authentication/tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

move build_fc_hash function (#635)
  ami/user/tests/__init__.py
  ami/user/tests/test_utils.py
  ami/user/utils.py
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

Migrate Litestar CLI command generate-identity-tokens to Django management command
  ami/conftest.py
  ami/utils/__init__.py
  ami/utils/management/__init__.py
  ami/utils/management/commands/__init__.py
  ami/utils/management/commands/generate-identity-tokens.py
  ami/utils/tests/test_generate-identity-tokens.py
  ami/utils/tests/test_generate_identity_tokens_in_file.py
  app/__init__.py
  app/cli.py
  app/controllers/partner.py
  app/utils.py
  bin/run_command.sh
  tests/ami/test_basic.py
  tests/ami/test_cli.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

@zebuline's review
  ami/notification/management/commands/publish-scheduled-notifications.py
  ami/notification/models.py
Due: no-vanilla-httpx-usage, pyright

Serve websockets through django channels (#635)
  ami/asgi.py
  ami/notification/channel_consumer.py
  ami/notification/channel_routing.py
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

@zebuline's review
  ami/authentication/tests/conftest.py
  ami/conftest.py
  ami/utils/__init__.py
  ami/utils/tests/test_all.py
  app/__init__.py
  app/controllers/auth.py
  migrations/versions/18cc93cd264e_fc_hash_for_user.py
  tests/conftest.py
  tests/recipient_fc_hashes/test_create_hashes.py
Due: no-vanilla-httpx-usage, pyright

add django-cors-headers (#635)
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Django migration: list notifications endpoint (#635)
  ami/api/urls.py
  ami/conftest.py
  ami/notification/api_urls.py
  ami/notification/api_views.py
  ami/notification/tests/test_api_views.py
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Run django on scalingo through gunicorn (#635)
  Makefile
  README.md
  ami/settings.py
  bin/start.sh
  pyproject.toml
  scalingo.json
  uv.lock
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Django migration: read notification endpoint (#635)
  ami/notification/api_urls.py
  ami/notification/api_views.py
  ami/notification/tests/test_api_views.py
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

welcome notification on first login (#635)
  ami/authentication/tests/test_login_callback.py
  ami/notification/models.py
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

Migration "outside of the API" api endpoints (#635)
  ami/settings.py
  ami/urls.py
  ami/utils/api_urls.py
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
  ami/utils/views.py
  app/__init__.py
  pyproject.toml
  tests/ami/test_dev_utils.py
  uv.lock
Due: no-vanilla-httpx-usage, pyright
