Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

Donne la possibilité d'avoir des noms de fichiers et non les valeurs dans les variables d'environnement de clé.
  app/__init__.py
Due: pyright

Intégration de la maquette pour la homepage
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/static/dsfr-v1.14.0/dsfr.module.min.js.map
Due: npm-lint-and-format

Fix test
  tests/test_basic.py
Due: pyright

Fix test
  public/mobile-app/e2e/demo.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format

Add typing
  app/__init__.py
Due: pyright

Updates after code review
  .env.template
  README.md
  app/__init__.py
  public/mobile-app/e2e/demo.test.ts
  public/mobile-app/src/routes/+page.svelte
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Updates after code review
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format

Suite PR #75 - évite de référencer ses propres IDE https://github.com/numerique-gouv/ami-notifications-api/pull/75#discussion_r2288275714
  .gitignore
Due: none

Updates after code review
  pyproject.toml
  tests/test_basic.py
  uv.lock
Due: pyright

Rename the public env variables
  .env.template
  app/__init__.py
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, pyright

Compatibility with the latest version of node
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format

Fix warning about using console.log on a svelte proxy
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Set the FC client secret in a github action secret
  .github/workflows/pytest.yml
  tests/test_basic.py
Due: pyright

rush formatting
  app/__init__.py
Due: pyright

Create a PR that will manage FranceConnect's `sector_identifier_url`
  CONTRIBUTING.md
  app/__init__.py
Due: pyright

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

Add access to PR91
  app/__init__.py
Due: pyright

Intègre en dur la page d'accueil connectée
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/static/remixicons/arrow-line.svg
  public/mobile-app/static/remixicons/calendar-event-fill.svg
  public/mobile-app/static/remixicons/calendar-event-line.svg
  public/mobile-app/static/remixicons/edit-fill.svg
  public/mobile-app/static/remixicons/edit-line.svg
  public/mobile-app/static/remixicons/home-4-fill.svg
  public/mobile-app/static/remixicons/home-4-line.svg
  public/mobile-app/static/remixicons/list-check.svg
  public/mobile-app/static/remixicons/message-3.svg
  public/mobile-app/static/remixicons/notification-3.svg
  public/mobile-app/static/remixicons/qr-code.svg
Due: npm-lint-and-format

Intègre en dur la page d'accueil connectée (#92)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/static/remixicons/arrow-line.svg
  public/mobile-app/static/remixicons/calendar-event-fill.svg
  public/mobile-app/static/remixicons/calendar-event-line.svg
  public/mobile-app/static/remixicons/edit-fill.svg
  public/mobile-app/static/remixicons/edit-line.svg
  public/mobile-app/static/remixicons/home-4-fill.svg
  public/mobile-app/static/remixicons/home-4-line.svg
  public/mobile-app/static/remixicons/list-check.svg
  public/mobile-app/static/remixicons/message-3.svg
  public/mobile-app/static/remixicons/notification-3.svg
  public/mobile-app/static/remixicons/qr-code.svg
Due: npm-lint-and-format

Use hash based routing for the app
  public/mobile-app/src/routes/+page.server.js
  public/mobile-app/src/routes/notifications/+page.server.js
  public/mobile-app/svelte.config.js
Due: npm-lint-and-format

Ajout scénario déconnexion
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Clarification différence notification et message
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Précisions
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Réindentation
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Lien démo
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Suppression de scénarios au mauvais endroit dans le fichier france-connexion.feature
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Scénario de notification simple
  public/mobile-app/tests/features/notifications.feature
Due: none

Scénario lien AMI -> RVO
  public/mobile-app/tests/features/notifications.feature
Due: none

Document Gherkin usage. Closes #88
  CONTRIBUTING-BEHAVIOR.md
  CONTRIBUTING.md
Due: none

Update public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Update CONTRIBUTING-BEHAVIOR.md to open to other IDE's
  CONTRIBUTING-BEHAVIOR.md
Due: none

Rename "notifiable" to "enregistrée" in feature files and step definitions
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/notifications.feature
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
  public/mobile-app/tests/features/thesaurus.feature
Due: none

Encode Service Provider redirect URI to fix bug on review apps
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Extract front component and add unit tests
  app/__init__.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/Installation.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/FranceConnectSvgIcon.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/vite.config.ts
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Add a logout endpoint on the backend
  .env.template
  app/__init__.py
  tests/test_basic.py
Due: pyright

Display a "logged out" info banner on the pwa after logging out
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format
