Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

login page with red backdroung (#117)
  templates/base-rvo.html
Due: none

logged-out page with red background (#117)
  templates/base-rvo.html
  templates/rvo-logged-out.html
Due: none

add footer (#117)
  templates/base-rvo.html
  templates/rvo-liste.html
Due: none

Detail PyCharm Gherkin configuration
  CONTRIBUTING-BEHAVIOR.md
Due: none

Create a PR that will manage FranceConnect's `sector_identifier_url`
  app/__init__.py
Due: pyright

Add access to PR91
  app/__init__.py
Due: pyright

Update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

New URL for the AMI - RVO split
  app/__init__.py
Due: pyright

FC access on review apps (#117)
  app/__init__.py
Due: pyright

Update __init__.py
  app/__init__.py
Due: pyright

Use an env variable on scalingo for the sector identifier url instead of this "do not merge" PR
  CONTRIBUTING.md
  app/__init__.py
  tests/test_basic.py
Due: pyright

Update biome so it doesn't fail on trying to format scalingo.json (from the pre-commit hook)
  biome.json
  package-lock.json
  package.json
Due: npm-lint-and-format

Fix the PUBLIC_FC_SERVICE_PROVIDER_REDIRECT_URL generator in scalingo.json
  scalingo.json
Due: npm-lint-and-format

Fix formatting
  .vscode/settings.json
Due: npm-lint-and-format

[RVO] Add a detail page for an appointment
  app/rvo.py
  templates/base-rvo.html
  templates/rvo-detail.html
  templates/rvo-liste.html
Due: pyright

[AMI] Add a detail page for an appointment, with a link to cancel it on RVO
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/rdv/+page.svelte
Due: npm-lint-and-format

If RVO needed a login, redirect to the requested page after login
  app/rvo.py
  tests/test_basic.py
Due: pyright

add HTML linting and formatting on pre-commit
  .pre-commit-config.yaml
Due: none

apply HTML linting and formatting
  public/mobile-app/src/app.html
  templates/base-rvo.html
  templates/base.html
Due: none

add calendar icon on rvo title (#117)
  templates/base-rvo.html
Due: none

meetings listing page from mockups (#117)
  templates/base-rvo.html
  templates/rvo-liste.html
Due: none

Update CSS and extract RVO logos
  public/mobile-app/static/icons/rvo-logo-connected.svg
  public/mobile-app/static/icons/rvo-logo-not-connected.svg
  templates/base-rvo.html
  templates/rvo-liste.html
Due: none
