Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

FI: add fi app (#708)
  ami/api/urls.py
  ami/fi/__init__.py
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/apps.py
  ami/fi/tests/__init__.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_logout.py
  ami/fi/tests/test_token.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Reorder env variables (#708)
  .env
Due: none

FI: implement token (#708)
  .env
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_token.py
  ami/fi/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement logout (#708)
  ami/fi/api_views.py
  ami/fi/tests/test_logout.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement authorize (#708)
  ami/authentication/tests/conftest.py
  ami/conftest.py
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

FI: add FISession model (#708)
  ami/fi/migrations/0001_initial.py
  ami/fi/migrations/0002_fi_session.py
  ami/fi/migrations/__init__.py
  ami/fi/models.py
Due: no-vanilla-httpx-usage, pyright

Rename help texts for scheduled notifications commands (#708)
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
Due: no-vanilla-httpx-usage, pyright

FI: add CRON to delete expired FISessions (#708)
  ami/fi/management/__init__.py
  ami/fi/management/commands/__init__.py
  ami/fi/management/commands/delete-expired-fi-sessions.py
  ami/fi/tests/test_delete-expired-fi-sessions_command.py
  cron.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Ajout Headers dans le log des erreurs d'API Part
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

Refactor: remove field name from log method name (#626)
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

Display toasts above menu if present (#723)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Toasts.svelte
Due: npm-lint-and-format

Standardize toasts and banners (#723)
  public/mobile-app/src/lib/components/Toast.svelte
  public/mobile-app/src/lib/components/Toast.svelte.test.ts
  public/mobile-app/src/lib/components/Toasts.svelte
  public/mobile-app/src/lib/components/Toasts.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add error page template for default Svelte error page (#595)
  public/mobile-app/src/hooks.client.ts
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format, typescript-check

Reorder unit tests on ConnectedHomepage (#595)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Use goto on link instead of href (#595)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

try with service worker
  public/mobile-app/src/routes/+error.svelte
  public/mobile-app/static/service-worker.js
Due: npm-lint-and-format

add static error page
  public/mobile-app/src/error.html
Due: none

test to reload page
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

test with invalidateAll
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

test
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

dead code
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

try reset error
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

test with reload again
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

Use effect for toast with reactive props (#723)
  public/mobile-app/src/lib/components/Toast.svelte
Due: npm-lint-and-format

Replicate anonymised user data (#791)
  ami/replication/__init__.py
  ami/replication/api_urls.py
  ami/replication/api_views.py
  ami/replication/apps.py
  ami/replication/migrations/__init__.py
  ami/replication/models.py
  ami/replication/tests/tests.py
  ami/settings.py
  ami/urls.py
Due: no-vanilla-httpx-usage, pyright

peer prog commit
  ami/replication/api_urls.py
  ami/replication/api_views.py
  ami/replication/tests/tests.py
  ami/urls.py
Due: no-vanilla-httpx-usage, pyright

notification: partner_id can not be null or empty (#798)
  ami/notification/migrations/0008_partner_id.py
  ami/notification/migrations/0009_partner_id.py
  ami/notification/models.py
Due: no-vanilla-httpx-usage, pyright

Mapper file for localisation
  ami/user/core_user_mapper.py
Due: no-vanilla-httpx-usage, pyright

Maj adress in front
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

api agenda: zones is a list, not str (#508)
  ami/agenda/data/holidays.py
  ami/agenda/data/schemas.py
  ami/agenda/schemas.py
  ami/agenda/tests/test_all.py
  ami/agenda/tests/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

front: display zones in description (#508)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

front: force data expiration if zones is a string (#508)
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

front: define all zones and their departments (#508)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
Due: npm-lint-and-format, typescript-check

front: display only zones A, B, C, waiting for filters (#508)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

api agenda: no zone filtering for school holidays, change url to avoid pagination (#508)
  ami/agenda/data/holidays.py
  ami/agenda/tests/test_school_holidays.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

tests: replace django_app fixture (#508)
  ami/agenda/tests/test_all.py
  ami/agent_admin/tests/test_access_denied.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/tests/test_login.py
  ami/agent_admin/tests/test_logout.py
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/tests/utils.py
  ami/authentication/tests/test_check_auth.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_address.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/tests/test_logout.py
  ami/conftest.py
  ami/followup/tests/test_all.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/test_scheduled_notification.py
  ami/partner/tests/test_api_views.py
  ami/tests/utils.py
  ami/user/tests/test_registration.py
  ami/utils/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright
