Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Fix request body of read_notification endpoint (#704)
  ami/notification/api_views.py
Due: no-vanilla-httpx-usage, pyright

Fix request body of scheduled_notifications endpoint (#704)
  ami/notification/api_views.py
Due: no-vanilla-httpx-usage, pyright

Fix query parameters of _dev_utils_recipient_fc_hash endpoint (#704)
  ami/utils/api_views.py
  ami/utils/serializers.py
Due: no-vanilla-httpx-usage, pyright

Fix query parameters of generate_partner_url endpoint (#704)
  ami/partner/api_views.py
  ami/partner/serializers.py
  ami/partner/tests/test_api_views.py
Due: no-vanilla-httpx-usage, pyright

Fix query parameter of scheduled_notifications endpoint (#704)
  ami/notification/api_views.py
Due: no-vanilla-httpx-usage, pyright

store DJANGO_SECRET_KEY in env variable (#707)
  .env.development
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Initialize the Firebase SDK (#712)
  ami/notification/apps.py
Due: no-vanilla-httpx-usage, pyright

Reconnect the websocket when needed (#652)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check

Change the OpenAPI schema URL (#717)
  ami/api/urls.py
Due: no-vanilla-httpx-usage, pyright

Send only a DATA push notification to mobile apps (#648)
  ami/notification/push.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

notification-request: item fields are optional (#662)
  ami/notification/serializers.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

set fr-fr LANGUAGE_CODE (#662)
  ami/notification/serializers.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/test_scheduled_notification.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Add ami-admin (#609)
  ami/settings.py
  ami/urls.py
Due: no-vanilla-httpx-usage, pyright

Add apps for agent and agent_admin (#609)
  ami/agent/__init__.py
  ami/agent/apps.py
  ami/agent/migrations/__init__.py
  ami/agent/models.py
  ami/agent_admin/__init__.py
  ami/agent_admin/apps.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Add Agent model (#609)
  ami/agent/migrations/0001_initial.py
  ami/agent/migrations/0002_agent.py
  ami/agent/models.py
Due: no-vanilla-httpx-usage, pyright

Add mozilla-django-oidc package for ProConnection (#609)
  pyproject.toml
  uv.lock
Due: none

Remove unused env variables (#609)
  .env
  CONTRIBUTING.md
  ami/settings.py
  scalingo.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Init ProConnection with OIDC lib (#609)
  ami/agent/decorators.py
  ami/agent_admin/templates/agent_admin/home.html
  ami/agent_admin/templates/agent_admin/login.html
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/tests/test_login.py
  ami/agent_admin/tests/utils.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
  ami/settings.py
  ami/urls.py
Due: no-vanilla-httpx-usage, pyright

Create Agent on ProConnection login callback (#609)
  ami/agent/auth.py
  ami/agent/models.py
  ami/agent/tests/__init__.py
  ami/agent/tests/test_auth_middleware.py
  ami/agent_admin/views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Register Agent in ami-admin (#609)
  ami/agent/admin.py
Due: no-vanilla-httpx-usage, pyright

Add decorators to check agent role (#609)
  ami/agent/decorators.py
  ami/agent/models.py
  ami/agent_admin/templates/agent_admin/access_denied.html
  ami/agent_admin/tests/test_access_denied.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

Add page to manage access (#609)
  ami/agent_admin/templates/agent_admin/home.html
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/tests/utils.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

Add ProConnection logout (#609)
  ami/agent/auth.py
  ami/agent_admin/templates/agent_admin/home.html
  ami/agent_admin/templates/agent_admin/logout.html
  ami/agent_admin/tests/test_logout.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Rename env variables to remove unnecessary PUBLIC prefix (#609)
  .env
  ami/agenda/data/holidays.py
  ami/authentication/auth.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/views.py
  ami/notification/channel_consumer.py
  ami/notification/tests/test_websocket.py
  ami/settings.py
  ami/user/data.py
  scalingo.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Move settings vars from .env to settings file (#609)
  .env
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

add pyquery dependencie for tests (#609)
  pyproject.toml
  uv.lock
Due: none

Display agents on management page (#609)
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

fix api-particulier logging on 500 error (#727)
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/views.py
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

display agent data in tables (#609)
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

add django-dsfr (#609)
  pyproject.toml
  uv.lock
Due: none
