Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

notification: api event, default item parent partner is current partner (#1262)
  ami/notification/api_views_v2.py
  ami/notification/serializers.py
  ami/notification/tests/api/v2/test_partner_events.py
Due: no-vanilla-httpx-usage, pyright

front: fix mask-image paths for Followup components (#1250)
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte
Due: npm-lint-and-format

front: remove ConnectedHomepage component (#1317)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: do user checks in page.ts on homepage (#1317)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/+page.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/page.test.ts
Due: npm-lint-and-format, typescript-check

front: move hasAnyConsents in Consents class (#1317)
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/+page.ts
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: isEmpty method on Followup (#1317)
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/+page.ts
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.ts
Due: npm-lint-and-format, typescript-check

front: add tests for +page.ts files (#1317)
  public/mobile-app/src/routes/followup/archived/page.test.ts
  public/mobile-app/src/routes/followup/page.test.ts
  public/mobile-app/src/routes/page.test.ts
Due: npm-lint-and-format, typescript-check

partner: add link to Partner model (#1250)
  ami/partner/migrations/0004_partner.py
  ami/partner/migrations/0005_partner.py
  ami/partner/models.py
Due: no-vanilla-httpx-usage, pyright

page notif: remove box-shadow - fix css with dsfr and fix focus (#1315)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/NotificationIcon.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

authentication: add dedicated logout-callback url (#1305)
  ami/authentication/tests/test_login_callback_relogin.py
  ami/authentication/tests/test_logout_callback.py
  ami/authentication/urls.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

front: use partners in consent and followup (#1250)
  public/mobile-app/src/lib/api-partners.test.ts
  public/mobile-app/src/lib/api-partners.ts
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/partners.test.ts
  public/mobile-app/src/lib/partners.ts
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/archived/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.test.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/+page.ts
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/page.test.ts
Due: npm-lint-and-format, typescript-check

partner: add endpoint to get partners (#1250)
  ami/partner/api_urls.py
  ami/partner/api_views.py
  ami/partner/models.py
  ami/partner/schemas.py
  ami/partner/serializers.py
  ami/partner/tests/test_api_views.py
Due: no-vanilla-httpx-usage, pyright

front: remove dead code (#1279)
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/+page.svelte
Due: npm-lint-and-format

misc: only configure data ware house router if different database (#1340)
  Makefile
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: deduplicate services (#1326)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_service.py
Due: no-vanilla-httpx-usage, pyright

partners: add list of allowed IP addresses/networks (#1255)
  ami/agent_admin/forms.py
  ami/partner/migrations/0004_add_ip_allow_list.py
  ami/partner/models.py
Due: no-vanilla-httpx-usage, pyright

partners: check caller against ip allow list (#1255)
  .env
  ami/partner/auth.py
  ami/partner/models.py
  ami/partner/tests/test_authentication.py
  ami/partner/tests/test_models.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: add validator (#815)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

front: validate preferred username (#815)
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: validate email (#815)
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

notifications: delete all user's scheduled notifications (#1290)
  ami/notification/api_views.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

front: function to delete user's scheduled notifications (#1290)
  public/mobile-app/src/lib/scheduled-notifications.test.ts
  public/mobile-app/src/lib/scheduled-notifications.ts
Due: npm-lint-and-format, typescript-check

front: refacto, move some scheduled notification logic in User class (#1290)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: misc, use fake timers in tests to mock debounce calls (#1290)
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: don't rebuild agenda after address update (#1290)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: don't push OTV is user has no address (#1290)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

user: add a new FC hash format, based on data with separators (#1193)
  .env
  ami/settings.py
  ami/user/tests/test_utils.py
  ami/user/utils.py
Due: no-vanilla-httpx-usage, pyright

front: always consider displayed holidays for autopromo (#1290)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

user: create csv example file with both hash formats (#1193)
  ami/user/tests/test_create_hashes.py
Due: no-vanilla-httpx-usage, pyright

user: update csv file with sample v2 hashes (#1193)
  ami/user/tests/test_results.csv
Due: none

front: add custom icons for notifications (#1302)
  public/mobile-app/src/lib/dsfr-icon.test.ts
  public/mobile-app/src/lib/dsfr-icon.ts
  public/mobile-app/src/styles/base/_icon.scss
  public/mobile-app/static/icons/custom/folder-check-line.svg
  public/mobile-app/static/icons/custom/folder-open-line.svg
  public/mobile-app/static/icons/custom/indeterminate-circle-line.svg
Due: npm-lint-and-format, typescript-check
