Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: display pages (#1067)
  public/mobile-app/src/lib/api-content-page.test.ts
  public/mobile-app/src/lib/api-content-page.ts
  public/mobile-app/src/lib/content-page.test.ts
  public/mobile-app/src/lib/content-page.ts
  public/mobile-app/src/lib/markdown.test.ts
  public/mobile-app/src/lib/markdown.ts
  public/mobile-app/src/routes/page/[page_slug]/+page.svelte
  public/mobile-app/src/routes/page/[page_slug]/[section_slug]/+page.svelte
  public/mobile-app/src/routes/page/[page_slug]/[section_slug]/page.svelte.test.ts
  public/mobile-app/src/routes/page/[page_slug]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add menu entries for privacy and accessibility (#1067)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

agent_admin: add support for managing pages with sections (#1067)
  ami/agent_admin/forms.py
  ami/agent_admin/manage_urls.py
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/add_edit_page.html
  ami/agent_admin/templates/agent_admin/manage/add_edit_section.html
  ami/agent_admin/templates/agent_admin/manage/list_pages.html
  ami/agent_admin/tests/manage/test_page.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/utils.py
  ami/agent_admin/views/manage/page_views.py
  ami/page/__init__.py
  ami/page/migrations/0001_initial.py
  ami/page/migrations/__init__.py
  ami/page/models.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

general: add markdown and nh3 modules (#1067)
  pyproject.toml
  uv.lock
Due: none

page: add API to retrieve pages (#1067)
  ami/api/urls.py
  ami/page/api_urls.py
  ami/page/api_views.py
  ami/page/tests/__init__.py
  ami/page/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

front: agenda, don't display past personnal items from followup (#1382)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: redo contact page (#800)
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, remove FollowupParentItemDetail component (#1144)
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, display link to parent on subitem with milestone page (#1144)
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte
Due: npm-lint-and-format, typescript-check

front: remove FollowupItemMessages component (#1144)
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemMessages.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, display sub item with milestone on item detail (#1144)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: add personnal followup sub items in agenda (#1144)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

notification: check parent item values (#1261)
  ami/notification/serializers.py
  ami/notification/tests/api/v2/test_partner_events.py
Due: no-vanilla-httpx-usage, pyright

front: always navigate to welcome pages on login (#1027)
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/tests/test_login_callback_silent_ami_fi.py
  ami/user/data.py
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: move nativeEvents and nativeInfos in dedicated folder (#1027)
  public/mobile-app/src/lib/bridges/nativeBridge.test.ts
  public/mobile-app/src/lib/bridges/nativeBridge.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check

front: mapping url pattern -> alias (#1027)
  public/mobile-app/src/lib/urlAliases.ts
Due: npm-lint-and-format, typescript-check

front: expose url aliases to mobile app through webbappBridge (#1027)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/bridges/webappBridge.test.ts
  public/mobile-app/src/lib/bridges/webappBridge.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add missing tests on nativeInfos (#1027)
  public/mobile-app/src/lib/bridges/nativeInfos.test.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
Due: npm-lint-and-format, typescript-check

front: resolve url to get alias (#1027)
  public/mobile-app/src/lib/urlAliases.test.ts
  public/mobile-app/src/lib/urlAliases.ts
Due: npm-lint-and-format, typescript-check

front: get promoted url aliases from mobile app (#1027)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/bridges/nativeInfos.test.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
Due: npm-lint-and-format, typescript-check

front: guess if url is promoted (#1027)
  public/mobile-app/src/lib/urlAliases.test.ts
  public/mobile-app/src/lib/urlAliases.ts
Due: npm-lint-and-format, typescript-check

front: AMIGoto, if url is promoted, force reload (#1027)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

front: add native infos (platform/version) (#800)
  public/mobile-app/src/lib/nativeInfos.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: refactor contacts to support placeholders in url (#800)
  public/mobile-app/src/lib/contact.test.ts
  public/mobile-app/src/lib/contact.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
Due: npm-lint-and-format, typescript-check

front: move access key check to init() hook (#1395)
  public/mobile-app/src/hooks.client.ts
  public/mobile-app/src/lib/access-key.test.ts
  public/mobile-app/src/lib/access-key.ts
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/layout.test.ts
Due: npm-lint-and-format, typescript-check

notification: return item values to front (#1299)
  ami/notification/models.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

front: notifications, adapt interface (#1299)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: notification, redirect to item page if exist (#1299)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

back: add Update all consents endpoint (#1273)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/serializers.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

front: add Select all button in consents page (#1273)
  public/mobile-app/src/lib/api-consents.test.ts
  public/mobile-app/src/lib/api-consents.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/+page.ts
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/page.test.ts
Due: npm-lint-and-format, typescript-check

front: remove target icon for consent links (#1273)
  public/mobile-app/src/lib/components/followup/Followup.svelte
Due: npm-lint-and-format

front: hide button when user has all consents (#1273)
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/archived/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.test.ts
Due: npm-lint-and-format, typescript-check

wip front: display warning block when consent withdrawn (#1273)
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/consents.test.ts
  public/mobile-app/src/lib/consents.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/+page.ts
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/archived/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/page.test.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/+page.ts
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/page.test.ts
Due: npm-lint-and-format, typescript-check
