Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: replace window.location.href by AMIGoto (#1311)
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/login/page.svelte.test.ts
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/page.svelte.test.ts
  public/mobile-app/src/routes/relogin/+page.svelte
  public/mobile-app/src/routes/relogin/page.svelte.test.ts
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/silent-login/+page.svelte
  public/mobile-app/src/routes/silent-login/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: don't use goto for api urls (#1311)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

front: AMIGoto optional opts param (#1311)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

partner: don't fail on unknown secret (#1320)
  ami/partner/models.py
  ami/partner/tests/test_models.py
Due: no-vanilla-httpx-usage, pyright

notification: deduplicate notifications from scheduled (#839)
  ami/notification/models.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
Due: no-vanilla-httpx-usage, pyright

front: clean user instead of logout when apiFetch is 401 (#1327)
  public/mobile-app/src/lib/auth.test.ts
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

CI E2E : intègre ami-system-tests, gating de déploiement Scalingo par status
  .github/workflows/e2e-after-deploy.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

rename after-deploy to conform conventions
  .github/workflows/e2e-after-deploy.yml
Due: none

remove dead code: ref_name for environments that we won't use in a short future and waiting for scalingo as we stopped active waiting to listen on statuses.
  .github/workflows/workflow-e2e-webapp-manual.yml
Due: none

make pr_number a number in manual call
  .github/workflows/workflow-e2e-webapp-manual.yml
Due: none

make manual trigger available again.
  .github/workflows/workflow-e2e-webapp-manual.yml
Due: none

trigger a push
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

front: add typing for markdown-truncate (#1180)
  public/mobile-app/src/lib/markdown-truncate.d.ts
Due: npm-lint-and-format, typescript-check

front: display checklists from data (#1180)
  public/mobile-app/src/lib/api-checklist.ts
  public/mobile-app/src/lib/checklist.test.ts
  public/mobile-app/src/lib/checklist.ts
  public/mobile-app/src/lib/data/checklists/F16225.json
  public/mobile-app/src/lib/data/checklists/F3109.json
  public/mobile-app/src/routes/checklist/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

checklist: add management command to parse documents (#1180)
  ami/checklist/__init__.py
  ami/checklist/management/__init__.py
  ami/checklist/management/commands/__init__.py
  ami/checklist/management/commands/create_checklist_from_doc.py
  ami/checklist/tests/__init__.py
  ami/checklist/tests/test_command.py
  ami/checklist/tests/test_node_to_markdown.py
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: integrate CNMSS001 checklist with support for intertitles (#1180)
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
  public/mobile-app/src/lib/api-checklist.ts
  public/mobile-app/src/lib/checklist.ts
  public/mobile-app/src/lib/data/checklists/CNMSS001.json
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: adjust testid in sidemenu component (#1180)
  public/mobile-app/src/lib/components/SideMenu.svelte
Due: npm-lint-and-format

front: add markdown-truncate (#1180)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

front: add types and tests for sidemenu component (#1180)
  public/mobile-app/src/lib/components/SideMenu.svelte
  public/mobile-app/src/lib/components/SideMenu.svelte.test.ts
  public/mobile-app/src/lib/side-menu.ts
Due: npm-lint-and-format, typescript-check

front: allow sup and sub in markdown (#1180)
  public/mobile-app/src/lib/markdown.test.ts
  public/mobile-app/src/lib/markdown.ts
Due: npm-lint-and-format, typescript-check

front: truncate long checklist items (#1180)
  public/mobile-app/src/lib/markdown.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

agent-admin: delete users consents before user deletion (#1322)
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

front: fix login-callback display on android (#1306)
  public/mobile-app/src/routes/login-callback/+page.svelte
Due: npm-lint-and-format

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
