Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

FI: implement logout (#708)
  ami/fi/api_views.py
  ami/fi/tests/test_logout.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: add FISession model (#708)
  ami/fi/migrations/0001_initial.py
  ami/fi/migrations/0002_fi_session.py
  ami/fi/migrations/__init__.py
  ami/fi/models.py
Due: no-vanilla-httpx-usage, pyright

Reorder env variables (#708)
  .env
Due: none

FI: implement userinfo (#708)
  .env.development
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/models.py
  ami/fi/tests/test_models.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement token (#708)
  .env
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_token.py
  ami/fi/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement authorize (#708)
  ami/authentication/tests/conftest.py
  ami/conftest.py
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

Rename help texts for scheduled notifications commands (#708)
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
Due: no-vanilla-httpx-usage, pyright

FI: add CRON to delete expired FISessions (#708)
  ami/fi/management/__init__.py
  ami/fi/management/commands/__init__.py
  ami/fi/management/commands/delete-expired-fi-sessions.py
  ami/fi/tests/test_delete-expired-fi-sessions_command.py
  cron.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

FI: front page and api view to test login (#708)
  .env
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  public/mobile-app/src/routes/fi/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

authorize: claims can be empty (#708)
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

authorize: redirect_uri is FC (#708)
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: fo back to proxy (if defined) after authorize (#708)
  ami/fi/api_views.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

FI: always logout from FC before FI login (#708)
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/fi/+page.svelte
Due: npm-lint-and-format, typescript-check

Disable notifications on logout (#721)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

Remove target="_self" in Svelte code (#877)
  public/mobile-app/src/routes/preferences/+page.svelte
Due: npm-lint-and-format

agent-admin: reorganize urls, views and tests (#774)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/list_access.html
  ami/agent_admin/templates/agent_admin/manage/send_notification.html
  ami/agent_admin/tests/manage/__init__.py
  ami/agent_admin/tests/manage/test_access.py
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/agent_admin/tests/test_api.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
  ami/agent_admin/views/__init__.py
  ami/agent_admin/views/base_views.py
  ami/agent_admin/views/manage/__init__.py
  ami/agent_admin/views/manage/access_views.py
  ami/agent_admin/views/manage/notification_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: base views/urls/tests for user management (#774)
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
  ami/agent_admin/templates/agent_admin/manage/search_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

amidsfr: add search icon and search button to autocomplete widget (#774)
  ami/amidsfr/static/js/amidsfr-autocomplete.js
  ami/amidsfr/templates/amidsfr/form_field_snippets/autocomplete_snippet.html
  ami/amidsfr/templates/amidsfr/form_field_snippets/field_snippet.html
  ami/amidsfr/widgets.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

agent-admin: implement search user view (#774)
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/manage/search_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: implement detail user view (#774)
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: audit entry for user deletion (#774)
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/utils.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: implement delete user view (#774)
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/manage/detail_user.html
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/access_views.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

agent-admin: toast messages (#774)
  ami/agent_admin/context_processors.py
  ami/agent_admin/forms.py
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/manage/send_notification.html
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/views/manage/notification_views.py
  ami/agent_admin/views/manage/user_views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

agent-admin: audit entry for user details consultation (#774)
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/views/manage/user_views.py
Due: no-vanilla-httpx-usage, pyright

Also track holiday zones COUNT on matomo (#750)
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

@cdesquilbet-dila's review
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

Track holiday zones on matomo (#750)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
