Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: lib to build auto-promo objects (#1001)
  public/mobile-app/src/lib/auto-promo.test.ts
  public/mobile-app/src/lib/auto-promo.ts
Due: npm-lint-and-format, typescript-check

front: auto-promo display on connected home page (#1001)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/auto-promo.ts
  public/mobile-app/src/lib/components/AutoPromoItem.svelte
Due: npm-lint-and-format, typescript-check

front: change "Voir tout" button on home page (#1001)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/styles/components/_button.scss
Due: npm-lint-and-format

front: move user connected check in Agenda constructor (#1001)
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: store current date on Agenda object (#1001)
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: move holiday selection for OTV logic in a dedicated method (#1001)
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: remove OTV tile from agenda (#1001)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: guess eligible school holiday for OTV auto promo (#1001)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

tests: use long enough secret to avoid warning (#1154)
  ami/notification/tests/test_websocket.py
Due: no-vanilla-httpx-usage, pyright

general: remove PUBLIC_API_URL and many of PUBLIC_APP_URL (#1138)
  .env
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/authentication/tests/test_login_ami_fi.py
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/views.py
  ami/fi/utils.py
  ami/notification/models.py
  ami/notification/tests/api/test_notification.py
  ami/settings.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/ami-goto.test.ts
  public/mobile-app/src/lib/ami-goto.ts
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/fi/+page.svelte
  public/mobile-app/src/routes/fi/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  scalingo.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: proxy django URLs via Vite (#1138)
  CONTRIBUTING.md
  Makefile
  README.md
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

front: fix typo for Preferences (#1157)
  public/mobile-app/src/lib/components/Navigation.svelte
Due: npm-lint-and-format

user: add external endpoint to get consent (#1159)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/migrations/0003_consent.py
  ami/user/models.py
  ami/user/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

front: replace link a by buttonfor rgaa (#1104)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AutoPromoItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/styles/app.scss
  public/mobile-app/src/styles/components/_badge.scss
Due: npm-lint-and-format, typescript-check

front: move login screen to its own route (#1152)
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/views.py
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/login/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: add login-callback route (#1152)
  ami/authentication/tests/test_login_callback.py
  ami/authentication/views.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/layout.test.ts
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: directly redirect to login page if user is not connected (#1152)
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte.test.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/pages.svelte.test.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/zones/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

authentication: translate FC unavailable error (#1152)
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

remove is logged in
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_ami_fi.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/tests/test_login_callback_silent_ami_fi.py
  ami/authentication/views.py
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/fi/+page.svelte
  public/mobile-app/src/routes/fi/page.svelte.test.ts
  public/mobile-app/src/routes/layout.test.ts
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
  public/mobile-app/src/routes/silent-login/+page.svelte
  public/mobile-app/src/routes/silent-login/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Premier essai de CI multi repo
  .github/workflows/workflow-e2e-webapp.yml
Due: none

ci: declare github action to trigger workflow on ami-system-tests (issue 10)
  .github/workflows/workflow-e2e-webapp.yml
Due: none

general: use typographical apostrophes (#1161)
  ami/agent_admin/templates/agent_admin/login.html
  ami/agent_admin/templates/agent_admin/manage/list_access.html
  ami/fi/templates/fi/authorize.html
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/Installation.svelte
  public/mobile-app/src/lib/Installation.svelte.test.ts
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/Toast.svelte.test.ts
  public/mobile-app/src/lib/components/Toasts.svelte.test.ts
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.test.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/forbidden/+page.svelte
  public/mobile-app/src/routes/network-error/+page.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format, typescript-check

dev: add check of commit message to pre-commit (#157)
  .pre-commit-config.yaml
  bin/check_commit_message.py
Due: no-vanilla-httpx-usage, pyright

front: remove obsolete test as initializeData is never called (#1165)
  public/mobile-app/src/routes/layout.test.ts
Due: npm-lint-and-format, typescript-check
