Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: expose url aliases to mobile app through webbappBridge (#1027)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/bridges/webappBridge.test.ts
  public/mobile-app/src/lib/bridges/webappBridge.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add missing tests on nativeInfos (#1027)
  public/mobile-app/src/lib/bridges/nativeInfos.test.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
Due: npm-lint-and-format, typescript-check

front: resolve url to get alias (#1027)
  public/mobile-app/src/lib/urlAliases.test.ts
  public/mobile-app/src/lib/urlAliases.ts
Due: npm-lint-and-format, typescript-check

front: get promoted url aliases from mobile app (#1027)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/bridges/nativeInfos.test.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
Due: npm-lint-and-format, typescript-check

front: guess if url is promoted (#1027)
  public/mobile-app/src/lib/urlAliases.test.ts
  public/mobile-app/src/lib/urlAliases.ts
Due: npm-lint-and-format, typescript-check

front: AMIGoto, if url is promoted, force reload (#1027)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

notification: add logs at notification and event creations (#1120)
  ami/notification/api_views.py
  ami/notification/api_views_v2.py
Due: no-vanilla-httpx-usage, pyright

front: set lang attribute to fr (#1118)
  public/mobile-app/src/app.html
Due: none

front: AMIGoto utils function (#979)
  public/mobile-app/src/lib/ami-goto.test.ts
  public/mobile-app/src/lib/ami-goto.ts
Due: npm-lint-and-format, typescript-check

front: use AMIGoto for service and procedure (#979)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: simplify service detail page, build serviceUrl only on demand (#979)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: intermediate modal opened on service click (#979)
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: CenteredModal (#979)
  public/mobile-app/src/lib/components/modal/CenteredModal.svelte
  public/mobile-app/src/lib/components/modal/LightModal.svelte
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
Due: npm-lint-and-format

front: implement logout modal as CenteredModal (#979)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/modal/Logout.svelte
  public/mobile-app/src/lib/components/modal/LogoutFooter.svelte
  public/mobile-app/src/lib/components/modal/LogoutFooter.svelte.test.ts
Due: npm-lint-and-format, typescript-check

partage du pair
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

try with webauthn python lib & simplewebauthn/browser js lib
  ami/authentication/urls.py
  ami/authentication/views.py
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/passkey/+page.svelte
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

settings: do not use data warehouse router in review apps (#1004)
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

user: delete registrations from device_id (#937)
  ami/user/api_views.py
  ami/user/migrations/0003_device_id.py
  ami/user/migrations/0004_device_id.py
  ami/user/models.py
  ami/user/serializers.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: use deviceId to unregister (#937)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: unregister native device with PUT (#937)
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

user: rename legacy unregister (#937)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: rename enableNotifications for desktop (#939)
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: no return value for enableNotificationsAndUpdateLocalStorage (#939)
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check

front: refacto enableNotificationsAndUpdateLocalStorage (#939)
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: rename enableNotificationsAndUpdateLocalStorage to enableNotifications (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename unregisterDesktopRegistration to unregisterRegistrationsForDesktop (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: rename unregisterDevice to unregisterRegistrationsForNative (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: delete registrations before enabling notifications (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

scss: sass-embeded installed to use scss for css (#1123)
  .pre-commit-config.yaml
  package-lock.json
  package.json
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/app.css
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/styles/app.scss
  public/mobile-app/src/styles/base/_color.scss
  public/mobile-app/src/styles/base/_icon.scss
  public/mobile-app/src/styles/base/_typography.scss
  public/mobile-app/src/styles/components/_tile.scss
  public/mobile-app/src/styles/layout/_header.scss
Due: npm-lint-and-format
