Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system
  require_serial: true

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  require_serial: true

Use the FC sandboxes from the equipe-ami account
  .env
Due: none

[AMI] add cnaf_quotient_familial scope (#139)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

[AMI] userinfo is a $state proxy, use $inspect (#139)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

[AMI] add endpoint to get quotient from api_particulier (#139)
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright

[AMI] add variables in .env for api_particulier (#139)
  .env
Due: none

[AMI] get quotient info and display it in debug section (#139)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

Target test (#139)
  public/mobile-app/tests/features/france-connexion.feature
Due: none

[AMI] extract and unit test api-particulier calls (#139)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-particulier.test.ts
  public/mobile-app/src/lib/api-particulier.ts
Due: npm-lint-and-format

[RVO] display user name instead of email (#162)
  templates/rvo/send-notification.html
  tests/rvo/test_notification.py
Due: pyright

[FC] use alias scope to reduce claims definition (#169)
  public/mobile-app/src/routes/+page.svelte
  templates/rvo/base.html
Due: npm-lint-and-format

[AMI] don't allow to set notification's id or date (#184)
  app/__init__.py
  app/models.py
  tests/ami/test_basic.py
Due: pyright

[AMI] don't allow creation of notification with empty message (#184)
  app/models.py
  tests/ami/test_basic.py
Due: pyright

[AMI] refacto create_registration function for consistency (#184)
  app/__init__.py
  app/models.py
Due: pyright

[AMI] non regression test for registration fields (#184)
  tests/ami/test_basic.py
Due: pyright

Use a FC proxy for login and logout (#190)
  .env
  CONTRIBUTING.md
  app/__init__.py
  app/rvo.py
  public/mobile-app/src/lib/france-connect.js
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/routes/+page.svelte
  templates/rvo/base.html
  tests/rvo/test_basic.py
Due: npm-lint-and-format, pyright

Display footer menu above borders (#133)
  public/mobile-app/src/lib/Navigation.svelte
Due: npm-lint-and-format

Make the footer menu sticky and fix CSS integration (#133)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/static/remixicons/calendar-event-fill.svg
  public/mobile-app/static/remixicons/calendar-event-line.svg
  public/mobile-app/static/remixicons/edit-fill.svg
  public/mobile-app/static/remixicons/edit-line.svg
  public/mobile-app/static/remixicons/home-4-fill.svg
  public/mobile-app/static/remixicons/home-4-line.svg
  public/mobile-app/static/remixicons/list-check.svg
Due: npm-lint-and-format

Add margin-bottom for footer menu (#133)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Use svg files for footer menu icons (#133)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/static/remixicons/edit-line.svg
  public/mobile-app/static/remixicons/home-4-fill.svg
  public/mobile-app/static/remixicons/list-check.svg
Due: npm-lint-and-format

Refacto after rebase (#133)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Logout AMI before FC (#132)
  app/rvo.py
  public/mobile-app/src/lib/france-connect.js
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/routes/+page.svelte
  tests/rvo/test_basic.py
Due: npm-lint-and-format, pyright

Path conditions:
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  pyright: any of: \.py$
