Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

notification: finalize apiv2 fields migration (#1005)
  ami/notification/migrations/0019_apiv2_fields.py
  ami/notification/models.py
  ami/notification/tests/test_migrations.py
Due: no-vanilla-httpx-usage, pyright

build(deps-dev): revert to cryptography from 48.0.1 (#1136)
  pyproject.toml
  uv.lock
Due: none

front: links with dsfr and clean svgs (#1134)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/Icon.svelte
  public/mobile-app/src/styles/app.scss
  public/mobile-app/src/styles/base/_icon.scss
  public/mobile-app/src/styles/components/_button.scss
  public/mobile-app/static/remixicons/arrow-line.svg
  public/mobile-app/static/remixicons/calendar-event-line.svg
  public/mobile-app/static/remixicons/home-4-fill.svg
  public/mobile-app/static/remixicons/map-pin-user-line.svg
  public/mobile-app/static/remixicons/notification-3.svg
  public/mobile-app/static/remixicons/question-answer-line.svg
  public/mobile-app/static/remixicons/settings-3-line.svg
  public/mobile-app/static/remixicons/settings.svg
  public/mobile-app/static/remixicons/shut-down-line.svg
  public/mobile-app/static/remixicons/user-line.svg
  public/mobile-app/static/remixicons/vector.svg
Due: npm-lint-and-format

front: init catalogue front (#1048)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/styles/base/_icon.scss
  public/mobile-app/static/icons/custom/external-link-line.svg
  public/mobile-app/static/icons/custom/flight-land-line.svg
Due: npm-lint-and-format

front: proxy django URLs via Vite (#1138)
  .env
  CONTRIBUTING.md
  Makefile
  README.md
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

general: remove PUBLIC_API_URL and many of PUBLIC_APP_URL (#1138)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_send_notification.py
  ami/authentication/tests/test_login_ami_fi.py
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/views.py
  ami/fi/utils.py
  ami/notification/models.py
  ami/notification/tests/api/test_notification.py
  ami/settings.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/ami-goto.test.ts
  public/mobile-app/src/lib/ami-goto.ts
  public/mobile-app/src/lib/api-agenda.test.ts
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.js
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/fi/+page.svelte
  public/mobile-app/src/routes/fi/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  scalingo.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

settings: fix typo in schema API description (and use proper apostrophe) (#876)
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: remove OTV tile from agenda (#1001)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: move user connected check in Agenda constructor (#1001)
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: move holiday selection for OTV logic in a dedicated method (#1001)
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: store current date on Agenda object (#1001)
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: guess eligible school holiday for OTV auto promo (#1001)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

api: limit main schema to partner APIs (#876)
  ami/api/urls.py
  ami/notification/api_views.py
  ami/notification/api_views_v2.py
  ami/partner/api_views.py
  ami/settings.py
  ami/utils/schemas.py
  ami/utils/tests/test_schema.py
Due: no-vanilla-httpx-usage, pyright

mobile: publish .well-known/apple-app-site-association file for iOS (#1113)
  .env
  ami/settings.py
  ami/urls.py
  ami/well_known/__init__.py
  ami/well_known/urls.py
  ami/well_known/views.py
Due: no-vanilla-httpx-usage, pyright

add webauthn lib
  pyproject.toml
  uv.lock
Due: none

add SimpleWebAuthn js lib
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

passkey !
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/fi/api_urls.py
  ami/fi/templates/fi/login.html
  ami/fi/views.py
  public/mobile-app/src/routes/passkey/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

use session to store challenge
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

associate user and passkey
  ami/authentication/migrations/0004_user_passkey.py
  ami/authentication/models.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

move authentication view in front
  ami/fi/api_urls.py
  ami/fi/templates/fi/login.html
  ami/fi/views.py
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/passkey-registration/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

move passkey views in fi
  ami/authentication/models.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/migrations/0003_user_passkey.py
  ami/fi/models.py
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/passkey-registration/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

fi, authenticate user with passkey
  ami/fi/api_views.py
  ami/fi/forms.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_verify_authentication.py
  ami/fi/views.py
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

front: delete unused icon files (#445)
  public/mobile-app/static/icons/fr--success-line-green.svg
  public/mobile-app/static/remixicons/arrow-line-disabled.svg
  public/mobile-app/static/remixicons/qr-code.svg
Due: none

front: lib to build auto-promo objects (#1001)
  public/mobile-app/src/lib/auto-promo.test.ts
  public/mobile-app/src/lib/auto-promo.ts
Due: npm-lint-and-format, typescript-check

front: auto-promo display on connected home page (#1001)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/auto-promo.ts
  public/mobile-app/src/lib/components/AutoPromoItem.svelte
Due: npm-lint-and-format, typescript-check

front: change "Voir tout" button on home page (#1001)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/styles/components/_button.scss
Due: npm-lint-and-format

dev: add check of commit message to pre-commit (#157)
  .pre-commit-config.yaml
  bin/check_commit_message.py
Due: no-vanilla-httpx-usage, pyright

followup: get item title from services (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

service: complete migration (#825)
  ami/service/migrations/0002_service.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
