Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Back button in settings page navigates to previous page (#420)
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Use BackButton component in address page (#420)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix notifications counter display (#420)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

Remove unused button in procedure page (#420)
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Use BackButton component in settings page (#420)
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix background color of procedure action buttons (#420)
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Better review apps list endpoint (cope with rate limiting)
  app/__init__.py
  tests/ami/test_dev_utils.py
Due: no-vanilla-httpx-usage, pyright

@cdesquilbet-dila's review
  tests/ami/test_dev_utils.py
Due: no-vanilla-httpx-usage, pyright

Fix wording in address pages (#369)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
Due: npm-lint-and-format, typescript-check

Back and close buttons of settings page should navigate to homepage when user first logs in (#260)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Simplify tests (#260)
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Get_fc_userinfo returns if it is the first user login (#260)
  app/controllers/user.py
  tests/ami/test_user.py
Due: no-vanilla-httpx-usage, pyright

Add notifications welcome page (#260)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/static/remixicons/notification.svg
Due: npm-lint-and-format, typescript-check

Move get_fc_userinfo unit tests (#260)
  tests/ami/test_auth.py
  tests/ami/test_user.py
Due: no-vanilla-httpx-usage, pyright

Use a data load function to make sure we check the user is logged in before mounting any component (#428)
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format, typescript-check

remove heroku-buildpack-uv (#433)
  .buildpacks
Due: none

don't use uv on scalingo containers (#433)
  Makefile
  bin/run_command.sh
  bin/start.sh
Due: none

button wording on OTV procedure page (#370)
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Adapt wording on agenda page (#370)
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

capitalize day name first letter on agenda page (#370)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

Fix sentry errors not being captured (#278)
  app/__init__.py
  public/mobile-app/src/routes/+layout.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Push to the sentry debug instance, with the latest fixes
  .env
Due: none

upgrade biome (#435)
  package-lock.json
  package.json
Due: npm-lint-and-format

lint html part of .svelte files (#435)
  biome.json
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/Installation.svelte
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/components/Card.svelte
  public/mobile-app/src/lib/components/Icon.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/settings/+page.svelte
Due: npm-lint-and-format, typescript-check

fix profile page (#435)
  public/mobile-app/src/routes/profile/+page.svelte
Due: npm-lint-and-format

Redirect to notifications welcome page on first login (#260)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check
