Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

display some toast messages as information banner (#567)
  public/mobile-app/src/lib/components/Toast.svelte
  public/mobile-app/src/lib/components/Toast.svelte.test.ts
  public/mobile-app/src/lib/components/Toasts.svelte
  public/mobile-app/src/lib/components/Toasts.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.ts
Due: npm-lint-and-format, typescript-check

add confirmation message on user profile changes (#567)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Sticky headers (#568)
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
Due: npm-lint-and-format

Scroll the input field to the top when focused (#568)
  public/mobile-app/src/lib/utils.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format, typescript-check

don't record NotAuthorizedExceptions in sentry (#593)
  app/__init__.py
Due: no-vanilla-httpx-usage, pyright

ignore notifications requests for unknown users (#608)
  app/controllers/notification.py
  app/env.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

remove notifications of unknown users (#625)
  migrations/versions/4e2286464dc4_remove_unknown_user_s_notifications.py
Due: no-vanilla-httpx-usage, pyright

remove notifications legacy endpoint (#304)
  app/controllers/notification.py
  app/schemas.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

don't generate token if psl public key is not set (#602)
  app/controllers/partner.py
  tests/ami/test_partner.py
Due: no-vanilla-httpx-usage, pyright

encrypt user data in identity token for PSL (#602)
  .env
  app/env.py
  app/utils.py
  tests/ami/test_basic.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

rename env variables (#602)
  .env
  app/controllers/partner.py
  app/env.py
  app/utils.py
  tests/ami/test_basic.py
  tests/ami/test_partner.py
Due: no-vanilla-httpx-usage, pyright

Use Datagouv's matomo instance
  .env
Due: none

@cdesquilbet-dila's review: no extra scrolling space when not needed
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

Fix style for not connected homepage (#512)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Remove unused import (#468)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Simplify notifications endpoint (#468)
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Call retrieveNotifications and count unread on login (#468)
  app/controllers/notification.py
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Extract buildUser method (#468)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+layout.ts
Due: npm-lint-and-format, typescript-check

Extract and move retrieveProcedureUrl (#468)
  public/mobile-app/src/lib/procedure.test.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format, typescript-check

Initialize data in layout too (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/layout.test.ts
Due: npm-lint-and-format, typescript-check

Call buildAgenda on login (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

Extract and move localStorage initialization (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Update unit tests after move (#468)
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Extract initialization method in root svelte page (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Remove redundant mock (#468)
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check

test with reload again
  public/mobile-app/src/routes/+error.svelte
Due: npm-lint-and-format

Reorder unit tests on ConnectedHomepage (#595)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check
