Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

partner: add a flag displayed_on_front (#1447)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_partner.py
  ami/partner/api_views.py
  ami/partner/migrations/0007_displayed_on_front.py
  ami/partner/models.py
  ami/partner/tests/test_api_views.py
Due: no-vanilla-httpx-usage, pyright

front: adjust websocket url (#1500)
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

authentication: force strict cookie samesite policy (#1507)
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

home-title: h1 for homepage (#1439)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

general: limit DRF API to JSON payloads (#1505)
  ami/fi/api_views.py
  ami/followup/tests/test_item_archive.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/test_scheduled_notification.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/settings.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: fix rgaa for icon information (#1441)
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/FollowupInformation.svelte
Due: npm-lint-and-format

user: do not allow deletion of registrations of other users (#1512)
  ami/user/api_views.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: fix rgaa text (#1443)
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

front: add border for toggle (#1450)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/components/modal/ZonePreferences.svelte
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
Due: npm-lint-and-format

utils: fix syntax warnings in trusted_urls unit test (#1489)
  ami/utils/tests/test_trusted_urls.py
Due: no-vanilla-httpx-usage, pyright

front: agenda, don't repeat day (#1440)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: refacto titles for rgaa (#1440)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

utils: add feature flags to dev-utils views (#1516)
  .env
  ami/settings.py
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

user: mark registration as deleted (#959)
  ami/replication/app.py
  ami/replication/migrations/0013_registration_deleted_at.py
  ami/replication/models.py
  ami/replication/tests/test_replication.py
  ami/user/api_views.py
  ami/user/migrations/0011_registration_deleted_at.py
  ami/user/models.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

utils: remove deleted registration after 30 days (#959)
  ami/utils/management/commands/cleanup-db.py
  ami/utils/tests/test_cleanup_db_command.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: remove flag silent-login for "steps" services (#1513)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_service.py
Due: no-vanilla-httpx-usage, pyright

notification: do channel calls outside of push tasks (#1503)
  ami/notification/api_views.py
  ami/notification/api_views_v2.py
  ami/notification/models.py
  ami/notification/push.py
  ami/notification/tasks.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
Due: no-vanilla-httpx-usage, pyright

front: consents, hide warning when user enables all consents (#1497)
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: remember last visited internal url and position in history (#1408)
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

front: route to go to last visited internal url (#1408)
  public/mobile-app/src/routes/back/+page.svelte
Due: npm-lint-and-format

consent: exclude partners not displayed on front (#1539)
  ami/user/api_views.py
  ami/user/serializers.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

authentication: force FC logout after relogin while not logged-in (#1542)
  ami/authentication/tests/test_login_callback_relogin.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
