Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

followup: get item title from services (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: manage complex trees, with more than two levels (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: adapt created_at, updated_at, icon, link (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: fix html/css with badge colors (#825)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

followup: special case for item wihout notifications but only one sub_item (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: if no notifications for parent, guess parent from sub items (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: organize items by parent and return sub_items (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

misc: remove js linting warnings (#825)
  ami/agent_admin/static/js/agent-admin-scripts.js
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
Due: npm-lint-and-format, typescript-check

front: in followup, list sub items on parent item (#825)
  public/mobile-app/src/lib/components/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/FollowupItemDetailHeader.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, use reference (#825)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: init catalogue front (#1048)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/styles/base/_icon.scss
  public/mobile-app/src/styles/components/_button.scss
  public/mobile-app/static/icons/custom/external-link-line.svg
  public/mobile-app/static/icons/custom/flight-land-line.svg
Due: npm-lint-and-format

front: add Service Public variables (#1048)
  .env
  public/mobile-app/src/routes/services/+page.svelte
Due: npm-lint-and-format

service: add field kind to Service model (#1048)
  ami/service/migrations/0005_service_kind.py
  ami/service/migrations/0006_service_kind.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: manage sos and steps services (#1048)
  ami/agent_admin/forms.py
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/manage/add_edit_service.html
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/utils.py
  ami/agent_admin/views/manage/service_views.py
Due: no-vanilla-httpx-usage, pyright

service: add icon field (#1048)
  ami/service/migrations/0007_service_icon.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: edit icon for sos and steps services (#1048)
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/manage/test_service.py
Due: no-vanilla-httpx-usage, pyright

service: add kind and icon in payload (#1048)
  ami/service/models.py
  ami/service/schemas.py
  ami/service/tests/test_all.py
  ami/service/tests/test_internal.py
Due: no-vanilla-httpx-usage, pyright

front: add kind and icon fields to service objects (#1048)
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/routes/services/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: display sos and steps services (#1048)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

user: update csv file with sample v2 hashes (#1193)
  ami/user/tests/test_results.csv
Due: none

badge-holiday: new blue color (#1203)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/styles/components/_badge.scss
Due: npm-lint-and-format

user: change FC hash format to be based on data with separators (#1193)
  ami/agent_admin/tests/manage/test_user.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_error.py
  ami/fi/tests/conftest.py
  ami/user/tests/test_utils.py
  ami/user/utils.py
  ami/utils/tests/test_all.py
  ami/utils/tests/test_generate_identity_tokens_in_file.py
Due: no-vanilla-httpx-usage, pyright

front: restore bypass passkey button (#1179)
  public/mobile-app/src/routes/login-callback/+page.svelte
Due: npm-lint-and-format

front: extend banner component for relogin page (#1179)
  public/mobile-app/src/lib/components/Banner.svelte
  public/mobile-app/src/lib/components/Banner.svelte.test.ts
Due: npm-lint-and-format, typescript-check

auth: use session to store silent-ami-fi redirect_url (#1179)
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

front: adjust passkey authentication markup for larger screens (#1179)
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
Due: npm-lint-and-format

front: add relogin view (#1179)
  ami/authentication/tests/test_login_callback_relogin.py
  ami/authentication/tests/test_login_callback_silent_ami_fi.py
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/tests/test_relogin.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/fi/tests/test_passkey_authentication.py
  ami/fi/views.py
  ami/settings.py
  ami/user/data.py
  ami/user/tests/test_get_fc_userinfo.py
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
  public/mobile-app/src/routes/relogin/page.svelte.test.ts
  public/mobile-app/vite.config.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
