Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Reorder env variables (#708)
  .env
Due: none

FI: implement userinfo (#708)
  .env.development
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/models.py
  ami/fi/tests/test_models.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement token (#708)
  .env
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_token.py
  ami/fi/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement authorize (#708)
  ami/authentication/tests/conftest.py
  ami/conftest.py
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

Rename help texts for scheduled notifications commands (#708)
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
Due: no-vanilla-httpx-usage, pyright

FI: add CRON to delete expired FISessions (#708)
  ami/fi/management/__init__.py
  ami/fi/management/commands/__init__.py
  ami/fi/management/commands/delete-expired-fi-sessions.py
  ami/fi/tests/test_delete-expired-fi-sessions_command.py
  cron.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

FI: front page and api view to test login (#708)
  .env
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  public/mobile-app/src/routes/fi/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

authorize: claims can be empty (#708)
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

authorize: redirect_uri is FC (#708)
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Update Django to 6.0.5
  pyproject.toml
  uv.lock
Due: none

FI: fo back to proxy (if defined) after authorize (#708)
  ami/fi/api_views.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

Use mkcert for local ssl certificates (#828)
  .github/workflows/pytest.yml
  CONTRIBUTING.md
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

Display toasts above menu if present (#723)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Toasts.svelte
Due: npm-lint-and-format

Standardize toasts and banners (#723)
  public/mobile-app/src/lib/components/Toast.svelte
  public/mobile-app/src/lib/components/Toast.svelte.test.ts
  public/mobile-app/src/lib/components/Toasts.svelte
  public/mobile-app/src/lib/components/Toasts.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.test.ts
  public/mobile-app/src/lib/state/toast.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Use effect for toast with reactive props (#723)
  public/mobile-app/src/lib/components/Toast.svelte
Due: npm-lint-and-format

Add replication migration command in Makefile (#791)
  Makefile
Due: none

Improve logging (#791)
  ami/replication/app.py
Due: no-vanilla-httpx-usage, pyright

Refactor replication_id and comments (#791)
  ami/replication/models.py
Due: no-vanilla-httpx-usage, pyright

Ajout des Registrations (#791)
  ami/replication/app.py
  ami/replication/migrations/0005_anonymizednotification_anonymizedregistration.py
  ami/replication/models.py
  ami/replication/tests/test_replication.py
Due: no-vanilla-httpx-usage, pyright

Factorize from_user and change id in replicated user (#791)
  ami/replication/migrations/0002_remove_anonymizeduser_original_id_and_more.py
  ami/replication/migrations/0003_populate_replication_id.py
  ami/replication/migrations/0004_set_replication_id_primary_key.py
  ami/replication/models.py
  ami/replication/tests/test_replication.py
Due: no-vanilla-httpx-usage, pyright

front: default date if missing in OTV page (#852)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: set date param in scheduled notifications for otv (#852)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: new utils method to get ISO date (#852)
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-catalog.ts
  public/mobile-app/src/lib/utils.test.ts
  public/mobile-app/src/lib/utils.ts
Due: npm-lint-and-format, typescript-check

Call all replication methods (#791)
  ami/replication/app.py
  ami/replication/management/commands/replicate-anonymized-data.py
Due: no-vanilla-httpx-usage, pyright

FI: add userinfo cookie (#708)
  ami/authentication/api_views.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_logout.py
  ami/authentication/views.py
  ami/settings.py
  ami/tests/utils.py
Due: no-vanilla-httpx-usage, pyright

FI: add fi app (#708)
  ami/api/urls.py
  ami/fi/__init__.py
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/apps.py
  ami/fi/tests/__init__.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_logout.py
  ami/fi/tests/test_token.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright
