Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: AMIGoto optional opts param (#1311)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

front: replace window.location.href by AMIGoto (#1311)
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/login/page.svelte.test.ts
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/page.svelte.test.ts
  public/mobile-app/src/routes/relogin/+page.svelte
  public/mobile-app/src/routes/relogin/page.svelte.test.ts
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/silent-login/+page.svelte
  public/mobile-app/src/routes/silent-login/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: don't use goto for api urls (#1311)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

page notif: remove box-shadow - fix css with dsfr and fix focus (#1315)
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/NotificationIcon.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

front: use partners in consent and followup (#1250)
  public/mobile-app/src/lib/api-partners.ts
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/partners.ts
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/consents/+page.svelte
  public/mobile-app/src/routes/preferences/consents/+page.ts
  public/mobile-app/src/routes/preferences/consents/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: display checklists from data (#1180)
  public/mobile-app/src/lib/api-checklist.ts
  public/mobile-app/src/lib/checklist.test.ts
  public/mobile-app/src/lib/checklist.ts
  public/mobile-app/src/lib/data/checklists/CNMSS001.json
  public/mobile-app/src/lib/data/checklists/F16225.json
  public/mobile-app/src/lib/data/checklists/F3109.json
  public/mobile-app/src/routes/checklist/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/item/[item_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/page.svelte.test.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: truncate long checklist items (#1180)
  public/mobile-app/src/lib/markdown.ts
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/+page.svelte
  public/mobile-app/src/routes/checklist/[checklist_id]/checks/[section_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add typing for markdown-truncate (#1180)
  public/mobile-app/src/lib/markdown-truncate.d.ts
Due: npm-lint-and-format, typescript-check

front: add markdown-truncate (#1180)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

user: rename legacy unregister (#937)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

user: delete registrations from device_id (#937)
  ami/user/api_views.py
  ami/user/migrations/0008_device_id.py
  ami/user/migrations/0009_device_id.py
  ami/user/models.py
  ami/user/serializers.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: use deviceId to unregister (#937)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: unregister native device with PUT (#937)
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: rename unregisterDesktopRegistration to unregisterRegistrationsForDesktop (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: no return value for enableNotificationsAndUpdateLocalStorage (#939)
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check

front: rename unregisterDevice to unregisterRegistrationsForNative (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.test.ts
  public/mobile-app/src/lib/registration.ts
Due: npm-lint-and-format, typescript-check

front: rename enableNotifications for desktop (#939)
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: refacto enableNotificationsAndUpdateLocalStorage (#939)
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: rename enableNotificationsAndUpdateLocalStorage to enableNotifications (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: enable registrations for desktop (#939)
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

10 ci api ios android after deploy (#1275)
  .github/workflows/workflow-e2e-trigger-after-deploy.yml
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

front: load data before pages for consent (#1307)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/+page.ts
  public/mobile-app/src/routes/followup/+page.svelte
  public/mobile-app/src/routes/followup/+page.ts
  public/mobile-app/src/routes/followup/archived/+page.svelte
  public/mobile-app/src/routes/followup/archived/+page.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: proxy notification-key url (#1323)
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

front: new page help center (#1080)
  .env
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/help-center/+page.svelte
  public/mobile-app/src/routes/help-center/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
