Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

agent-admin: expose content_subheading (#825)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_send_notification.py
Due: no-vanilla-httpx-usage, pyright

front: in followup, list sub items on parent item (#825)
  public/mobile-app/src/lib/components/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/FollowupItemDetail.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/FollowupItemDetailHeader.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add find methods in followup classes (#825)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
Due: npm-lint-and-format, typescript-check

front: detail link for followup sub item (#825)
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

misc: remove js linting warnings (#825)
  ami/agent_admin/static/js/agent-admin-scripts.js
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
Due: npm-lint-and-format, typescript-check

front: followup sub item detail page (#825)
  public/mobile-app/src/lib/components/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/FollowupItemDetailHeader.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/+page.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/subitem/[subpartner_id]/[subitem_type]/[subitem_external_id]/page.test.ts
Due: npm-lint-and-format, typescript-check

front: fix html/css with badge colors (#825)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/FollowupItemDetailHeader.svelte
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte
  public/mobile-app/src/lib/components/FollowupParentItemDetail.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: add relogin view (#1179)
  ami/authentication/tests/test_login_callback_silent_ami_fi.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/fi/views.py
  ami/settings.py
  ami/user/data.py
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
  public/mobile-app/vite.config.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: add matomo tracking for passkey events (#1187)
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
Due: npm-lint-and-format, typescript-check

followup: get item title from services (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

service: complete migration (#825)
  ami/service/migrations/0002_service.py
Due: no-vanilla-httpx-usage, pyright

followup: organize items by parent and return sub_items (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: manage complex trees, with more than two levels (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: if no notifications for parent, guess parent from sub items (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: special case for item wihout notifications but only one sub_item (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: adapt title, reference, subheading for sub items (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: followup, use reference (#825)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

followup: guess item status from sub items (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: adapt created_at, updated_at, icon, link (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: api-followup, complete object types (#825)
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/followup.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, complete object types (#825)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: adapt item display in followup (#825)
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
