Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

Collect statics before starting on Scalingo
  Makefile
  bin/start.sh
Due: none

add django-cors-headers (#635)
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Django migration: rename test file (#635)
  ami/partner/tests/test_api_views.py
Due: no-vanilla-httpx-usage, pyright

Initialize settings (#635)
  .env
  .env.development
  CONTRIBUTING.md
  README.md
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

agenda: internal inventory (#635)
  ami/agenda/data/internal.py
  ami/agenda/data/schemas.py
  ami/agenda/schemas.py
  ami/agenda/tests/test_internal.py
Due: no-vanilla-httpx-usage, pyright

Fix partner notification creation
  ami/notification/api_views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

check-auth view (#635)
  ami/authentication/tests/test_check_auth.py
  ami/authentication/urls.py
  ami/authentication/views.py
  tests/ami/auth/test_check_auth.py
Due: no-vanilla-httpx-usage, pyright

new app agenda (#635)
  ami/agenda/__init__.py
  ami/agenda/apps.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

fix school holidays end date (#653)
  ami/agenda/data/schemas.py
  ami/agenda/tests/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

agenda: fix period if start = end (#653)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

move api notification tests (#668)
  ami/notification/tests/api/__init__.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/test_scheduled_notification.py
  ami/notification/tests/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

a notification can have an internal_url (#668)
  ami/notification/migrations/0002_internal_url.py
  ami/notification/migrations/0003_internal_url.py
  ami/notification/models.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_scheduled_notification.py
  ami/notification/tests/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

front: notification url (#668)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add log error to Sentry when address fails from API Part (#626)
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

remove sa_orm_sentinel fields (#691)
  ami/authentication/migrations/0002_remove_sa_orm_sentinel.py
  ami/authentication/models.py
  ami/notification/migrations/0004_remove_sa_orm_sentinel.py
  ami/notification/models.py
  ami/user/migrations/0002_remove_sa_orm_sentinel.py
  ami/user/models.py
Due: no-vanilla-httpx-usage, pyright

followup: sort items byt date desc (#650)
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

followup: change icons and colors (#650)
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

move followup data from notifications (#650)
  ami/followup/api_views.py
  ami/followup/data/__init__.py
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
  ami/partner/models.py
  ami/utils/schemas.py
Due: no-vanilla-httpx-usage, pyright

build followup from notifications of declared partners (#650)
  ami/followup/api_views.py
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
  ami/partner/models.py
Due: no-vanilla-httpx-usage, pyright

front: followup from notifications (#650)
  public/mobile-app/src/lib/api-inventory.test.ts
  public/mobile-app/src/lib/api-inventory.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

rename sentry counters (#663)
  ami/notification/api_views.py
  ami/notification/channel_consumer.py
  ami/notification/push.py
Due: no-vanilla-httpx-usage, pyright

use custom drf basic auth for partners (#703)
  ami/authentication/decorators.py
  ami/authentication/middleware.py
  ami/notification/api_views.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/partner/auth.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

remove sender fields (#637)
  ami/authentication/tests/test_login_callback.py
  ami/conftest.py
  ami/followup/tests/test_notification_data.py
  ami/notification/api_views.py
  ami/notification/migrations/0005_remove_sender.py
  ami/notification/migrations/0006_remove_sender.py
  ami/notification/models.py
  ami/notification/push.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/test_scheduled_notification.py
  ami/notification/tests/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

Fix query parameters of generate_partner_url endpoint (#704)
  ami/partner/api_views.py
  ami/partner/serializers.py
  ami/partner/tests/test_api_views.py
Due: no-vanilla-httpx-usage, pyright

Fix query parameter of scheduled_notifications endpoint (#704)
  ami/notification/api_views.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
