Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

add request item link (#726)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Extract buildUser method (#468)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+layout.ts
Due: npm-lint-and-format, typescript-check

Extract and move localStorage initialization (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Extract initialization method in root svelte page (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Update unit tests after move (#468)
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Extract and move retrieveProcedureUrl (#468)
  public/mobile-app/src/lib/procedure.test.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format, typescript-check

Call retrieveNotifications and count unread on login (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Initialize data in layout too (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/layout.test.ts
Due: npm-lint-and-format, typescript-check

Call buildAgenda on login (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

Remove unused import (#468)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Simplify notifications endpoint (#468)
  ami/notification/api_views.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Remove redundant mock (#468)
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Move 'user_logged_out' event after FC logout (#759)
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

env: remove FC_AMI_REDIRECT_URL (#752)
  .env
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

fix SECTOR_IDENTIFIER_URL usages (#767)
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

Don't navigate to promoted pages (#570)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: procedure, get url from page instead of window.location
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: change url routing (remove hashes)
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/views.py
  ami/notification/migrations/0007_internal_url.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/layout.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/svelte.config.js
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: fix matomo urls
  public/mobile-app/src/lib/matomo.ts
Due: npm-lint-and-format, typescript-check

serve front with django in production
  .gitignore
  ami/settings.py
  ami/urls.py
  ami/utils/storage.py
  public/mobile-app/package.json
  public/mobile-app/scripts/generate-env.js
  public/mobile-app/svelte.config.js
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

front: send internal_url when creating scheduled notifications (#779)
  ami/notification/migrations/0007_internal_url.py
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/scheduled-notifications.test.ts
  public/mobile-app/src/lib/scheduled-notifications.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: fix scheduled notification post headers (#782)
  public/mobile-app/src/lib/scheduled-notifications.ts
Due: npm-lint-and-format, typescript-check

FI: implement userinfo (#708)
  .env.development
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/models.py
  ami/fi/tests/test_models.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: add userinfo cookie (#708)
  ami/authentication/api_views.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_logout.py
  ami/authentication/views.py
  ami/settings.py
  ami/tests/utils.py
Due: no-vanilla-httpx-usage, pyright
