Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: proxify well-known urls (#1088)
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

front: add SimpleWebAuthn js lib (#1088)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

mobile: publish .well-known/assetlinks.json file for Android (#1088)
  .env
  ami/settings.py
  ami/well_known/tests/test_all.py
  ami/well_known/urls.py
  ami/well_known/views.py
Due: no-vanilla-httpx-usage, pyright

fi: sign user_data cookie (#1088)
  ami/authentication/api_views.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_logout.py
  ami/authentication/views.py
  ami/fi/api_views.py
  ami/fi/tests/conftest.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_passkey_authentication.py
  ami/fi/tests/test_passkey_registration.py
  ami/fi/tests/test_token.py
  ami/settings.py
  ami/tests/utils.py
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

fi: authenticate with passkey (#1088)
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/forms.py
  ami/fi/migrations/0003_user_passkey.py
  ami/fi/models.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_passkey_authentication.py
  ami/fi/tests/test_passkey_registration.py
  ami/fi/views.py
  ami/settings.py
  public/mobile-app/src/lib/components/Toasts.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/welcome/zones/+page.svelte
  public/mobile-app/static/icons/passkeys.svg
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

mobile: publish .well-known/apple-app-site-association file for iOS (#1088)
  .env
  ami/settings.py
  ami/urls.py
  ami/well_known/__init__.py
  ami/well_known/tests/__init__.py
  ami/well_known/tests/test_all.py
  ami/well_known/urls.py
  ami/well_known/views.py
Due: no-vanilla-httpx-usage, pyright

misc: add webauthn lib (#1088)
  pyproject.toml
  uv.lock
Due: none

auth: use session to store silent-ami-fi redirect_url (#1179)
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

front: extend banner component for relogin page (#1179)
  public/mobile-app/src/lib/components/Banner.svelte
Due: npm-lint-and-format

front: restore bypass passkey button (#1179)
  public/mobile-app/src/routes/login-callback/+page.svelte
Due: npm-lint-and-format

provide commit sha so system-tests can monitor commit status of scalingo's deployment
  .github/workflows/workflow-e2e-webapp-manual.yml
  .github/workflows/workflow-e2e-webapp-merge.yml
  .github/workflows/workflow-e2e-webapp-pr.yml
  .github/workflows/workflow-e2e-webapp-shared.yml
  .github/workflows/workflow-e2e-webapp-tag.yml
Due: none

trigger a push
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

rerun system tests workflows from branch to debug scalingo commit status
  .github/workflows/workflow-e2e-webapp-shared.yml
Due: none

front: init catalogue front (#1048)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/styles/base/_icon.scss
  public/mobile-app/src/styles/components/_button.scss
  public/mobile-app/static/icons/custom/external-link-line.svg
  public/mobile-app/static/icons/custom/flight-land-line.svg
Due: npm-lint-and-format

front: add Service Public variables (#1048)
  .env
  public/mobile-app/src/routes/services/+page.svelte
Due: npm-lint-and-format

service: add field kind to Service model (#1048)
  ami/service/migrations/0005_service_kind.py
  ami/service/migrations/0006_service_kind.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: manage sos and steps services (#1048)
  ami/agent_admin/forms.py
  ami/agent_admin/manage_urls.py
  ami/agent_admin/templates/agent_admin/manage/add_edit_service.html
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/manage/test_service.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/utils.py
  ami/agent_admin/views/manage/service_views.py
Due: no-vanilla-httpx-usage, pyright

service: add icon field (#1048)
  ami/service/migrations/0007_service_icon.py
  ami/service/models.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: edit icon for sos and steps services (#1048)
  ami/agent_admin/forms.py
  ami/agent_admin/templates/agent_admin/manage/list_services.html
  ami/agent_admin/tests/manage/test_service.py
Due: no-vanilla-httpx-usage, pyright

service: add kind and icon in payload (#1048)
  ami/service/models.py
  ami/service/schemas.py
  ami/service/tests/test_all.py
  ami/service/tests/test_internal.py
Due: no-vanilla-httpx-usage, pyright

front: add kind and icon fields to service objects (#1048)
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/routes/services/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: display sos and steps services (#1048)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

followup: get item title from services (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

service: complete migration (#825)
  ami/service/migrations/0002_service.py
Due: no-vanilla-httpx-usage, pyright

followup: organize items by parent and return sub_items (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: manage complex trees, with more than two levels (#825)
  ami/followup/data/notification.py
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: if no notifications for parent, guess parent from sub items (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: special case for item wihout notifications but only one sub_item (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: adapt title, reference, subheading for sub items (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: followup, use reference (#825)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

followup: guess item status from sub items (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: adapt created_at, updated_at, icon, link (#825)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: api-followup, complete object types (#825)
  public/mobile-app/src/lib/api-followup.test.ts
  public/mobile-app/src/lib/api-followup.ts
  public/mobile-app/src/lib/followup.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, complete object types (#825)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
  public/mobile-app/src/routes/followup/archived/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.test.ts
  public/mobile-app/src/routes/followup/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: adapt item display in followup (#825)
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
