Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

[AMI] move auth views in a controller (#101)
  app/__init__.py
  app/admin/routes.py
  app/auth.py
  app/controllers/auth.py
  app/rvo/routes.py
  app/utils.py
  tests/ami/test_basic.py
  tests/rvo/test_basic.py
Due: pyright

[AMI] set jwt cookie auth after userinfo call (#101)
  .env
  app/__init__.py
  app/auth.py
  app/controllers/user.py
  app/env.py
  app/services/user.py
  tests/ami/test_auth.py
Due: pyright

[AMI] enable sessions only in admin and rvo (#101)
  app/__init__.py
  app/admin/routes.py
  app/rvo/routes.py
  tests/conftest.py
Due: pyright

[AMI] move also fc userinfo test in auth test module (#101)
  tests/ami/test_auth.py
  tests/ami/test_basic.py
Due: pyright

[AMI] fix user_id type in models (#101)
  app/models.py
Due: pyright

[AMI] authenticated data endpoints (#101)
  app/auth.py
  app/data/routes.py
  public/mobile-app/src/lib/api-holidays.ts
  public/mobile-app/src/lib/api-particulier.ts
  tests/ami/test_data.py
Due: npm-lint-and-format, pyright

[AMI] rename JWT_SECRET key, and generate it for new envs (#101)
  .env
  .github/workflows/pytest.yml
  app/auth.py
  app/env.py
  bin/start.sh
Due: pyright

[AMI] set before_send_handler in SQLAlchemyAsyncConfig (#101)
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/database.py
Due: pyright

[AMI] fix agenda tests (#267)
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format

[AMI] add a cache to holiday data (#267)
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
Due: npm-lint-and-format

Endpoint /dev-utils/review-apps lists the active review apps for the mobile apps webview (#240)
  app/__init__.py
Due: pyright

Rename notify admin endpoint (#234)
  app/controllers/notification.py
  templates/ami-admin/send-notification.html
  templates/rvo/send-notification.html
  tests/ami/test_basic.py
Due: pyright

Add function to hash FC pivotal data (#234)
  app/utils.py
  tests/ami/test_basic.py
Due: pyright

Initialize notifications API endpoint (#234)
  app/controllers/notification.py
  app/schemas.py
Due: pyright

Duplicate the Notify endpoint so it's also available as a url_encoded body version
  app/controllers/notification.py
  app/controllers/utils.py
Due: pyright

Dev utils endpoint to test ami_hash
  app/__init__.py
Due: pyright

Update NotificationPivotHashCreate with PSL feedbacks (#234)
  app/schemas.py
Due: pyright

Rename Notifications to AdminNotifications (#234)
  app/controllers/notification.py
  app/schemas.py
Due: pyright

Rename NotificationPivotHashCreate to Notifications (#234)
  app/controllers/notification.py
  app/schemas.py
Due: pyright

Implement notify send OK with 200 (#234)
  app/controllers/notification.py
  app/schemas.py
  tests/ami/test_basic.py
Due: pyright

Implement notify send KO with 200 (#234)
  app/controllers/notification.py
  tests/ami/test_basic.py
Due: pyright

Extract notifications unit tests to dedicated file (#234)
  tests/ami/test_basic.py
  tests/ami/test_notification.py
Due: pyright

Implement notify send KO with 400 when required fields are missing or empty (#234)
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: pyright

Implement notify send KO with 500 when technical error (#234)
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: pyright

Add openapi documentation (#234)
  app/schemas.py
  tests/ami/test_notification.py
Due: pyright

[AMI] class Agenda populated with holidays (#267)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format

[AMI] adapt agenda item tag padding from mockups (#267)
  public/mobile-app/src/lib/AgendaItem.svelte
Due: npm-lint-and-format

[AMI] add OTV forms in agenda (#267)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format

For my dev env
  .gitignore
Due: none

launching cucumber js from command line
  CONTRIBUTING-BEHAVIOR.md
Due: none

Typo from feedback
  .gitignore
Due: none

[AMI] remove message icon (#263)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/message-3.svg
Due: npm-lint-and-format

[AMI] remove list entry from menu (#263)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
  public/mobile-app/static/remixicons/list-check.svg
Due: npm-lint-and-format

Add recipient_fc_hash examples (#234)
  tests/recipient_fc_hashes/__init__.py
  tests/recipient_fc_hashes/test.csv
  tests/recipient_fc_hashes/test_create_hashes.py
  tests/recipient_fc_hashes/test_results.csv
Due: pyright

[AMI] remove qrcode, add address block (#263)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/static/remixicons/house.svg
Due: npm-lint-and-format
