Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

[AMI] remove duplicated Notification js type (#185)
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

[AMI] test that notifications endpoint returns unread flag (#185)
  tests/ami/test_basic.py
Due: pyright

[AMI] fix test for api_particulier data in ConnectedHomepage (#185)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format

[AMI] add unread field to Notification model (#185)
  app/models.py
  migrations/versions/efc4f6e39a83_notification_add_unread_field.py
  tests/ami/test_basic.py
Due: pyright

[AMI] notification are never set in local storage (#185)
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

[RVO] display send notification errors on form (#201)
  templates/rvo/send-notification.html
Due: none

[AMI] add tests for notification rendering (#185)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format

[AMI] display the “unread” status of notifications (#185)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format

[AMI] order user notifications by date desc (#185)
  app/__init__.py
  app/models.py
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

[AMI] add test for retrieveNotifications when user is not set (#185)
  public/mobile-app/src/lib/notifications.test.js
Due: npm-lint-and-format

[AMI] filter read/unread user notifications (#185)
  app/__init__.py
  app/models.py
  tests/ami/test_basic.py
Due: pyright

[AMI] display number of unread notifications (#185)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/static/remixicons/notification-3.svg
Due: npm-lint-and-format

[AMI] add tests for user notification list endpoint (#185)
  tests/ami/test_basic.py
Due: pyright

[AMI] endpoint to read/unread a notification (#185)
  app/__init__.py
  app/models.py
  tests/ami/test_basic.py
Due: pyright

[AMI] mark notification as read on click (#185)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format

Remove unused method getSubscription (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format

Rename registerUser to registerDevice (#171)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

Refactor enableNotifications (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

Implement disable notifications for app (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

Implement disable notifications for api (#171)
  app/__init__.py
  app/models.py
  tests/ami/test_basic.py
Due: pyright

Fix notificationsEnabled update (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

wip
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format

[AMI] remove list users endpoint (#204)
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright
