Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

add user fixture (#635)
  ami/authentication/tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

auth middleware (#635)
  ami/authentication/middleware.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

login_callback view (without api-particulier call) (#635)
  ami/authentication/auth.py
  ami/authentication/exception.py
  ami/authentication/tests/conftest.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  ami/user/data.py
  ami/utils/httpx.py
  bin/check-no-vanilla-httpx-usage.sh
  tests/ami/auth/test_login_callback_error.py
Due: no-vanilla-httpx-usage, pyright

logout view (#635)
  ami/authentication/tests/test_logout.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/tests/utils.py
  tests/ami/auth/test_logout.py
Due: no-vanilla-httpx-usage, pyright

check-auth view (#635)
  ami/authentication/tests/test_check_auth.py
  ami/authentication/urls.py
  ami/authentication/views.py
  tests/ami/auth/test_check_auth.py
Due: no-vanilla-httpx-usage, pyright

welcome notification on first login (#635)
  ami/authentication/tests/test_login_callback.py
  ami/notification/models.py
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

add django-cors-headers (#635)
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Send a 'user_logged_out' event from the frontend to the native apps (#645)
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

auth decorator (#635)
  ami/authentication/decorators.py
Due: no-vanilla-httpx-usage, pyright

move build_fc_hash function (#635)
  ami/user/tests/__init__.py
  ami/user/tests/test_utils.py
  ami/user/utils.py
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

rename authentication.utils into authentication.auth (#635)
  ami/authentication/auth.py
  ami/authentication/tests/test_all.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

Run django on scalingo through gunicorn (#635)
  Makefile
  README.md
  ami/settings.py
  bin/start.sh
  pyproject.toml
  scalingo.json
  uv.lock
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Serve websockets through django channels (#635)
  ami/asgi.py
  ami/notification/channel_consumer.py
  ami/notification/channel_routing.py
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Remove unused import (#468)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Extract buildUser method (#468)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+layout.ts
Due: npm-lint-and-format, typescript-check

Update unit tests after move (#468)
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Extract and move retrieveProcedureUrl (#468)
  public/mobile-app/src/lib/procedure.test.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format, typescript-check

ASGI Middleware for user auth (#635)
  ami/asgi.py
  ami/authentication/middleware.py
  ami/notification/channel_consumer.py
Due: no-vanilla-httpx-usage, pyright

Fix imports following migration (#635)
  app/__init__.py
  app/controllers/auth.py
  migrations/versions/18cc93cd264e_fc_hash_for_user.py
  tests/ami/utils.py
  tests/conftest.py
  tests/recipient_fc_hashes/test_create_hashes.py
Due: no-vanilla-httpx-usage, pyright

Finish migrating the scheduled notifications code and tests now that there's a websocket (#635)
  ami/conftest.py
  ami/notification/channel_consumer.py
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
  ami/notification/models.py
  ami/notification/push.py
  ami/notification/tests/test_delete-published-scheduled-notifications_command.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
  ami/notification/tests/test_scheduled_notification.py
  ami/tests/utils.py
  ami/utils/__init__.py
  ami/utils/tests/test_all.py
  ami/utils/tests/test_generate_identity_tokens_in_file.py
  app/services/scheduled_notification.py
  app/utils.py
  pyproject.toml
  tests/ami/utils.py
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Extract and move localStorage initialization (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Extract initialization method in root svelte page (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Call buildAgenda on login (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
Due: npm-lint-and-format, typescript-check

Initialize data in layout too (#468)
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/layout.test.ts
Due: npm-lint-and-format, typescript-check

Remove redundant mock (#468)
  public/mobile-app/src/routes/layout.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Simplify notifications endpoint (#468)
  app/controllers/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Call retrieveNotifications and count unread on login (#468)
  app/controllers/notification.py
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Extrait light
  adr/2025-12-08 general architecture.excalidraw light.png
Due: none

Litestar to Django
  adr/2025-12-08 general architecture light.excalidraw.png
  adr/2025-12-08 general architecture.excalidraw light.png
  adr/2025-12-08 general architecture.excalidraw.svg
Due: none

@zebuline's review
  ami/authentication/tests/conftest.py
  ami/conftest.py
  ami/utils/__init__.py
  ami/utils/tests/test_all.py
  app/__init__.py
  app/controllers/auth.py
  migrations/versions/18cc93cd264e_fc_hash_for_user.py
  tests/conftest.py
  tests/recipient_fc_hashes/test_create_hashes.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
