Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: add inventory field to RequestItem object (#776)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

followup: deduce is_archived from notifications (#776)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

notification: new field item_is_archived on Notification model (#776)
  ami/notification/migrations/0013_item_is_archived.py
  ami/notification/models.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
Due: no-vanilla-httpx-usage, pyright

front: filter followup to hide archived items (#776)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-inventory.test.ts
  public/mobile-app/src/lib/api-inventory.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: followup, remove search icon, change paddings and link (#776)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/routes/requests/+page.svelte
Due: npm-lint-and-format

front: API call to archive a followup item (#776)
  public/mobile-app/src/lib/api-inventory.test.ts
  public/mobile-app/src/lib/api-inventory.ts
Due: npm-lint-and-format, typescript-check

FI: record a context on Token for login-ami-fi (#907)
  ami/authentication/migrations/0003_token_context.py
  ami/authentication/models.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_ami_fi.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

FI: custom calls and redirect on login-callback (#907)
  ami/authentication/auth.py
  ami/authentication/tests/test_login_callback_address.py
  ami/authentication/tests/test_login_callback_ami_fi.py
  ami/authentication/views.py
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

front: display raw api particulier quotient data after ami-fi login (#907)
  public/mobile-app/src/routes/fi/+page.svelte
  public/mobile-app/src/routes/fi/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

authentication: parametrize scopes (#907)
  .env
  ami/authentication/auth.py
  ami/authentication/schemas.py
  ami/authentication/tests/test_all.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_ami_fi.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/views.py
  ami/settings.py
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

FI: define provider to call in ami-fi-login url (#907)
  .env
  ami/authentication/tests/test_all.py
  ami/authentication/tests/test_login_ami_fi.py
  ami/authentication/tests/test_login_callback_ami_fi.py
  ami/authentication/views.py
  ami/settings.py
  ami/user/data.py
Due: no-vanilla-httpx-usage, pyright

FI: endpoint to get available providers (#907)
  ami/authentication/api_urls.py
  ami/authentication/api_views.py
  ami/authentication/tests/test_providers.py
Due: no-vanilla-httpx-usage, pyright

front: choose provider to call on login-ami-fi (#907)
  public/mobile-app/src/routes/fi/+page.svelte
  public/mobile-app/src/routes/fi/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

FI: don't set cookies for ami-fi login callback (#907)
  ami/authentication/tests/test_login_callback_ami_fi.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

front: hide fi login page behind a feature flag (#907)
  .env
  public/mobile-app/src/routes/fi/+page.svelte
  public/mobile-app/src/routes/fi/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

api: followup, expose external_item_type and external_item_id (#960)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

front: followup, build id from partner_id, external_type and external_id (#960)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-inventory.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/archived/page.svelte.test.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: method hasNonArchivedItems on FollowUp (#960)
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

front: procedure button TODO TESTS (#960)
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

front: silently re-authenticate user before going in OTV page (#917)
  .env
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

FI: silent login view (#917)
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_ami_fi.py
  ami/authentication/tests/test_login_callback_silent_ami_fi.py
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/urls.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

front: use encodeURIComponent in franceConnectLogout (#917)
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: page to store token and redirect after silent login (#917)
  public/mobile-app/src/routes/silent-login/+page.svelte
  public/mobile-app/src/routes/silent-login/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

FI: factorize login views (#917)
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

authentication: avoid integrity error on logout (#971)
  ami/authentication/api_views.py
Due: no-vanilla-httpx-usage, pyright
