Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

Center the FranceConnect button vertically (#515)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

api agenda: zones is a list, not str (#508)
  ami/agenda/data/holidays.py
  ami/agenda/data/schemas.py
  ami/agenda/schemas.py
  ami/agenda/tests/test_all.py
  ami/agenda/tests/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

front: display zones in description (#508)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

front: force data expiration if zones is a string (#508)
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-catalog.ts
Due: npm-lint-and-format, typescript-check

front: define all zones and their departments (#508)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
Due: npm-lint-and-format, typescript-check

front: display only zones A, B, C, waiting for filters (#508)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

api agenda: no zone filtering for school holidays, change url to avoid pagination (#508)
  ami/agenda/data/holidays.py
  ami/agenda/tests/test_school_holidays.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

tests: replace django_app fixture (#508)
  ami/agenda/tests/test_all.py
  ami/agent_admin/tests/test_access_denied.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/tests/test_login.py
  ami/agent_admin/tests/test_logout.py
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/tests/utils.py
  ami/authentication/tests/test_check_auth.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_address.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/tests/test_logout.py
  ami/conftest.py
  ami/followup/tests/test_all.py
  ami/notification/tests/api/test_notification.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/test_scheduled_notification.py
  ami/partner/tests/test_api_views.py
  ami/tests/utils.py
  ami/user/tests/test_registration.py
  ami/utils/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

httpx: add caching to GET requests (#508)
  ami/utils/httpx.py
  ami/utils/tests/test_httpx.py
Due: no-vanilla-httpx-usage, pyright

api agenda: cache school holiday requests (#508)
  ami/agenda/data/holidays.py
  ami/agenda/tests/test_school_holidays.py
  ami/conftest.py
Due: no-vanilla-httpx-usage, pyright

holidays: add emojis (#508)
  ami/agenda/data/schemas.py
  ami/agenda/tests/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

front: new class Preferences to store zones and addresses (#508)
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: set user preferences from known address (#508)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

front: to display agenda, user has to be connected (#508)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: display school holidays according to user preferences (#508)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: redo preferences page (#508)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/pages.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: Toogle component (#508)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: set zone selection in preferences (#508)
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/zones/+page.svelte
  public/mobile-app/src/routes/preferences/zones/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: zone preferences, display user addresses in tags (#508)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
  public/mobile-app/src/lib/types/components/toggletag.ts
  public/mobile-app/src/routes/preferences/zones/+page.svelte
  public/mobile-app/src/routes/preferences/zones/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Sticky headers (#568)
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
Due: npm-lint-and-format

Don't trigger a refresh loop when the size of the window is just too short or just too long
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
Due: npm-lint-and-format

@cdesquilbet-dila's review: no extra scrolling space when not needed
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
