Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system
  require_serial: true

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  require_serial: true

[RVO] display user name, count notifications (#158)
  app/__init__.py
  app/models.py
  app/rvo.py
  templates/rvo/list-users.html
  tests/conftest.py
  tests/rvo/test_notification.py
Due: pyright

[RVO] send a notification to the user in url (#158)
  app/models.py
  app/rvo.py
  templates/rvo/list-users.html
  templates/rvo/liste.html
  templates/rvo/send-notification.html
  tests/rvo/test_notification.py
Due: pyright

[RVO] testing, add a connected_user fixture (#158)
  tests/rvo/conftest.py
  tests/rvo/test_basic.py
  tests/rvo/test_notification.py
Due: pyright

[RVO] testing, add utilities for authenticated views (#158)
  tests/rvo/test_basic.py
  tests/rvo/utils.py
Due: pyright

[RVO] move user list behind test menu entry (#158)
  app/rvo.py
  templates/rvo/base.html
  templates/rvo/list-users.html
  templates/rvo/liste.html
  tests/rvo/test_notification.py
Due: pyright

[RVO] use a guard for authenticated views (#158)
  app/rvo.py
  app/rvo_auth.py
Due: pyright

[AMI] add cnaf_quotient_familial scope (#139)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

[AMI] get quotient info and display it in debug section (#139)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

[AMI] add endpoint to get quotient from api_particulier (#139)
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright

[AMI] userinfo is a $state proxy, use $inspect (#139)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

[AMI] add variables in .env for api_particulier (#139)
  .env
Due: none

fixup! [AMI] get quotient info and display it in debug section (#139)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Make the footer menu sticky and fix CSS integration (#133)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/static/remixicons/calendar-event-fill.svg
  public/mobile-app/static/remixicons/calendar-event-line.svg
  public/mobile-app/static/remixicons/edit-fill.svg
  public/mobile-app/static/remixicons/edit-line.svg
  public/mobile-app/static/remixicons/home-4-fill.svg
  public/mobile-app/static/remixicons/home-4-line.svg
  public/mobile-app/static/remixicons/list-check.svg
Due: npm-lint-and-format

Display footer menu above borders (#133)
  public/mobile-app/src/lib/Navigation.svelte
Due: npm-lint-and-format

Refacto after rebase (#133)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Use svg files for footer menu icons (#133)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/static/remixicons/edit-line.svg
  public/mobile-app/static/remixicons/home-4-fill.svg
  public/mobile-app/static/remixicons/list-check.svg
Due: npm-lint-and-format

Add margin-bottom for footer menu (#133)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

@cdesquilbet-dila review: pin exactly the version of the DSFR package
  public/mobile-app/package.json
Due: npm-lint-and-format

Use the FC sandboxes from the equipe-ami account
  .env
Due: none

Document how to reset a database on scalingo
  CONTRIBUTING.md
Due: none

Cleanup: remove a static files router that's not used anymore (dead code)
  app/__init__.py
Due: pyright

RVO: use the mobile app's install DSFR from its node_module (hackish)
  app/rvo.py
  templates/rvo/base.html
  templates/rvo/detail.html
Due: pyright

Display the user's notifications in the "bell icon" screen
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

@cdesquilbet-dila review: use the existing `retrieveNotifications` helper
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

Pretty print the age of a notification
  public/mobile-app/src/lib/prettyDate.test.js
  public/mobile-app/src/lib/prettyDate.ts
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format

@edouard-gv review: remove the debug notifications list on the home page of the app
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

@edouard-gv's review: mention the ssh key to upload in the scalingo account
  CONTRIBUTING.md
Due: none

Fix .env comment with the latest use of .env.local
  .env
Due: none

Path conditions:
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  pyright: any of: \.py$
