Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: remove listMinHeight variable (#946)
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

front: remove listContainer variable (#946)
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

front: edit-address, remove focus on address selection (#946)
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

front: fix edit-address page scroll on address selection (#946)
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

Handling subscription field while replicating registration (#904)
  ami/replication/migrations/0007_anonymizedregistration_subscription.py
  ami/replication/models.py
  ami/replication/tests/test_replication.py
Due: no-vanilla-httpx-usage, pyright

notification: new field valid_until (#674)
  ami/notification/migrations/0012_valid_until.py
  ami/notification/models.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
Due: no-vanilla-httpx-usage, pyright

api: list notifications, exclude notifications with outdated valid_until (#674)
  ami/notification/api_views.py
  ami/notification/tests/api/test_notification.py
Due: no-vanilla-httpx-usage, pyright

api: notification partner endpoint, don't push outdated notification (#674)
  ami/notification/push.py
  ami/notification/serializers.py
  ami/notification/tests/api/test_partner_notifications.py
Due: no-vanilla-httpx-usage, pyright

agent-admin: update send-notification to add valid_until (#674)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_send_notification.py
Due: no-vanilla-httpx-usage, pyright

front: hide agenda item (#373)
  public/mobile-app/src/app.css
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
  public/mobile-app/src/lib/utils.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/static/icons/custom/more-2-fill.svg
Due: npm-lint-and-format, typescript-check

front: simplify followup, remove tabs (#776)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/+page.svelte
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

notification: new field item_is_archived on Notification model (#776)
  ami/notification/migrations/0013_item_is_archived.py
  ami/notification/models.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
Due: no-vanilla-httpx-usage, pyright

followup: deduce is_archived from notifications (#776)
  ami/followup/schemas.py
  ami/followup/tests/test_all.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

followup: new endpoint to archive an item (#776)
  ami/followup/api_urls.py
  ami/followup/api_views.py
  ami/followup/serializers.py
  ami/followup/tests/test_item_archive.py
Due: no-vanilla-httpx-usage, pyright

front: followup, remove search icon, change paddings and link (#776)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/routes/requests/+page.svelte
Due: npm-lint-and-format

front: add id field to RequestItem object (#776)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: filter followup to hide archived items (#776)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/api-inventory.test.ts
  public/mobile-app/src/lib/api-inventory.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add inventory field to RequestItem object (#776)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: API call to archive a followup item (#776)
  public/mobile-app/src/lib/api-inventory.test.ts
  public/mobile-app/src/lib/api-inventory.ts
Due: npm-lint-and-format, typescript-check

front: add archive method on RequestItem (#776)
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
Due: npm-lint-and-format, typescript-check

front: archive modal and action for request item (#776)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/RequestItemModal.svelte
  public/mobile-app/src/routes/requests/+page.svelte
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: more menu on requests page, with archived link (#776)
  public/mobile-app/src/routes/requests/+page.svelte
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: move requests display in a component (#776)
  public/mobile-app/src/lib/components/Requests.svelte
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/routes/requests/+page.svelte
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: archived request items page (#776)
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/lib/components/Requests.svelte
  public/mobile-app/src/lib/components/Requests.svelte.test.ts
  public/mobile-app/src/routes/requests/archived/+page.svelte
  public/mobile-app/src/routes/requests/archived/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
