Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: extend banner component for relogin page (#1179)
  public/mobile-app/src/lib/components/Banner.svelte
  public/mobile-app/src/lib/components/Banner.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add relogin view (#1179)
  ami/authentication/tests/test_login_callback_relogin.py
  ami/authentication/tests/test_login_callback_silent_ami_fi.py
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/tests/test_relogin.py
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/fi/tests/test_passkey_authentication.py
  ami/fi/views.py
  ami/settings.py
  ami/user/data.py
  ami/user/tests/test_get_fc_userinfo.py
  public/mobile-app/src/lib/initializeDataFromAPI.test.ts
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
  public/mobile-app/src/routes/relogin/page.svelte.test.ts
  public/mobile-app/vite.config.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: add proxying of /static/ (#1189)
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

front: manage errors on passkey authentication page (#1185)
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

tests: add check for unsetting "has working passkey" (#1185)
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
  public/mobile-app/src/routes/passkey-authentication/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: manage errors on passkey registration page (#1185)
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: fix "différentes" spelling (#1208)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

fi: redirect user to original url when authentication process is interrupted (#1186)
  ami/authentication/tests/test_login_callback_relogin.py
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/views.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_passkey_authentication.py
  ami/fi/views.py
  public/mobile-app/src/lib/ami-goto.test.ts
  public/mobile-app/src/lib/ami-goto.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

user: add external endpoint to set consent (#1192)
  ami/user/api_urls.py
  ami/user/api_views.py
  ami/user/serializers.py
  ami/user/tests/test_all.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

misc: change partner auth in tests (#1192)
  ami/conftest.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

notification: check is consent was given before notification creation in partner endpoints (#1192)
  .env
  ami/conftest.py
  ami/notification/api_views_v2.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/partner/models.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: fix tile without icon (#1198)
  public/mobile-app/src/lib/components/FollowupItem.svelte
Due: npm-lint-and-format

fi: keep reference to fi_session_id when verifying authentication (#1216)
  ami/fi/api_views.py
  ami/fi/tests/test_passkey_authentication.py
Due: no-vanilla-httpx-usage, pyright

fi: allow android origins for passkeys (#1206)
  .env
  ami/fi/api_views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: pass ?is_logged_out from / to /#/login (#1225)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

fi: add support for returning userinfo as JWT (#1219)
  ami/fi/api_views.py
  ami/fi/tests/test_userinfo.py
Due: no-vanilla-httpx-usage, pyright

fi: use ES256 for token signature (#1219)
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/tests/test_jwks.py
  ami/fi/tests/test_token.py
  ami/fi/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

fi: unset default value for fi_idp_id env variable (#1230)
  .env
  .env.local.template
Due: none

fi: fix jwks url (#1236)
  ami/fi/api_urls.py
  ami/fi/tests/test_jwks.py
Due: no-vanilla-httpx-usage, pyright

fi: redo userinfo without DRF to avoid Accept: header validation (#1238)
  ami/fi/api_views.py
  ami/fi/tests/test_userinfo.py
Due: no-vanilla-httpx-usage, pyright

front: don't display passkey buttons on login-callback if user has passkey (#1232)
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check
