Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system
  require_serial: true

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  require_serial: true

Store the id_token in the user session as FC needs it for the logout
  app/__init__.py
  tests/conftest.py
  tests/test_basic.py
Due: pyright

Reproduce the changes from PR90 regarding the FC access on review apps
  CONTRIBUTING.md
  app/__init__.py
Due: pyright

Reorder steps in déconnexion d'un usager scenario to be sure that the user exists before notifying them.
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Rename notification feature from "France Connect" to "Notifications"
  public/mobile-app/tests/features/notifications.feature
Due: none

Add a rendez-vous France Travail by default to the persona Camille
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/notifications.feature
  public/mobile-app/tests/features/thesaurus.feature
Due: none

Clarification différence notification et message
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Lien démo
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Précisions
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Ajout scénario déconnexion
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Update CONTRIBUTING-BEHAVIOR.md to open to other IDE's
  CONTRIBUTING-BEHAVIOR.md
Due: none

Document Gherkin usage. Closes #88
  CONTRIBUTING-BEHAVIOR.md
  CONTRIBUTING.md
Due: none

Scénario de notification simple
  public/mobile-app/tests/features/notifications.feature
Due: none

Rename "notifiable" to "enregistrée" in feature files and step definitions
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/notifications.feature
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
  public/mobile-app/tests/features/thesaurus.feature
Due: none

Réindentation
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Suppression de scénarios au mauvais endroit dans le fichier france-connexion.feature
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Update public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Scénario lien AMI -> RVO
  public/mobile-app/tests/features/notifications.feature
Due: none

Following Clotilde's review: implement a real redirect for the app to FC
  app/__init__.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/state.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/logged_out/+page.svelte
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Redirige vers la HP non connectée quand accès page privée
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Redirection après reconnexion
  public/mobile-app/tests/features/france-connexion.feature
Due: none

@cdesquilbet-dila's review
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Display a "logged out" info banner on the pwa after logging out
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format

Add a logout endpoint on the backend
  .env.template
  app/__init__.py
  tests/test_basic.py
Due: pyright

Extract front component and add unit tests
  app/__init__.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/Installation.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/FranceConnectSvgIcon.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/vite.config.ts
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Premier jet pour le service fictif RVO
  app/__init__.py
  app/rvo.py
  templates/base-rvo.html
  templates/rvo-liste.html
Due: pyright

FranceConnexion sur RVO
  app/rvo.py
  public/mobile-app/vite.config.ts
  templates/base-rvo.html
Due: npm-lint-and-format, pyright

Enhance RVO interface: update styles and improve rendez-vous listing
  app/rvo.py
  templates/base-rvo.html
  templates/rvo-liste.html
Due: pyright

Update __init__.py
  app/__init__.py
Due: pyright

wip pair
  .env.template
  CONTRIBUTING.md
  app/__init__.py
  app/rvo.py
  bin/start.sh
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/vite.config.ts
  scalingo.json
  ssl-cert.pem
  ssl-key.pem
Due: npm-lint-and-format, pyright

Enhance CONTRIBUTING-BEHAVIOR.md with BDD insights
  CONTRIBUTING-BEHAVIOR.md
Due: none

Set a default (fake) FranceConnect client secret
  .env.template
Due: none

We don't use a github actions secret anymore
  .github/workflows/pytest.yml
Due: none

Path conditions:
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  pyright: any of: \.py$
