Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

httpx: add caching to GET requests (#508)
  ami/utils/httpx.py
  ami/utils/tests/test_httpx.py
Due: no-vanilla-httpx-usage, pyright

api agenda: cache school holiday requests (#508)
  ami/agenda/data/holidays.py
  ami/agenda/tests/test_school_holidays.py
  ami/conftest.py
Due: no-vanilla-httpx-usage, pyright

holidays: add emojis (#508)
  ami/agenda/data/schemas.py
  ami/agenda/tests/test_school_holidays.py
Due: no-vanilla-httpx-usage, pyright

front: new class Preferences to store zones and addresses (#508)
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: set user preferences from known address (#508)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

front: to display agenda, user has to be connected (#508)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: display school holidays according to user preferences (#508)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: redo preferences page (#508)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/pages.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: Toogle component (#508)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: set zone selection in preferences (#508)
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/zones/+page.svelte
  public/mobile-app/src/routes/preferences/zones/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: zone preferences, display user addresses in tags (#508)
  public/mobile-app/src/lib/components/Toggle.svelte
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
  public/mobile-app/src/lib/types/components/toggletag.ts
  public/mobile-app/src/routes/preferences/zones/+page.svelte
  public/mobile-app/src/routes/preferences/zones/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

scheduled-notifications: simplify commands and tests (#786)
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
  ami/notification/models.py
  ami/notification/tests/test_delete-published-scheduled-notifications_command.py
  ami/notification/tests/test_publish-scheduled-notifications_command.py
  ami/notification/tests/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

api: move agenda and follow-p endpoints behind /api/v1 (#762)
  ami/agenda/api_urls.py
  ami/agenda/tests/test_all.py
  ami/api/urls.py
  ami/followup/api_urls.py
  ami/followup/tests/test_all.py
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-catalog.ts
  public/mobile-app/src/lib/api-inventory.test.ts
  public/mobile-app/src/lib/api-inventory.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: linting, fix noNonNullAssertion warnings (#792)
  biome.json
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: linting, fix noDescendingSpecificity warnings (#792)
  biome.json
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

front: linting, fix useTemplate warnings (#792)
  biome.json
  public/mobile-app/src/lib/france-connect.ts
Due: npm-lint-and-format, typescript-check

front: linting, fix noImportantStyles warnings (#792)
  biome.json
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/settings/+page.svelte
Due: npm-lint-and-format

front: linting, fix noExplicitAny warnings (#792)
  biome.json
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/api-catalog.test.ts
  public/mobile-app/src/lib/api-inventory.test.ts
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
  public/mobile-app/src/lib/nativeEvents.test.ts
  public/mobile-app/src/lib/nativeEvents.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/layout.svelte.test.ts
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

remove django-admin (#795)
  ami/agent/admin.py
  ami/settings.py
  ami/urls.py
Due: no-vanilla-httpx-usage, pyright

agent: command to give admin role to an agent (#795)
  ami/agent/management/__init__.py
  ami/agent/management/commands/__init__.py
  ami/agent/management/commands/promote-agent-to-admin.py
  ami/agent/tests/test_promote-agent-to-admin.py
Due: no-vanilla-httpx-usage, pyright

update CONTRIBUTING doc (#795)
  CONTRIBUTING.md
Due: none

front: fix homepage paddings (#764)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

front: display modal on logout to confirm action (#753)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Render Svelte as an MPA
  ami/agent_admin/static/css/agent-admin-styles.css
  ami/settings.py
  ami/urls.py
  public/mobile-app/package.json
  public/mobile-app/scripts/generate-env.js
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/BackButton.svelte
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/lib/nativeEvents.ts
  public/mobile-app/src/routes/+layout.svelte
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/network-error/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/requests/+page.svelte
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/technical-error/+page.svelte
  public/mobile-app/svelte.config.js
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Fix tests
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/BackButton.svelte.test.ts
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/layout.svelte.test.ts
  public/mobile-app/src/routes/layout.test.ts
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
  public/mobile-app/src/routes/settings/page.svelte.test.ts
  public/mobile-app/vitest-setup-client.ts
Due: npm-lint-and-format, typescript-check

Use mkcert for local ssl certificates (#828)
  .github/workflows/pytest.yml
  CONTRIBUTING.md
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

Center the FranceConnect button vertically (#515)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format
