Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

@cdesquilbet-dila's review
  ami/utils/tests/test_all.py
Due: no-vanilla-httpx-usage, pyright

Make authenticated requests to the Github API (#417)
  .env
  .gitignore
  CONTRIBUTING.md
  ami/settings.py
  ami/utils/api_views.py
  ami/utils/tests/test_all.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Only load the .env file on scalingo (#905)
  .github/workflows/pytest.yml
  CONTRIBUTING.md
  Makefile
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

@zebuline's review
  ami/user/api_views.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

Only store the latest registration for a given mobile device (#893)
  ami/user/api_views.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

@zebuline's review (bis)
  ami/user/api_views.py
Due: no-vanilla-httpx-usage, pyright

FI: add userinfo cookie (#708)
  ami/authentication/api_views.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_logout.py
  ami/authentication/views.py
  ami/settings.py
  ami/tests/utils.py
Due: no-vanilla-httpx-usage, pyright

FI: add fi app (#708)
  ami/api/urls.py
  ami/fi/__init__.py
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/apps.py
  ami/fi/tests/__init__.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_logout.py
  ami/fi/tests/test_token.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement logout (#708)
  ami/fi/api_views.py
  ami/fi/tests/test_logout.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: add FISession model (#708)
  ami/fi/migrations/0001_initial.py
  ami/fi/migrations/0002_fi_session.py
  ami/fi/migrations/__init__.py
  ami/fi/models.py
Due: no-vanilla-httpx-usage, pyright

Reorder env variables (#708)
  .env
Due: none

FI: implement userinfo (#708)
  .env.development
  .github/workflows/pytest.yml
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/models.py
  ami/fi/tests/test_models.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement token (#708)
  .env
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_token.py
  ami/fi/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement authorize (#708)
  ami/authentication/tests/conftest.py
  ami/conftest.py
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

Rename help texts for scheduled notifications commands (#708)
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
Due: no-vanilla-httpx-usage, pyright

FI: add CRON to delete expired FISessions (#708)
  ami/fi/management/__init__.py
  ami/fi/management/commands/__init__.py
  ami/fi/management/commands/delete-expired-fi-sessions.py
  ami/fi/tests/test_delete-expired-fi-sessions_command.py
  cron.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

FI: front page and api view to test login (#708)
  .env
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  public/mobile-app/src/routes/fi/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

FI: go back to proxy (if defined) after authorize (#708)
  ami/fi/api_views.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

FI: always logout from FC before FI login (#708)
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/fi/+page.svelte
Due: npm-lint-and-format, typescript-check

FI: use PUBLIC_FC_PROXY_BASE_URL in settings (#708)
  .env
  .github/workflows/pytest.yml
  CONTRIBUTING.md
  ami/authentication/auth.py
  ami/authentication/tests/test_login.py
  ami/authentication/views.py
  ami/fi/api_views.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_token.py
  ami/fi/utils.py
  ami/settings.py
  bin/start.sh
  public/mobile-app/src/lib/france-connect.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
