Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

Add notifications welcome page (#260)
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/static/remixicons/notification.svg
Due: npm-lint-and-format, typescript-check

Add notice when user enables notifications from welcome page (#260)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Extract method to enable notifications and update localStorage (#260)
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/settings/+page.svelte
  public/mobile-app/src/routes/settings/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Lint html and css parts of .svelte files (#260)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
Due: npm-lint-and-format

Move get_fc_userinfo unit tests (#260)
  tests/ami/test_auth.py
  tests/ami/test_user.py
Due: no-vanilla-httpx-usage, pyright

Redirect to notifications welcome page on first login (#260)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Get_fc_userinfo returns if it is the first user login (#260)
  app/controllers/user.py
  tests/ami/test_user.py
Due: no-vanilla-httpx-usage, pyright

remove "requests" item from menu (#440)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix inputs height for a11y (#442)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

Add contact button in menu (#397)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/static/remixicons/question-answer-line.svg
Due: npm-lint-and-format, typescript-check

Add contact page (#397)
  .env
  public/mobile-app/src/routes/contact/+page.svelte
  public/mobile-app/src/routes/contact/page.svelte.test.ts
  public/mobile-app/static/icons/community.svg
  public/mobile-app/static/remixicons/file-copy-line.svg
Due: npm-lint-and-format, typescript-check

Add user_fc_hash in get_fc_userinfo return value (#397)
  app/controllers/user.py
  tests/ami/test_user.py
Due: no-vanilla-httpx-usage, pyright

Add user_fc_hash in localStorage when user is logged in (#397)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Remove debug data in homepage (#401)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format, typescript-check

Detect wether there's a Notification API in the browser
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check

Send an event when enabling permissions if in a WebViewc
  public/mobile-app/src/lib/nativeEvents.ts
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
Due: npm-lint-and-format, typescript-check

display day full name for screen readers (#365)
  public/mobile-app/src/lib/AgendaItem.svelte
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

Send an event when enabling or disabling notifications in the settings page
  public/mobile-app/src/lib/nativeEvents.test.ts
  public/mobile-app/src/lib/nativeEvents.ts
  public/mobile-app/src/routes/notifications-welcome-page/+page.svelte
  public/mobile-app/src/routes/settings/+page.svelte
Due: npm-lint-and-format, typescript-check

Remove extraneous bottom whitespace when AgendaItem has no link (#454)
  public/mobile-app/src/lib/AgendaItem.svelte
Due: npm-lint-and-format

add a ping endpoint (#243)
  app/__init__.py
  tests/ami/test_basic.py
Due: no-vanilla-httpx-usage, pyright

ping back on FC login button (#243)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/network-error/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/static/remixicons/connection-lost.svg
Due: npm-lint-and-format, typescript-check

redirect to internal-error page if something went wrong during login process (#243)
  app/controllers/auth.py
  public/mobile-app/src/routes/technical-error/+page.svelte
  public/mobile-app/static/remixicons/technical-error.svg
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

DO NOT MERGE
  public/mobile-app/src/routes/settings/+page.svelte
Due: npm-lint-and-format

Initialize with null instead of empty string (#397)
  public/mobile-app/src/routes/contact/+page.svelte
Due: npm-lint-and-format

Fix hover of copy button (#397)
  public/mobile-app/src/routes/contact/+page.svelte
Due: npm-lint-and-format

Update condition with thruthiness instead of not null (#397)
  public/mobile-app/src/routes/contact/+page.svelte
Due: npm-lint-and-format

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
