Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

Display selected address block after selection from autocomplete (#224)
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Add address in Profile (#224)
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Replace address setter by helper function (#224)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Fix wording (#224)
  public/mobile-app/src/routes/address/+page.svelte
Due: npm-lint-and-format

[AMI] scheduled notification model (#241)
  app/models.py
  migrations/versions/2e9a48bafcfb_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] create notifications from scheduled notifications (#241)
  app/services/scheduled_notification.py
  tests/ami/services/__init__.py
  tests/ami/services/test_scheduled_notification.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

[AMI] function to create scheduled notification from front (#241)
  public/mobile-app/src/lib/scheduled-notifications.test.ts
  public/mobile-app/src/lib/scheduled-notifications.ts
Due: npm-lint-and-format, typescript-check

[AMI] misc, rename test (#241)
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] delete scheduled notification 6 month after sending (#241)
  app/services/scheduled_notification.py
  tests/ami/services/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] endpoint for scheduled notifications (#241)
  app/__init__.py
  app/controllers/scheduled_notification.py
  app/models.py
  app/schemas.py
  app/services/scheduled_notification.py
  tests/ami/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] push notification when creating notification from scheduled (#241)
  app/__init__.py
  app/services/scheduled_notification.py
  app/webpush.py
  tests/ami/services/test_scheduled_notification.py
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
  tests/base.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

[AMI] fix notification tests (#241)
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] test channel messages (#241)
  tests/ami/test_admin_notification.py
  tests/ami/test_notification.py
  tests/ami/utils.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

[AMI] welcome notification on first login (#241)
  app/controllers/user.py
  app/services/scheduled_notification.py
  tests/ami/test_auth.py
Due: no-vanilla-httpx-usage, pyright

[AMI] use AsyncPgChannelsBackend for web and cli communication (#241)
  app/__init__.py
  app/database.py
  app/services/notification.py
  tests/ami/services/test_scheduled_notification.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, pyright

[AMI] delete a scheduled notification (#241)
  app/controllers/scheduled_notification.py
  tests/ami/test_scheduled_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] move push_notification in service (#241)
  app/controllers/notification.py
  app/services/notification.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

[AMI] cli & cron (#241)
  Makefile
  app/__init__.py
  app/cli.py
  bin/run_command.sh
  cron.json
  tests/ami/test_cli.py
  tests/conftest.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

[AMI] create scheduled notifications for otv (#241)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

[AMI] make private methods for holiday and otv item creation in agenda (#241)
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

[AMI] update OTV scheduled notifications on address change (#241)
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] update OTV scheduled notifications on address removal (#241)
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check
