Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

RVO use and validate the NONCE
  app/env.py
  app/rvo.py
  templates/rvo/base.html
  tests/conftest.py
  tests/rvo/test_basic.py
Due: pyright

AMI use and validate the STATE
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright

RVO use and validate the STATE
  app/rvo.py
  tests/rvo/test_basic.py
Due: pyright

Fix svelte test that was commented out for debugging :/
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format

Cleanup the session after login, remove STATE and NONCE
  app/__init__.py
  app/rvo.py
  tests/ami/test_basic.py
  tests/rvo/test_basic.py
Due: pyright

Validate the NONCE for AMI when coming back from FC login
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright

The mobile app logins to FC through the backend
  CONTRIBUTING.md
  app/__init__.py
  app/env.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  tests/ami/test_basic.py
  tests/utils.py
Due: npm-lint-and-format, pyright

Redirect to the homepage with a login error message when the NONCE can't be validated
  app/__init__.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/vitest-setup-client.ts
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

Auto provision the PUBLIC_PRO_CONNECT_AMI_ADMIN_REDIRECT_URL env var on Scalingo
  scalingo.json
Due: npm-lint-and-format

[AMI] highlight the correct item in menu (#225)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

[AMI] integration calendar mockup & holidays (#225)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
Due: npm-lint-and-format

[AMI] router for external data as api-particulier (#225)
  app/__init__.py
  app/data/__init__.py
  app/data/routes.py
  public/mobile-app/src/lib/api-particulier.ts
  tests/ami/test_basic.py
  tests/ami/test_data.py
Due: npm-lint-and-format, pyright

[AMI] endpoint to get holidays from zones A, B, C (#225)
  .env
  app/data/routes.py
  app/env.py
  app/schemas.py
  tests/ami/test_data.py
Due: pyright

[AMI] get and display holidays in front (#225)
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format

AMI, RVO: properly pass the STATE to FC even when not using a proxy (#254)
  app/__init__.py
  app/rvo.py
  tests/ami/test_basic.py
  tests/rvo/test_basic.py
Due: pyright

Increase the httpx default timeout to 60seconds (#195)
  .pre-commit-config.yaml
  app/__init__.py
  app/ami_admin.py
  app/controllers/notification.py
  app/controllers/user.py
  app/httpx.py
  app/rvo.py
  bin/check-no-vanilla-httpx-usage.sh
Due: pyright

Do not use the vanilla httpx (#195 bis)
  app/__init__.py
  app/ami_admin.py
  app/controllers/notification.py
  app/controllers/user.py
  app/data/routes.py
  app/httpx.py
  app/rvo.py
  tests/ami/test_data.py
Due: pyright

Display FC's error messages and descriptions in banner in AMI and RVO (#193)
  app/__init__.py
  app/rvo.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  templates/rvo/base.html
  tests/ami/test_basic.py
  tests/rvo/test_basic.py
Due: npm-lint-and-format, pyright

Don't display any error message if the user aborted the France Connection (#193)
  app/rvo.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  tests/rvo/test_basic.py
Due: npm-lint-and-format, pyright

Add missing FC explanation text above the login button (#252)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Auto generate ssl cert and key for local dev (#238)
  .gitignore
  bin/start.sh
  ssl-cert.pem
  ssl-key.pem
Due: none

(DO NOT MERGE) Check if a link to the PSL can be opened properly in a webview (#257)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format
