Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system
  require_serial: true

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  require_serial: true

List users in AMI admin (#173)
  app/ami_admin.py
  app/ami_admin_auth.py
  templates/ami-admin/base.html
  templates/ami-admin/list-users.html
  tests/ami_admin/test_notification.py
Due: pyright

Send notifications from AMI admin (#173)
  app/ami_admin.py
  templates/ami-admin/list-users.html
  templates/ami-admin/send-notification.html
  tests/ami_admin/test_notification.py
Due: pyright

Implement ProConnect logout for AMI admin (#173)
  app/ami_admin.py
  templates/ami-admin/logged-out.html
  tests/ami_admin/test_basic.py
  tests/ami_admin/test_notification.py
  tests/ami_admin/utils.py
Due: pyright

Code review (#173)
  app/ami_admin.py
  tests/ami_admin/test_basic.py
Due: pyright

Fix ProConnect logo (#173)
  public/mobile-app/static/icons/pro-connect-logo.svg
  templates/ami-admin/base.html
Due: none

Implement ProConnect login for AMI admin (#173)
  .env
  app/__init__.py
  app/ami_admin.py
  public/mobile-app/static/icons/pro-connect-logo.svg
  templates/ami-admin/base.html
  tests/ami_admin/__init__.py
  tests/ami_admin/conftest.py
  tests/ami_admin/test_basic.py
Due: pyright

Update CONTRIBUTING.md about ProConnect usage (#173)
  CONTRIBUTING.md
Due: none

[AMI] add tests on notification and registration return data (#192)
  tests/ami/test_basic.py
Due: pyright

[AMI] fix prettyDate with JSON date format (#192)
  public/mobile-app/src/lib/prettyDate.test.js
  public/mobile-app/src/lib/prettyDate.ts
Due: npm-lint-and-format

[AMI] add tests for prettyDate for JSON date format (#192)
  public/mobile-app/src/lib/prettyDate.test.js
Due: npm-lint-and-format

[AMI] highlight the correct item in menu (#225)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/lib/Navigation.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

[AMI] integration calendar mockup & holidays (#225)
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
Due: npm-lint-and-format

[AMI] router for external data as api-particulier (#225)
  app/__init__.py
  app/data/__init__.py
  app/data/routes.py
  public/mobile-app/src/lib/api-particulier.ts
  tests/ami/test_basic.py
  tests/ami/test_data.py
Due: npm-lint-and-format, pyright

[AMI] endpoint to get holidays from zones A, B, C (#225)
  .env
  app/data/routes.py
  app/env.py
  app/schemas.py
  tests/ami/test_data.py
Due: pyright

[AMI] get and display holidays in front (#225)
  public/mobile-app/src/lib/api-holidays.test.ts
  public/mobile-app/src/lib/api-holidays.ts
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
Due: npm-lint-and-format

[RVO] display date in local tz (#246)
  templates/rvo/send-notification.html
  tests/conftest.py
  tests/rvo/test_notification.py
Due: pyright

[AMI] use channels & websocket to update notifications in front (#223)
  app/__init__.py
  app/controllers/notification.py
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

First playwright BDD scenario
  .vscode/settings.json
  public/mobile-app/package.json
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
Due: npm-lint-and-format

document test:cucumber filtering @OK scenarios
  CONTRIBUTING-BEHAVIOR.md
Due: none

Better configs alternative
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
Due: none

Lint and format
  .vscode/settings.json
Due: npm-lint-and-format

playwright & cucumber installation details
  CONTRIBUTING-BEHAVIOR.md
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

[AMI] use channels & websocket to update notifications in front (#223)
  app/__init__.py
  app/controllers/notification.py
  app/schemas.py
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

Logout AMI before FC (#132)
  app/rvo.py
  public/mobile-app/src/lib/france-connect.js
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/routes/+page.svelte
  tests/rvo/test_basic.py
Due: npm-lint-and-format, pyright

@cdesquilbet-dila's review
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.js
  public/mobile-app/src/lib/france-connect.test.js
Due: npm-lint-and-format

The mobile app logins to FC through the backend
  CONTRIBUTING.md
  app/__init__.py
  app/env.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  tests/ami/test_basic.py
  tests/utils.py
Due: npm-lint-and-format, pyright

Validate the NONCE for AMI when coming back from FC login
  app/__init__.py
  tests/ami/test_basic.py
Due: pyright

Redirect to the homepage with a login error message when the NONCE can't be validated
  app/__init__.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/vitest-setup-client.ts
  tests/ami/test_basic.py
Due: npm-lint-and-format, pyright

Path conditions:
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  pyright: any of: \.py$
