Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

[AMI] enable pool_pre_ping (#352)
  app/database.py
Due: no-vanilla-httpx-usage, pyright

[AMI] don't create_async_engine manually (#352)
  app/database.py
Due: no-vanilla-httpx-usage, pyright

[AMI] use notification creation date instead of send_date (#358)
  app/schemas.py
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

[AMI] Address: zone from departement (#227)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
Due: npm-lint-and-format, typescript-check

[AMI] address: get departement from postcode (#227)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
Due: npm-lint-and-format, typescript-check

[AMI] in User constructor, cast address as Address (#227)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

[AMI] move addressesFromBAN in lib (#227)
  public/mobile-app/src/lib/addressesFromBAN.test.ts
  public/mobile-app/src/lib/addressesFromBAN.ts
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/src/routes/address/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] mark agenda Item as custom when user zone matches (#227)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

[AMI] Address.fromJSON method (#227)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
Due: npm-lint-and-format, typescript-check

[AMI] simplify AddressFromBAN constructor (#227)
  public/mobile-app/src/lib/addressesFromBAN.ts
Due: npm-lint-and-format, typescript-check

[AMI] simplify Address constructor (#227)
  public/mobile-app/src/lib/address.ts
Due: npm-lint-and-format, typescript-check

[AMI] highlight holidays of user zone (#227)
  public/mobile-app/src/lib/AgendaItem.svelte
Due: npm-lint-and-format

[AMI] display user city in holiday of their zone (#227)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

[AMI] default notification icon (#309)
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

[AMI] default icon of partners (#309)
  app/controllers/notification.py
  app/partners.py
  tests/ami/test_notification.py
Due: no-vanilla-httpx-usage, pyright

Update documentation to make sure no one uses `npm install` instead of `npm ci`
  CONTRIBUTING-BEHAVIOR.md
  public/mobile-app/README.md
Due: none

Update all packages to the latest version, and update types accordingly
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/Navigation.svelte
  public/mobile-app/src/routes/address/+page.svelte
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format, typescript-check

Use pinned versions for the package.json files
  public/mobile-app/package.json
Due: npm-lint-and-format

[AMI] remove see-all link if there is nothing to see (#366)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
Due: npm-lint-and-format

[AMI] retrieve holidays from the previous month (#360)
  app/data/routes.py
  tests/ami/test_data.py
Due: no-vanilla-httpx-usage, pyright

[AMI] don't display past events on agenda (#360)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

[AMI] highlight also common holidays (#362)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

Increase the database queue pool size (#375)
  app/database.py
Due: no-vanilla-httpx-usage, pyright
