Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system
  require_serial: true

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  require_serial: true

Modify the `register` endpoint to accept an optional label and enabled status
  app/__init__.py
  tests/test_basic.py
Due: pyright

Add a `rename_registration` endpoint to the API
  app/__init__.py
  tests/test_basic.py
Due: pyright

Add a `enable_registration` endpoint to the API
  app/__init__.py
  tests/test_basic.py
Due: pyright

Add a list_registrations endpoint to the API
  app/__init__.py
  tests/test_basic.py
Due: pyright

Refactor endpoints to REST standards
  app/__init__.py
  public/admin.js
  public/mobile-app/src/routes/+page.svelte
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Extract methods with database operations in another file
  app/__init__.py
  app/database_operations.py
  migrations/env.py
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
Due: pyright

Refactor endpoints for user id instead of user email
  app/__init__.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Refactor PATCH endpoints
  app/__init__.py
  tests/test_basic.py
Due: pyright

Review: rename methods and add api versioning
  app/__init__.py
  app/models.py
  migrations/env.py
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
  public/admin.js
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Implement standard France Connection
  public/mobile-app/src/routes/ami-fs-test-login/+page.server.js
  public/mobile-app/src/routes/ami-fs-test-login/+page.svelte
Due: npm-lint-and-format

to fixup - wip
  public/mobile-app/src/routes/+layout.ts
  public/mobile-app/src/routes/ami-fs-test-login/+page.js
Due: npm-lint-and-format

to fixup - wip
  public/mobile-app/src/routes/ami-fs-test-login/+page.js
Due: npm-lint-and-format

Install and configure capacitorjs
  CONTRIBUTING.md
  README.md
  public/mobile-app/.gitignore
  public/mobile-app/capacitor.config.ts
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
Due: npm-lint-and-format

Very basic capacitorjs API calls
  public/mobile-app/src/lib/CapacitorTest.svelte
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

to fixup - wip
  app/__init__.py
  bin/start.sh
  public/ami-fs-test-login.js
  public/mobile-app/src/routes/+page.server.js
  public/mobile-app/src/routes/ami-fs-test-login/+page.svelte
  templates/ami-fs-test-login.html
Due: npm-lint-and-format, pyright

to fixup - wip
  app/__init__.py
  public/adminclo.js
  public/ami-fs-test-login.js
  templates/adminclo.html
Due: npm-lint-and-format, pyright

to fixup - wip
  bin/start.sh
Due: none

to fixup - wip
  app/__init__.py
  public/ami-fs-test-login.js
Due: npm-lint-and-format, pyright

Première itération scénario france connect
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Notes todo next
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Retours discussions 24/07
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Compatibilité plugin officiel Cucumber
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Explicitation des scénarios
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Référence aux Miro
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Précision des objectifs
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Retours Mathieu
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Ajout des scénarios BDD (#79)
  public/mobile-app/tests/features/france-connexion.feature
Due: none

Implement standard France Connection
  .env.template
  app/__init__.py
  public/ami-fs-test-login.js
  pyproject.toml
  templates/ami-fs-test-connected.html
  templates/ami-fs-test-login.html
  tests/test_basic.py
  uv.lock
Due: npm-lint-and-format, pyright

Retours AL
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/thesaurus.feature
Due: none

Tentative de créer les steps pour autocomplete etc.
  .vscode/settings.json
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
Due: npm-lint-and-format

Add claims to get birthplace and birthcountry
  README.md
  public/ami-fs-test-login.js
  templates/ami-fs-test-connected.html
Due: npm-lint-and-format

Https for mobile app instead of litestar server
  README.md
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/routes/notifications/+page.server.js
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/remove.svg
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format

Synchro glue code avec dernières modifications
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
  public/mobile-app/tests/features/thesaurus.feature
Due: none

Move France Connect from server to mobile app
  public/mobile-app/playwright.config.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format

Move France Connect from server to mobile app (end)
  .env.template
  app/__init__.py
  public/ami-fs-test-login.js
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/vite.config.ts
  templates/ami-fs-test-connected.html
  templates/ami-fs-test-login.html
Due: npm-lint-and-format, pyright

Use standard basic ssl plugin config
  public/mobile-app/vite.config.ts
Due: npm-lint-and-format

Update README.md
  README.md
Due: none

Synchro glue code avec dernières modifications (#82)
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
  public/mobile-app/tests/features/thesaurus.feature
Due: none

Explicite les erreurs de configuration
  .gitignore
  app/__init__.py
Due: pyright

Path conditions:
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  pyright: any of: \.py$
