Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

Add all missing types
  app/__init__.py
  tests/conftest.py
Due: pyright

Fix and add all the missing types since the latest changes on main
  tests/conftest.py
  tests/test_basic.py
Due: pyright

Switch away from mypy and use pyright for type checking
  .pre-commit-config.yaml
  Makefile
  README.md
  pyproject.toml
  uv.lock
Due: none

Display the user's notifications in the mobile app
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Simplify the mobile app by removing the pushSubscription fields
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Changes after review: check the response status from API
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Use scalingo.json to generate the $PUBLIC_API_URL env variable
  .env.template
  public/mobile-app/src/routes/+page.svelte
  scalingo.json
Due: npm-lint-and-format

Only register a device once for a given user
  app/__init__.py
  migrations/env.py
  migrations/versions/ed5c27a3498d_use_jsonb_to_store_web_push_.py
  tests/conftest.py
  tests/test_basic.py
Due: pyright

Reorder the static files routers so they don't take precedence
  app/__init__.py
Due: pyright

Better test for "only register once" (@cdesquilbet-dila's review)
  tests/test_basic.py
Due: pyright

Factor out the "yield engine" part of the test fixtures (@cdesquilbet-dila's review)
  tests/conftest.py
Due: pyright

Disable the Ask notif auth button if the user is already authenticated
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Prefill the email when the user is already registered
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Add a label, created_at and enabled fields on the Registration model
  app/__init__.py
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
Due: pyright

Modify the `register` endpoint to accept an optional label and enabled status
  app/__init__.py
  tests/test_basic.py
Due: pyright

Add a list_registrations endpoint to the API
  app/__init__.py
  tests/test_basic.py
Due: pyright

Add tests
  public/mobile-app/package-lock.json
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format

Add a `rename_registration` endpoint to the API
  app/__init__.py
  tests/test_basic.py
Due: pyright

Add a `enable_registration` endpoint to the API
  app/__init__.py
  tests/test_basic.py
Due: pyright

Changes after review: WIP
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format

Fix the e2e test
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Don't store the push subscription in the localstorage anymore
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Extract methods with database operations in another file
  app/__init__.py
  app/database_operations.py
  migrations/env.py
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
Due: pyright

Refactor endpoints to REST standards
  app/__init__.py
  public/admin.js
  public/mobile-app/src/routes/+page.svelte
  tests/test_basic.py
Due: npm-lint-and-format, pyright

Refactor endpoints for user id instead of user email
  app/__init__.py
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
  tests/test_basic.py
Due: npm-lint-and-format, pyright
