Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system
  require_serial: true

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  require_serial: true

Implement disable notifications for api (#171)
  app/__init__.py
  app/models.py
  tests/ami/test_basic.py
Due: pyright

Fix notificationsEnabled update (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format

Remove unused method getSubscription (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format

Implement disable notifications for app (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

Refactor enableNotifications (#171)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/notifications.test.js
  public/mobile-app/src/lib/notifications.ts
  public/mobile-app/src/lib/registration.js
  public/mobile-app/src/lib/registration.test.js
Due: npm-lint-and-format

[AMI] move env variables in a dedicated module (#208)
  app/__init__.py
  app/env.py
  tests/ami/test_basic.py
Due: pyright

migrations: don't use Model in migration file (#203)
  migrations/versions/10d8c5919437_registration_label_enabled_and_created_.py
Due: pyright

[AMI] user controllers and repositories (#203)
  app/__init__.py
  app/controllers/__init__.py
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/models.py
  app/repositories/__init__.py
  app/repositories/notification.py
  app/repositories/registration.py
  app/repositories/user.py
  app/schemas.py
  migrations/versions/291953dacae4_datetime_with_timestamp.py
  tests/ami/test_basic.py
Due: pyright

remove warning (#203)
  app/__init__.py
Due: pyright

[AMI] add tests for unknown user (#203)
  tests/ami/test_basic.py
Due: pyright

[AMI] use services (#203)
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/repositories/notification.py
  app/repositories/registration.py
  app/repositories/user.py
  app/services/__init__.py
  app/services/notification.py
  app/services/registration.py
  app/services/user.py
Due: pyright

[AMI] remove sqlmodel, use sqlachemy, pydantic and DTOs (#203)
  app/__init__.py
  app/database.py
  app/models.py
  app/rvo.py
  migrations/env.py
  pyproject.toml
  tests/ami/test_basic.py
  tests/conftest.py
  tests/rvo/test_notification.py
  uv.lock
Due: pyright

[RVO] use UserService to get users (#203)
  app/models.py
  app/rvo.py
Due: pyright

[AMI] use only pydantic to control in/out data in controllers (#203)
  app/controllers/notification.py
  app/controllers/registration.py
  app/schemas.py
Due: pyright

[AMI] add tests on notification and registration return data (#192)
  tests/ami/test_basic.py
Due: pyright

[AMI] add tests for prettyDate for JSON date format (#192)
  public/mobile-app/src/lib/prettyDate.test.js
Due: npm-lint-and-format

[AMI] fix prettyDate with JSON date format (#192)
  public/mobile-app/src/lib/prettyDate.test.js
  public/mobile-app/src/lib/prettyDate.ts
Due: npm-lint-and-format

[RVO] stick footer menu (#211)
  templates/rvo/base.html
Due: none

refactor database session setup, use advanced sqlachemy plugin (#168)
  app/__init__.py
  app/database.py
  tests/ami/test_basic.py
  tests/conftest.py
Due: pyright

[AMI] use providers to provide services (#168)
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/services/notification.py
  app/services/registration.py
  app/services/user.py
Due: pyright

[RVO] fixture connected_test_client (#168)
  tests/base.py
  tests/conftest.py
  tests/rvo/conftest.py
  tests/rvo/test_basic.py
  tests/rvo/test_notification.py
Due: pyright

Refactor scenarios, document, and launch cucumber from command line. (#143)
  CONTRIBUTING-BEHAVIOR.md
  public/mobile-app/package.json
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/notifications.feature
Due: npm-lint-and-format

First playwright BDD scenario
  .vscode/settings.json
  public/mobile-app/package.json
  public/mobile-app/tests/features/france-connexion.feature
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
Due: npm-lint-and-format

Better configs alternative
  public/mobile-app/tests/features/step_definitions/default-steps.cjs
Due: none

document test:cucumber filtering @OK scenarios
  CONTRIBUTING-BEHAVIOR.md
Due: none

[RVO] sort notifications by date (#214)
  app/rvo.py
  templates/rvo/send-notification.html
  tests/rvo/test_notification.py
Due: pyright

Logout AMI before FC (#132)
  app/rvo.py
  public/mobile-app/src/lib/france-connect.js
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/routes/+page.svelte
  tests/rvo/test_basic.py
Due: npm-lint-and-format, pyright

@cdesquilbet-dila's review
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/france-connect.js
  public/mobile-app/src/lib/france-connect.test.js
Due: npm-lint-and-format

[RVO] use services to get users and notifications (#203)
  app/models.py
  app/rvo.py
Due: pyright

[AMI] import models and schemas without alias (#203)
  app/controllers/notification.py
  app/controllers/registration.py
  app/controllers/user.py
  app/services/notification.py
  app/services/registration.py
  app/services/user.py
Due: pyright

Path conditions:
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  pyright: any of: \.py$
