Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: npm-lint-and-format, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
      require_serial: true

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$
      require_serial: true

We don't use a github actions secret anymore
  .github/workflows/pytest.yml
Due: none

FranceConnexion sur RVO
  app/rvo.py
  public/mobile-app/vite.config.ts
  templates/base-rvo.html
Due: npm-lint-and-format, pyright

Premier jet pour le service fictif RVO
  app/__init__.py
  app/rvo.py
  templates/base-rvo.html
  templates/rvo-liste.html
Due: pyright

Enhance RVO interface: update styles and improve rendez-vous listing
  app/rvo.py
  templates/base-rvo.html
  templates/rvo-liste.html
Due: pyright

wip pair
  .env.template
  CONTRIBUTING.md
  app/__init__.py
  app/rvo.py
  bin/start.sh
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/vite.config.ts
  scalingo.json
  ssl-cert.pem
  ssl-key.pem
Due: npm-lint-and-format, pyright

Use a .env file which is indexed, overloaded by a .env.local file for local dev (not indexed)
  .env
  .github/workflows/pytest.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  app/__init__.py
  app/rvo.py
  bin/start.sh
  public/mobile-app/.gitignore
Due: pyright

WIP mob
  app/__init__.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/login_callback/+page.svelte
  templates/base-rvo.html
Due: npm-lint-and-format, pyright

WIP mob (bis)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

Add a `get_userinfo` proxy endpoint for the app
  app/__init__.py
  app/rvo.py
Due: pyright

Split AMI
  app/__init__.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/state.svelte.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/logged_out/+page.svelte
Due: npm-lint-and-format, pyright

Fix the tests for RVO after the split
  tests/test_basic.py
Due: pyright

Split RVO
  .env.template
  app/rvo.py
  templates/base-rvo.html
  templates/rvo-liste.html
  templates/rvo-logged-out.html
Due: pyright

Add tests for AMI login and fc_userinfo
  tests/test_basic.py
Due: pyright

WIP pair with Clotilde and Lauréline on the split
  .env
  app/__init__.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/routes/login_callback/+page.svelte
  scalingo.json
Due: npm-lint-and-format, pyright

Fix frontend tests following the split
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format

Integrate logout buttons
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  templates/base-rvo.html
Due: npm-lint-and-format

Enhance CONTRIBUTING-BEHAVIOR.md with BDD insights
  CONTRIBUTING-BEHAVIOR.md
Due: none

Address @cdesquilbet-dila and @zebuline reviews
  app/__init__.py
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  templates/base-rvo.html
Due: npm-lint-and-format, pyright

Detail PyCharm Gherkin configuration
  CONTRIBUTING-BEHAVIOR.md
Due: none

Env variables for AMI - FC
  .env
  scalingo.json
Due: npm-lint-and-format

make the "logged-out" notice dismissible (#115)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

meetings listing page from mockups (#117)
  templates/base-rvo.html
  templates/rvo-liste.html
Due: none

add calendar icon on rvo title (#117)
  templates/base-rvo.html
Due: none
