Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

ami-fi: raise 404 if feature flag is not enabled (#1081)
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/authentication/views.py
  ami/conftest.py
  ami/fi/api_views.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_logout.py
  ami/fi/tests/test_token.py
  ami/fi/tests/test_userinfo.py
  ami/fi/views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

api: remove default values for env variables (#1095)
  .env
  CONTRIBUTING.md
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_ami_fi.py
  ami/authentication/tests/test_login_silent_ami_fi.py
  ami/fi/tests/test_token.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

front: banner component (#769)
  public/mobile-app/src/lib/banner.test.ts
  public/mobile-app/src/lib/banner.ts
  public/mobile-app/src/lib/components/Banner.svelte
  public/mobile-app/src/lib/components/Banner.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add banners on edit pages (#769)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

front: center content elements vertically on start screen (#1098)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

front: add title to start screen (#1098)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

front: move help links to bottom modal on start screen (#1098)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: remove extra explanation paragraph on start screen (#1098)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

front: increase icon size and bottom margin on start screen (#1098)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

front: mark some FranceConnect words in bold on start screen (#1098)
  public/mobile-app/src/routes/+page.svelte
Due: npm-lint-and-format

front: adapt ItemModal into a generic BottomModal (#1098)
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
  public/mobile-app/src/lib/components/modal/BottomModal.svelte
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
Due: npm-lint-and-format

front: AMIGoto utils function (#979)
  public/mobile-app/src/lib/ami-goto.test.ts
  public/mobile-app/src/lib/ami-goto.ts
Due: npm-lint-and-format, typescript-check

front: use AMIGoto for service and procedure (#979)
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: simplify service detail page, build serviceUrl only on demand (#979)
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: intermediate modal opened on service click (#979)
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

bug-css: page preference btn toggle (#1107)
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
Due: npm-lint-and-format

front: CenteredModal (#979)
  public/mobile-app/src/lib/components/modal/CenteredModal.svelte
  public/mobile-app/src/lib/components/modal/LightModal.svelte
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
Due: npm-lint-and-format

front: implement logout modal as CenteredModal (#979)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/modal/Logout.svelte
  public/mobile-app/src/lib/components/modal/LogoutFooter.svelte
  public/mobile-app/src/lib/components/modal/LogoutFooter.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename ami-goto into ami-navigation (#1027)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
  public/mobile-app/src/lib/components/modal/ServicesItemModal.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/+page.svelte
  public/mobile-app/src/routes/services/service/[partner_id]/[item_type]/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: AMIGoto optional opts param (#1027)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

front: rename src/lib/france-connect.test.js to .ts (#1027)
  public/mobile-app/src/lib/france-connect.test.ts
Due: npm-lint-and-format, typescript-check

front: replace window.location.href by AMIGoto (#1027)
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/fi/+page.svelte
  public/mobile-app/src/routes/fi/page.svelte.test.ts
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/+page.svelte
  public/mobile-app/src/routes/followup/item/[partner_id]/[item_type]/[item_external_id]/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/silent-login/+page.svelte
  public/mobile-app/src/routes/silent-login/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: replace mockImplementation by mockResolvedValue (#1027)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/BackButton.svelte.test.ts
  public/mobile-app/src/lib/components/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/fi/page.svelte.test.ts
  public/mobile-app/src/routes/layout.svelte.test.ts
  public/mobile-app/src/routes/notifications-welcome-page/page.svelte.test.ts
  public/mobile-app/src/routes/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
  public/mobile-app/src/routes/preferences/notifications/page.svelte.test.ts
  public/mobile-app/src/routes/profile/page.svelte.test.ts
  public/mobile-app/src/routes/silent-login/page.svelte.test.ts
  public/mobile-app/src/routes/welcome/notifications/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: AMIUrl function (#1027)
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
Due: npm-lint-and-format, typescript-check

front: AMILink component (#1027)
  public/mobile-app/src/lib/components/AMILink.svelte
  public/mobile-app/src/lib/components/AMILink.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: use AMILink component (#1027)
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/components/AMILink.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/FollowupItem.svelte
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
  public/mobile-app/src/routes/notifications/+page.svelte
  public/mobile-app/src/routes/preferences/+page.svelte
Due: npm-lint-and-format, typescript-check

front: always navigate to welcome pages on login (#1027)
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: move nativeEvents and nativeInfos in dedicated folder (#1027)
  public/mobile-app/src/lib/bridges/nativeBridge.test.ts
  public/mobile-app/src/lib/bridges/nativeBridge.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/preferences/+page.svelte
  public/mobile-app/src/routes/preferences/notifications/+page.svelte
  public/mobile-app/src/routes/welcome/notifications/+page.svelte
Due: npm-lint-and-format, typescript-check

front: mapping url pattern -> alias (#1027)
  public/mobile-app/src/lib/urlAliases.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
