Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

front: passkey authentication, param to call check endpoint (#1247)
  public/mobile-app/src/lib/passkey.test.ts
  public/mobile-app/src/lib/passkey.ts
Due: npm-lint-and-format, typescript-check

front: user can use an existing passkey instead of create a new one (#1247)
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/login-callback/page.svelte.test.ts
  public/mobile-app/src/routes/passkey-authentication/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: misc, regroup error messages (#1247)
  public/mobile-app/src/routes/passkey-authentication/+page.svelte
Due: npm-lint-and-format

front: track logout of users with personalization (#1552)
  public/mobile-app/src/lib/auth.test.ts
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

front: add flag to user on personalization (#1552)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/checklist.test.ts
  public/mobile-app/src/lib/checklist.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

front: track checklist usage in matomo (#1552)
  public/mobile-app/src/lib/checklist.test.ts
  public/mobile-app/src/lib/checklist.ts
  public/mobile-app/src/lib/matomo.ts
Due: npm-lint-and-format, typescript-check

front: remove unused setPreferredUsername parameter (#1417)
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

front: followup, store items in a single list (#1525)
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: agenda, get followup items from all items (#1525)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

front: followup, hide items with milestone but without sub items (#1525)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: agenda, store items in a single list (#1525)
  public/mobile-app/src/lib/agenda.ts
Due: npm-lint-and-format, typescript-check

authentication: fix redirect_to_hash param on logout callback (#1380)
  ami/authentication/tests/test_logout_callback.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

linting: fix line length (#1380)
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

authentication: fix technical-error redirect_to_hash (#1380)
  ami/authentication/tests/test_login_callback_relogin.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

authentication: new logout_france_connect view (#1380)
  ami/authentication/tests/test_logout.py
  ami/authentication/tests/test_logout_callback.py
  ami/authentication/urls.py
  ami/authentication/views.py
Due: no-vanilla-httpx-usage, pyright

front: use logout_france_connect url (#1380)
  public/mobile-app/src/lib/france-connect.test.ts
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/+page.ts
  public/mobile-app/src/routes/page.test.ts
Due: npm-lint-and-format, typescript-check

partner: add attribute dedicated to authentication (#1522)
  ami/agent_admin/tests/manage/test_partner.py
  ami/agent_admin/utils.py
  ami/conftest.py
  ami/notification/tests/api/test_partner_notifications.py
  ami/notification/tests/api/v2/test_partner_events.py
  ami/partner/auth.py
  ami/partner/migrations/0008_partner_authentication_identifier.py
  ami/partner/migrations/0009_partner_fill_authentication_identifier.py
  ami/partner/models.py
  ami/partner/tests/test_authentication.py
  ami/user/tests/test_consent.py
Due: no-vanilla-httpx-usage, pyright

front: nativeInfos, promoted_url_aliases is a list of string (#1580)
  public/mobile-app/src/app.d.ts
  public/mobile-app/src/lib/bridges/nativeInfos.test.ts
  public/mobile-app/src/lib/bridges/nativeInfos.ts
Due: npm-lint-and-format, typescript-check

front: misc, linting, fix warning (#1555)
  public/mobile-app/src/lib/auth.test.ts
Due: npm-lint-and-format, typescript-check

front: get user's initial (#1555)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

front: do not redirect to untrusted URLs (#1518)
  .env
  ami/settings.py
  public/mobile-app/src/lib/ami-navigation.test.ts
  public/mobile-app/src/lib/ami-navigation.ts
  public/mobile-app/src/routes/login-callback/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

front: get user's full name (#1555)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/login-callback/+page.svelte
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/relogin/+page.svelte
Due: npm-lint-and-format, typescript-check

front: new profile page (#1555)
  public/mobile-app/src/routes/profile/+page.svelte
  public/mobile-app/src/routes/profile/addresses/+page.svelte
  public/mobile-app/src/routes/profile/addresses/edit-address/+page.svelte
  public/mobile-app/src/routes/profile/addresses/edit-address/page.svelte.test.ts
  public/mobile-app/src/routes/profile/addresses/edit-email/+page.svelte
  public/mobile-app/src/routes/profile/addresses/edit-email/page.svelte.test.ts
  public/mobile-app/src/routes/profile/addresses/page.svelte.test.ts
  public/mobile-app/src/routes/profile/identity/+page.svelte
  public/mobile-app/src/routes/profile/identity/edit-preferred-username/+page.svelte
  public/mobile-app/src/routes/profile/identity/edit-preferred-username/page.svelte.test.ts
  public/mobile-app/src/routes/profile/identity/page.svelte.test.ts
  public/mobile-app/src/routes/profile/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

user: validate endpoints of push registrations (#1587)
  .env
  ami/conftest.py
  ami/settings.py
  ami/user/serializers.py
  ami/user/tests/test_registration.py
Due: no-vanilla-httpx-usage, pyright

front: refacto connection-help modal in login page (#1430)
  public/mobile-app/src/routes/login/+page.svelte
  public/mobile-app/src/routes/login/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename data-testid for archive in followup-item-modal (#1430)
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: refacto agenda-item modal (#1430)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/AgendaItem.svelte.test.ts
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte.test.ts
  public/mobile-app/src/lib/components/modal/LightModal.svelte
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/agenda/+page.svelte
  public/mobile-app/src/routes/agenda/page.svelte.test.ts
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: rename data-testid for open-modal in services-item (#1430)
  public/mobile-app/src/lib/components/ServicesItem.svelte
  public/mobile-app/src/routes/services/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: refacto followup-item modal (#1430)
  public/mobile-app/src/lib/components/followup/Followup.svelte
  public/mobile-app/src/lib/components/followup/Followup.svelte.test.ts
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItem.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
  public/mobile-app/src/routes/+page.svelte
  public/mobile-app/src/routes/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check
