Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

Add style on tabs and table (#609)
  .gitignore
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
Due: no-vanilla-httpx-usage, pyright

Update agent role in form (#609)
  ami/agent_admin/forms.py
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/static/js/agent-admin-scripts.js
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Update style on header and remove footer (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/static/img/logo_marianne_square.svg
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/blocks/footer.html
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/home.html
Due: none

Fix table style (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/manage_access.html
Due: none

Display last name then first name (#609)
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
Due: no-vanilla-httpx-usage, pyright

AuditEntry model (#609)
  ami/agent_admin/migrations/0001_initial.py
  ami/agent_admin/migrations/0002_audit_entry.py
  ami/agent_admin/migrations/__init__.py
  ami/agent_admin/models.py
  ami/agent_admin/tests/test_audit_entry.py
  ami/agent_admin/utils.py
Due: no-vanilla-httpx-usage, pyright

audit on role change (#609)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

display audit access logs on manage page (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

style access-denied page (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/access_denied.html
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

select and table display (#609)
  ami/agent_admin/forms.py
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/static/img/chevron.svg
  ami/agent_admin/templates/agent_admin/manage_access.html
Due: no-vanilla-httpx-usage, pyright

Add style on login page (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/login.html
  ami/agent_admin/tests/test_login.py
Due: no-vanilla-httpx-usage, pyright

Add logout form in header and remove logout page (#609)
  ami/agent_admin/static/css/agent-admin-styles.scss
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/logout.html
  ami/agent_admin/tests/test_logout.py
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

add scss support for django statics (#609)
  .pre-commit-config.yaml
  .stylelintrc.json
  Makefile
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Create Agent on ProConnection login callback (#609)
  ami/agent/auth.py
  ami/agent/models.py
  ami/agent/tests/__init__.py
  ami/agent/tests/test_auth_middleware.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

disable template caching in dev (debug) (#609)
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Add page to manage access (#609)
  ami/agent_admin/templates/agent_admin/home.html
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/tests/utils.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

Add decorators to check agent role (#609)
  ami/agent/decorators.py
  ami/agent/models.py
  ami/agent_admin/templates/agent_admin/access_denied.html
  ami/agent_admin/tests/test_access_denied.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
Due: no-vanilla-httpx-usage, pyright

Add ami-admin (#609)
  ami/settings.py
  ami/urls.py
Due: no-vanilla-httpx-usage, pyright

Add Agent model (#609)
  ami/agent/admin.py
  ami/agent/migrations/0001_initial.py
  ami/agent/migrations/0002_agent.py
  ami/agent/models.py
Due: no-vanilla-httpx-usage, pyright

Add ProConnection logout (#609)
  ami/agent/auth.py
  ami/agent_admin/templates/agent_admin/home.html
  ami/agent_admin/templates/agent_admin/logout.html
  ami/agent_admin/tests/test_logout.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Init ProConnection with OIDC lib (#609)
  ami/agent/decorators.py
  ami/agent_admin/templates/agent_admin/home.html
  ami/agent_admin/templates/agent_admin/login.html
  ami/agent_admin/tests/conftest.py
  ami/agent_admin/tests/test_home.py
  ami/agent_admin/tests/test_login.py
  ami/agent_admin/tests/utils.py
  ami/agent_admin/urls.py
  ami/agent_admin/views.py
  ami/settings.py
  ami/urls.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

init dsfr layout (#609)
  ami/agent_admin/templates/agent_admin/base.html
  ami/agent_admin/templates/agent_admin/blocks/footer.html
  ami/agent_admin/templates/agent_admin/blocks/header.html
  ami/agent_admin/templates/agent_admin/home.html
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/settings.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Add apps for agent and agent_admin (#609)
  ami/agent/__init__.py
  ami/agent/apps.py
  ami/agent/migrations/__init__.py
  ami/agent/models.py
  ami/agent_admin/__init__.py
  ami/agent_admin/apps.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Display agents on management page (#609)
  ami/agent_admin/templates/agent_admin/manage_access.html
  ami/agent_admin/tests/test_manage.py
  ami/agent_admin/views.py
  pyproject.toml
  uv.lock
Due: no-vanilla-httpx-usage, pyright

Remove unused env variables (#609)
  .env
  CONTRIBUTING.md
  ami/settings.py
  scalingo.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Rename env variables to remove unnecessary PUBLIC prefix (#609)
  .env
  ami/agenda/data/holidays.py
  ami/authentication/auth.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_login_callback_error.py
  ami/authentication/views.py
  ami/notification/channel_consumer.py
  ami/notification/tests/test_websocket.py
  ami/settings.py
  ami/user/data.py
  scalingo.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

Move settings vars from .env to settings file (#609)
  .env
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

add request item link (#726)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/RequestItem.svelte
  public/mobile-app/src/lib/components/RequestItem.svelte.test.ts
  public/mobile-app/src/lib/follow-up.test.ts
  public/mobile-app/src/lib/follow-up.ts
  public/mobile-app/src/routes/requests/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
