Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

.pre-commit-config.yaml:

repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  # Ruff version.
  rev: v0.11.9
  hooks:
    # Run the linter.
    - id: ruff
      args: [ --fix ]
    # Run the formatter.
    - id: ruff-format

# Make sure no code is using httpx straight out of the box instead of our own configured one.
- repo: local
  hooks:
    - id: no-vanilla-httpx-usage
      name: no vanilla httpx usage
      entry: bin/check-no-vanilla-httpx-usage.sh
      language: system
      files: \.py$

# JavaScript/TypeScript linting and formatting
- repo: local
  hooks:
    - id: npm-lint-and-format
      name: npm lint and format
      entry: npm run lint-and-format
      language: system
      files: \.(js|ts|svelte|json)$
    - id: typescript-check
      name: typescript type checking
      entry: npm run type-check
      language: system
      files: \.(ts|tsx)$
      pass_filenames: false

# HTML linting and formatting
- repo: https://github.com/rtts/djhtml
  rev: 3.0.9
  hooks:
    - id: djhtml
      args: ['--tabwidth', '2']

# Python type checking
- repo: local
  hooks:
    - id: pyright
      name: pyright type checking
      entry: uv run pyright
      language: system
      files: \.py$

FI: add userinfo cookie (#708)
  ami/authentication/api_views.py
  ami/authentication/tests/test_login.py
  ami/authentication/tests/test_login_callback.py
  ami/authentication/tests/test_logout.py
  ami/authentication/views.py
  ami/settings.py
  ami/tests/utils.py
Due: no-vanilla-httpx-usage, pyright

FI: add fi app (#708)
  ami/api/urls.py
  ami/fi/__init__.py
  ami/fi/api_urls.py
  ami/fi/api_views.py
  ami/fi/apps.py
  ami/fi/tests/__init__.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_logout.py
  ami/fi/tests/test_token.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: implement userinfo (#708)
  .env.development
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/models.py
  ami/fi/tests/test_models.py
  ami/fi/tests/test_userinfo.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

Reorder env variables (#708)
  .env
Due: none

@cdesquilbet-dila's review
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

Track holiday zones on matomo (#750)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/lib/notifications.test.ts
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

Also track holiday zones COUNT on matomo (#750)
  public/mobile-app/src/lib/matomo.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

Rename WrapperWithFooter to PageWrapper (#801)
  public/mobile-app/src/lib/components/PageWrapper.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Use the new PageWrapper for the profile preferred username form (#801)
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

Use the new PageWrapper for the profile address form (#801)
  public/mobile-app/src/routes/edit-address/+page.svelte
Due: npm-lint-and-format

Reduce the header when scrolling through the content (#801)
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
  public/mobile-app/src/lib/components/WrapperWithFooter.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Use the new PageWrapper for the profile email form (#801)
  public/mobile-app/src/lib/components/PageWrapper.svelte
  public/mobile-app/src/lib/utils.ts
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format, typescript-check

Create a WrapperWithFooter component (#801)
  public/mobile-app/src/lib/components/WrapperWithFooter.svelte
  public/mobile-app/src/routes/procedure/+page.svelte
Due: npm-lint-and-format

Fix the action-buttons padding (override the default for <ul> in the DSFR) (#801)
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-email/+page.svelte
  public/mobile-app/src/routes/edit-preferred-username/+page.svelte
Due: npm-lint-and-format

Better layout for the "gérer" button in the notifications screen (#874)
  public/mobile-app/src/lib/components/NavWithBackButton.svelte
Due: npm-lint-and-format

@cdesquilbet-dila's review (remove now useless test)
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Remove the now unused "requests enabled" feature flag (#823)
  .env
  .env.development
  public/mobile-app/src/lib/ConnectedHomepage.svelte
  public/mobile-app/src/lib/ConnectedHomepage.svelte.test.ts
  public/mobile-app/src/lib/components/Navigation.svelte
  public/mobile-app/src/lib/components/Navigation.svelte.test.ts
Due: npm-lint-and-format, typescript-check

Rename help texts for scheduled notifications commands (#708)
  ami/notification/management/commands/delete-published-scheduled-notifications.py
  ami/notification/management/commands/publish-scheduled-notifications.py
Due: no-vanilla-httpx-usage, pyright

FI: implement token (#708)
  .env
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_token.py
  ami/fi/utils.py
  ami/settings.py
Due: no-vanilla-httpx-usage, pyright

FI: add CRON to delete expired FISessions (#708)
  ami/fi/management/__init__.py
  ami/fi/management/commands/__init__.py
  ami/fi/management/commands/delete-expired-fi-sessions.py
  ami/fi/tests/test_delete-expired-fi-sessions_command.py
  cron.json
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

FI: always logout from FC before FI login (#708)
  public/mobile-app/src/lib/france-connect.test.js
  public/mobile-app/src/lib/france-connect.ts
  public/mobile-app/src/routes/fi/+page.svelte
Due: npm-lint-and-format, typescript-check

FI: go back to proxy (if defined) after authorize (#708)
  ami/fi/api_views.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

FI: front page and api view to test login (#708)
  .env
  ami/authentication/urls.py
  ami/authentication/views.py
  ami/settings.py
  public/mobile-app/src/routes/fi/+page.svelte
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

FI: implement authorize (#708)
  ami/authentication/tests/conftest.py
  ami/conftest.py
  ami/fi/api_exceptions.py
  ami/fi/api_views.py
  ami/fi/serializers.py
  ami/fi/tests/test_authorize.py
Due: no-vanilla-httpx-usage, pyright

FI: use PUBLIC_FC_PROXY_BASE_URL in settings (#708)
  .env
  .github/workflows/pytest.yml
  CONTRIBUTING.md
  ami/authentication/auth.py
  ami/authentication/tests/test_login.py
  ami/authentication/views.py
  ami/fi/api_views.py
  ami/fi/tests/test_authorize.py
  ami/fi/tests/test_token.py
  ami/fi/utils.py
  ami/settings.py
  bin/start.sh
  public/mobile-app/src/lib/france-connect.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

Harmonize dt table names in replication
  ami/replication/migrations/0002_remove_anonymizeduser_original_id_and_more.py
  ami/replication/migrations/0004_set_replication_id_primary_key.py
  ami/replication/migrations/0005_anonymizednotification_anonymizedregistration.py
Due: no-vanilla-httpx-usage, pyright

front: remove "custom" flag for agenda items (#802)
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/agenda.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
Due: npm-lint-and-format, typescript-check

front: fix Preferences.fromJSON to have Address[] (#802)
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: reorganize zone and cities in agenda item description (#802)
  public/mobile-app/package-lock.json
  public/mobile-app/package.json
  public/mobile-app/src/lib/agenda.test.ts
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check

front: hide zones if holiday zones match all user preferences (#802)
  public/mobile-app/src/lib/state/preferences.test.ts
  public/mobile-app/src/lib/state/preferences.ts
Due: npm-lint-and-format, typescript-check
