Repository numerique-gouv/ami-notifications-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

no-vanilla-httpx-usage:
  name: no vanilla httpx usage
  entry: bin/check-no-vanilla-httpx-usage.sh
  language: system

npm-lint-and-format:
  name: npm lint and format
  entry: npm run lint-and-format
  language: system

typescript-check:
  name: typescript type checking
  entry: npm run type-check
  language: system
  pass_filenames: false

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system

front: mock fetch call (#1461)
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

back: add citycode in identity token (#1461)
  ami/partner/api_views.py
  ami/partner/serializers.py
  ami/partner/tests/test_api_views.py
  ami/service/serializers.py
  ami/service/tests/test_services_item_parameters.py
  ami/utils/__init__.py
  ami/utils/tests/test_generate_identity_tokens_in_file.py
Due: no-vanilla-httpx-usage, pyright

front: add citycode in procedure url (#1461)
  public/mobile-app/src/lib/api-services.test.ts
  public/mobile-app/src/lib/api-services.ts
  public/mobile-app/src/lib/procedure.test.ts
  public/mobile-app/src/lib/procedure.ts
  public/mobile-app/src/lib/services.test.ts
  public/mobile-app/src/lib/services.ts
  public/mobile-app/src/routes/procedure/+page.svelte
  public/mobile-app/src/routes/procedure/page.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: add citycode in Address and AddressFromBAN (#1461)
  public/mobile-app/src/lib/address.test.ts
  public/mobile-app/src/lib/address.ts
  public/mobile-app/src/lib/addressesFromBAN.test.ts
  public/mobile-app/src/lib/addressesFromBAN.ts
  public/mobile-app/src/lib/citiesFromGeoAPIAndBAN.test.ts
  public/mobile-app/src/lib/citiesFromGeoAPIAndBAN.ts
  public/mobile-app/src/lib/state/User.svelte.test.ts
  public/mobile-app/src/lib/state/User.svelte.ts
  public/mobile-app/src/routes/edit-address/+page.svelte
  public/mobile-app/src/routes/edit-address/page.svelte.test.ts
  public/mobile-app/tests/utils.ts
Due: npm-lint-and-format, typescript-check

front: followup, items with milestone have status (#1422)
  public/mobile-app/src/lib/followup.test.ts
  public/mobile-app/src/lib/followup.ts
Due: npm-lint-and-format, typescript-check

front: followup, add followup subitem status on agenda tile (#1422)
  public/mobile-app/src/lib/components/AgendaItem.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte
  public/mobile-app/src/lib/components/followup/FollowupItemDetail.svelte.test.ts
Due: npm-lint-and-format, typescript-check

front: mark decorative emojis in agenda & followup item modale (#1422)
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte.test.ts
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte
  public/mobile-app/src/lib/components/modal/FollowupItemModal.svelte.test.ts
Due: npm-lint-and-format, typescript-check

checklist: ignore Sigle links (#1465)
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
Due: no-vanilla-httpx-usage, pyright

checklist: also use <TitreFlottant> for intertitles (#1465)
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
Due: no-vanilla-httpx-usage, pyright

checklist: do not confuse iteration condition and fragment condition (#1464)
  ami/checklist/tests/test_structure.py
  ami/checklist/utils.py
Due: no-vanilla-httpx-usage, pyright

checklist: let init_checklists command update lists (#1465)
  ami/checklist/management/commands/init_checklists.py
  ami/checklist/tests/test_command.py
Due: no-vanilla-httpx-usage, pyright

checklist: add F2485 ("je pars vivre à l'étranger") (#1464)
  ami/checklist/management/commands/data/F2485.json
  ami/checklist/management/commands/init_checklists.py
  ami/checklist/tests/test_command.py
Due: no-vanilla-httpx-usage, npm-lint-and-format, pyright

front: agenda item modale, change delete button wording (#1422)
  public/mobile-app/src/lib/components/modal/AgendaItemModal.svelte
Due: npm-lint-and-format

followup: ignore subitems with milestone in item status (#1422)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

trusted_nav: add trusted_urls endpoint (#1412)
  .env
  ami/settings.py
  ami/utils/api_urls.py
  ami/utils/api_views.py
  ami/utils/tests/test_trusted_urls.py
Due: no-vanilla-httpx-usage, pyright

general: add certbot and django-letsencrypt (#1494)
  pyproject.toml
  uv.lock
Due: none

general: add letsencrypt app (#1494)
  ami/settings.py
  ami/well_known/urls.py
Due: no-vanilla-httpx-usage, pyright

front: trace apiFetch and notificationEventsSocket (#1407)
  public/mobile-app/src/lib/auth.ts
  public/mobile-app/src/lib/notifications.ts
Due: npm-lint-and-format, typescript-check

front: trace localStorage initialization and logins/logouts (#1407)
  public/mobile-app/src/lib/initializeDataFromAPI.ts
  public/mobile-app/src/lib/state/User.svelte.ts
Due: npm-lint-and-format, typescript-check

front: add a log level setting (#1407)
  .env
  public/mobile-app/src/lib/telemetry.test.ts
  public/mobile-app/src/lib/telemetry.ts
Due: npm-lint-and-format, typescript-check

general: attach user identifier to sentry events (#1407)
  ami/authentication/middleware.py
  ami/utils/sentry.py
  ami/utils/tests/test_sentry.py
  public/mobile-app/src/lib/telemetry.test.ts
  public/mobile-app/src/lib/telemetry.ts
Due: no-vanilla-httpx-usage, npm-lint-and-format, typescript-check, pyright

icon-btn: remove icon external link (#1437)
  public/mobile-app/src/routes/services/+page.svelte
  public/mobile-app/src/styles/components/_button.scss
  public/mobile-app/static/icons/custom/external-link-line.svg
Due: npm-lint-and-format

followup: return partner_name and not service_name (#1485)
  ami/followup/schemas.py
  ami/followup/tests/test_notification_data.py
Due: no-vanilla-httpx-usage, pyright

partner: add a flag displayed_on_front (#1447)
  ami/agent_admin/forms.py
  ami/agent_admin/tests/manage/test_partner.py
  ami/partner/api_views.py
  ami/partner/migrations/0007_displayed_on_front.py
  ami/partner/models.py
  ami/partner/tests/test_api_views.py
Due: no-vanilla-httpx-usage, pyright

Path conditions:
  no-vanilla-httpx-usage: any of: \.py$
  npm-lint-and-format: any of: \.(js|ts|svelte|json)$
  typescript-check: any of: \.(ts|tsx)$
  pyright: any of: \.py$
